@import 'styles/_global.scss';

.ErrorMessages {
}

.MessageBar {
  background-color: $color-neutral-grey2;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  @include media-q('<=phone') {
    display: block;
  }
}

.ErrorInfo {
  > p {
    margin-top: 0;
  }
}

.ErrorList {
}

.ActionButton {
  width: auto;
  @include media-q('<=phone') {
    margin-left: 2.5rem;
  }
}

.AlertIcon {
  display: inline-block;
  vertical-align: text-bottom;
  width: 2rem;
  height: 2rem;
  fill: $color-support-warning;
}
