.DocumentListHeader {
  display: flex;
  padding-top: 1.6rem;

  > * {
    flex: 1;
    flex-basis: 50%;
  }

  &_Date {
    font-size: var(--ams-heading-level-4-font-size);
    line-height: var(--ams-heading-level-4-line-height);
    font-weight: var(--ams-text-font-weight-bold);
  }
}
