@mixin center-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin centered-max($max-width: $main-boxed-width) {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
}

@mixin centered-block {
  @include centered-max;

  @include mq-tablet() {
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: none;
  }

  @include mq-phone() {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@mixin heading($size, $line-height, $unit: 'rem') {
  font-size: #{$size}#{$unit};
  line-height: #{$line-height};
}

@mixin heading-large {
  @include heading(3, 1);
  font-weight: 600;

  @include mq-phone() {
    @include heading(2.4, 1);
  }
}

@mixin heading-medium-large {
  @include heading(2.4, 1.3);
  font-weight: 600;

  @include mq-phone() {
    @include heading(2.1, 1.3);
  }
}

@mixin heading-medium {
  @include heading(2, 1.3);
  font-weight: 600;
}

@mixin heading-small {
  @include heading(1.8, 1.3);
  font-weight: 600;
}

@mixin heading-tiny {
  @include heading(1.6, 1.3);
  font-weight: 600;
}

@mixin reset-list-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin select($names...) {
  $selectors: ();
  @each $name in $names {
    $selectors: append($selectors, ('[class*="#{$name}"]'), comma)
  }
  #{$selectors} {
    @content;
  }
}

@mixin select-id($names...) {
  $selectors: ();
  @each $name in $names {
    $selectors: append($selectors, ('[id="#{$name}"]'), comma)
  }
  #{$selectors} {
    @content;
  }
}

@mixin hoverCapable {
  @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active),
    (hover: hover) {
    @content;
  }
}

@mixin IE11() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin button-unstyled() {
  border: 0;
  background: transparent;
  padding: 0;
  width: auto;
}

@mixin media-q($sizes...) {
  @include media($sizes...) {
    @content;
  }
}

@mixin mq-phone() {
  @include media-q('<phone') {
    @content;
  }
}

@mixin mq-tablet() {
  @include media-q('<tablet') {
    @content;
  }
}

@mixin mq-desktop() {
  @include media-q('>=tablet') {
    @content;
  }
}

@mixin input() {
  display: block;
  color: $color-black;
  padding: .6em 1.2em .5em .6em;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border: 0.1rem solid $color-neutral-grey4;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

@mixin inputSelect() {
  @include input();
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-white;
  background-image: url("../../assets/icons/Chevron-Down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .85em auto, 100%;

  &::-ms-expand {
    display: none;
  }
  option {
    font-weight:normal;
  }
}

@function str-split($string, $separator) {
  $i: str-index($string, $separator);
  @if $i != null {
    @return append(
      str-slice($string, 1, $i - 1),
      str-split(str-slice($string, $i + str-length($separator)), $separator)
    );
  }
  @return $string
}
