.Table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 var(--amsterdam-grid-gap);
  text-align: left;
}

.Table__grid {
  border-spacing: 0;

  thead>tr {
    margin-top: var(--amsterdam-grid-gap);
  }
}

.TableRow__Grid {
  display: grid;
  grid-template-columns: repeat(var(--amsterdam-grid-wide-column-count), 1fr);
  gap: var(--amsterdam-grid-gap);
  margin-bottom: var(--amsterdam-grid-gap);
}