.Table {
  width: 100%;
  border: 0;
  border-collapse: collapse;

  tr:first-of-type td {
    border-top: 0;
  }

  thead th,
  thead td {
    border-bottom: 0.2rem solid var(--ams-color-neutral-grey1);
    padding-bottom: 0.5rem;
  }
}

.TableRow {
  td {
    padding: 1em 1em 1em 0;
    vertical-align: top;
    border-top: 0.1rem solid var(--ams-color-neutral-grey1);
  }

  th {
    text-align: left;

    color: var(--ams-color-neutral-grey3);
    font-weight: 500;
  }
}

.DisplayPropTitle {
  @include select(ButtonLink_ButtonLink) {
    white-space: normal;
    display: block;
  }
}

.DisplayPropLabel {
  display: none;
  padding-right: 0.3rem;
}

.DisplayProp {
  color: var(--ams-color-neutral-grey3);
  font-weight: normal;
  white-space: nowrap;
}
