.TableV2 {
  width: 100%;
  margin-bottom: var(--ams-space-s);

  :global {
    .ams-table__caption {
      font-size: var(--ams-typography-heading-2-font-size);
    }

    tr {
      .ams-table__cell,
      .ams-table__header-cell {
        position: relative;
        hyphens: auto;
        hyphenate-limit-chars: var(--ams-typography-hyphenate-limit-chars);
        &:first-child {
          padding-inline-start: 0 !important;
        }
        &:last-child {
          padding-inline-end: 0 !important;
        }
      }

      .ams-table__header-cell {
        user-select: none;

        .ams-icon {
          position: absolute;
          top: 8px;
          right: 8px;
        }
      }
    }
  }
}
