@import 'styles/_global.scss';


.Pagination {

}

.PageList {
  justify-content: space-between;
  display: inline-flex;
  padding: 0;
  list-style-type: none;
}

.PageSelectButton {
  background: none;
  border: 0;
  padding: 0;
  width: 2.8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 .2rem;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $color-primary-red;
    text-decoration: underline;
  }

  &.SelectedPage {
    background-color: $color-neutral-grey4;
    color: $color-white;
    &:hover {
      text-decoration: none;
    }
  }

  &.PagePrevButton,
  &.PageNextButton {
    width: auto;
    padding: 0 .3rem;
    font-weight: bold;

    &:hover {
      background-color: inherit;
      color: $color-primary-red;
      text-decoration: underline;

      svg {
        fill: $color-primary-red;
      }
    }

    svg {
      height: 100%;
    }
  }
}
