.SearchBar {
  position: relative;
  max-width: 60rem;

  &.in-page {
    max-width: none;
  }
}

.Results {
  position: absolute;
  width: calc(100% - 4rem);
  background-color: $color-white;
  border: 0.1rem solid $color-neutral-grey4;
  margin-top: 0;
  border-top: 0;
  // transform: translateX(-1rem);

  @include mq-tablet() {
    width: 100%;
    border: 0;
  }
}

.SearchBar.in-page .Results {
  position: relative;
  border: 0;
  width: auto;
}

.NoResults:first-child {
  margin-top: 0;
}

.ResultList {
  @include reset-list-style;
}

.ResultListItem {
  margin: 0;
  position: relative;
  padding: 0.6rem 0;
  &.is-extended {
    margin-bottom: 2rem;
  }

  [class*='Button_Icon__'] {
    position: relative;
    transform: translateY(1px);
    margin: 0 2px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.ResultsPending {
  @include select(Spinner_Spinner) {
    margin-right: 0.3rem;
  }
}
.ResultSet {
  margin: 1rem;
  margin-bottom: 2rem;
}
.ResultSetLink {
  font-weight: normal;
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    svg {
      fill: $color-primary-red;
    }
  }
}
.ResultUrl {
  font-size: 0.8em;
  color: $color-neutral-grey4;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  :hover & {
    color: inherit;
  }
}

.DisplayPath {
  em {
    font-style: normal;
    font-weight: bold;
  }
}

.DisplayPathSegment {
  white-space: nowrap;
  margin-right: 0.5rem;
  &:not(:first-child) {
    color: $color-neutral-grey4;
    font-weight: normal;
    margin-left: 0.4rem;
    font-size: 0.9em;
  }
  &:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ExternalUrl {
  float: right;
  transform: translateY(6px);
  position: relative;
}

.Form {
  display: flex;
}

.InputWrap {
  flex-grow: 1;
  position: relative;
}

.Input {
  height: 3.6rem;
  padding: 0.4rem 0.8rem;
  appearance: none;
  font-size: 1.6rem;
  border: solid 0.1rem $color-neutral-grey4;
  border-radius: 0;
  box-sizing: border-box;
  line-height: 1.4rem;
  width: 100%;
}

.SubmitButton {
  background-color: $color-primary-red;
  height: 3.6rem;
  width: 3.6rem;
  margin-left: 0.4rem;
  padding: 0.8rem;
  bottom: 0;
  &:hover {
    background-color: rgb(225, 0, 0);
    svg path {
      fill: $color-white;
    }
  }
}

.CloseButton {
  height: 3.6rem;
  min-width: 3.6rem;
  width: 3.6rem;
  margin-left: 0.4rem;
  padding: 0.8rem;
  bottom: 0;
}
