.SearchBar {
  position: relative;
  max-width: 24rem;

  @media screen and (min-width: $ams-breakpoint-medium) {
    max-width: 60rem;
  }

  &.in-page {
    max-width: none;
  }
}

:global(.is-typeAheadActive) {
  @include select(Dashboard_Header) {
    display: none;
  }
  :global(#page-breadcrumbs),
  :global(#page-main-content),
  :global(#page-main-footer) {
    display: none;
  }
}

.Results {
  position: absolute;
  width: 100%;
  background-color: var(--ams-color-background);
  margin-top: 0;
  border-top: 0;
  @media screen and (min-width: $ams-breakpoint-medium) {
    border: 1px solid var(--ams-color-text);
  }
}

.SearchBar.in-page .Results {
  position: relative;
  border: 0;
  width: auto;
  border: 0;
}

.NoResults:first-child {
  margin-top: 0;
}

.ResultList {
  @include reset-list-style;
  gap: var(--ams-space-m) !important;
}

.ResultListItem {
  line-height: initial;
}

.ResultsPending {
  @include select(Spinner_Spinner) {
    margin-right: 0.3rem;
  }
}
.ResultSet {
  margin: var(--ams-space-l) 0;
  @media screen and (min-width: $ams-breakpoint-medium) {
    margin: var(--ams-space-l) var(--ams-space-m);
  }
}
.ResultSetLink {
  font-weight: normal;
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    svg {
      fill: var(--ams-color-feedback-error);
    }
  }
}
.ResultUrl {
  font-size: 0.8em;
  color: var(--ams-color-interactive-disabled);

  :hover & {
    color: inherit;
  }
}

.DisplayPath {
  em {
    font-style: normal;
    font-weight: bold;
  }
}

.DisplayPathSegment {
  margin-right: 0.5rem;
  line-height: inherit;

  &:not(:first-child) {
    color: var(--ams-color-interactive-disabled);
    font-weight: normal;
    margin-left: 0.4rem;
    font-size: 0.9em;
  }
}

.ExternalUrl {
  float: right;
  transform: translateY(6px);
  position: relative;
}

.Form {
  display: flex;
  position: relative;
}

.InputWrap {
  flex-grow: 1;
  position: relative;
}

.Input {
  width: 100%;
  padding: 0 var(--ams-space-m);
}

.ClearButton {
  --ams-button-tertiary-hover-border-color: transparent;
  position: absolute;
  right: 0;
  transform: translateX(calc(100% * -1));
}
