.SearchBar {
  position: relative;
  max-width: 60rem;

  &.in-page {
    max-width: none;
  }
}

:global(.is-typeAheadActive) {
  @include select(Dashboard_Header) {
    display: none;
  }
  @include select(App_App) {
    display: none;
  }
  @include select('ams-page-footer') {
    display: none;
  }
}

.Results {
  position: absolute;
  width: 100%;
  background-color: var(--ams-color-background);
  margin-top: 0;
  border-top: 0;
  border: 1px solid var(--ams-color-text);
}

.SearchBar.in-page .Results {
  position: relative;
  border: 0;
  width: auto;
  border: 0;
}

.NoResults:first-child {
  margin-top: 0;
}

.ResultList {
  @include reset-list-style;
}

.ResultListItem {
  margin: 0;
  position: relative;
  padding: 0.6rem 0;
  &.is-extended {
    margin-bottom: 2rem;
  }

  [class*='Button_Icon__'] {
    position: relative;
    transform: translateY(1px);
    margin: 0 2px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.ResultsPending {
  @include select(Spinner_Spinner) {
    margin-right: 0.3rem;
  }
}
.ResultSet {
  margin: 1rem;
  margin-bottom: 2rem;
}
.ResultSetLink {
  font-weight: normal;
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    svg {
      fill: var(--ams-color-feedback-error);
    }
  }
}
.ResultUrl {
  font-size: 0.8em;
  color: var(--ams-color-interactive-disabled);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  :hover & {
    color: inherit;
  }
}

.DisplayPath {
  em {
    font-style: normal;
    font-weight: bold;
  }
}

.DisplayPathSegment {
  white-space: nowrap;
  margin-right: 0.5rem;
  &:not(:first-child) {
    color: var(--ams-color-interactive-disabled);
    font-weight: normal;
    margin-left: 0.4rem;
    font-size: 0.9em;
  }
  &:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ExternalUrl {
  float: right;
  transform: translateY(6px);
  position: relative;
}

.Form {
  display: flex;
}

.InputWrap {
  flex-grow: 1;
  position: relative;
}

.Input {
  width: 100%;
  padding: 0 var(--ams-space-m);
}
