@import '../../styles/_global.scss';

.Search {
  z-index: z-index(main-nav-bar-inner--tablet);
  position: absolute;
  left: 0;
  right: 0;
}

.SearchBar {
  padding: 2.6rem;
  background-color: $color-neutral-grey1;
}

.SearchBarInner {
  max-width: 60rem;
  margin: 0 auto;
}

.SearchBarInput {
  z-index: 2;
  position: relative;
}

.Results {
  position: absolute;
  width: 100%;
  max-width: 56rem;
  background-color: $color-white;
  padding: 1rem;
  border: 0.1rem solid $color-neutral-grey4;
  margin-top: 0;
  border-top: 0;
  z-index: 1;
  // transform: translateX(-1rem);
}

.NoResults:first-child {
  margin-top: 0;
}

.ResultSet {
  margin-bottom: 2rem;
}

.ResultList {
  @include reset-list-style;
}
.ResultListItem {
  margin: 0;
  svg {
    position: relative;
    transform: translateY(1px);
    margin: 0 2px;
    &:first-child {
      margin-left: 0;
    }
  }
  a:hover {
    svg {
      fill: $color-primary-red;
    }
  }
}
.ResultListItem a {
  display: block;
  padding: 0.6rem 0;
}

.ResultSetTitle {
  color: $color-neutral-grey4;
  border-bottom: 0.1rem solid $color-neutral-grey3;
  font-weight: 400;
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.ResultListItem--selected {
  background-color: $color-neutral-grey1;
}
