@import '../../styles/_global.scss';

.LogoutLink {
  cursor: pointer;
  font-weight: normal;

  @include mq-tablet() {
    color: $color-neutral-grey4 !important;

    &:hover {
      color: $color-primary-red !important;
    }

    font-weight: 700;

    > svg {
      fill: $color-neutral-grey4;
      width: 2.4rem;
      height: 2.4rem;

      margin-right: 1.6rem;
    }
  }
}
