
.action-button {
  padding: 1.4rem 1.5rem;
  min-width: 6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  background-color: $color-primary-red;
  color: $color-white;
  border: 1px solid $color-primary-red;
  font-weight: 500;

  @include hoverCapable {
    &:hover {
      background-color: $color-support-red;
      border-color: $color-support-red;
      color: $color-white;
    }
  }

  &[disabled],
  &[readonly],
  &.disabled {
    background-color: $color-neutral-grey2 !important;
    border-color: $color-neutral-grey2 !important;
    cursor: not-allowed;
    pointer-events: none;
    color: $color-neutral-grey3 !important;
  }

  &:visited {
    color: inherit;
  }

  &.secondary {
    background-color: $color-support-blue;
    border-color: $color-support-blue;

    &, &:focus {
      color: $color-white;
    }

    &.line-only {
      &, &:focus {
        background-color: $color-white;
        color: $color-support-darkblue;
        border-color: $color-support-blue;
      }
    }

    @include hoverCapable {
      &:hover {
        background-color: $color-support-darkblue;
        border-color: $color-support-darkblue;
        color: $color-white;
      }
    }
  }

  &.line-only {
    background-color: $color-white;
    border-color: $color-primary-red;
    color: $color-primary-red;

    &:not(.secondary):hover {
      background-color: $color-support-red;
      border-color: $color-support-red;
      color: $color-white;
    }
  }

  + .action-button {
    margin-left: 1rem;
  }
}
