
.action-button {
  padding: 1.4rem 1.5rem;
  min-width: 6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  text-decoration: none;
  background-color: $color-primary-red;
  color: $color-white;
  border: 0;
  font-weight: 500;

  @include media(">tablet") {
    &:hover {
      background-color: $color-support-red;
      color: $color-white;
    }
  }

  &[disabled],
  &[readonly],
  &.disabled {
    background-color: $color-neutral-grey2 !important;
    cursor: not-allowed;
    pointer-events: none;
    color: $color-neutral-grey3 !important;
  }

  &.secondary {
    background-color: $color-support-blue;
    @include media(">tablet") {
      &:hover {
        background-color: $color-support-darkblue;
      }
    }
    &.line-only {
      border-color: $color-support-darkblue;
      color: $color-support-darkblue;

      @include media(">tablet") {
        &:hover {
          color: $color-white;
        }
      }
    }
  }

  &.line-only {
    background-color: $color-white;
    border: 1px solid;
    border-color: $color-primary-red;
    color: $color-primary-red;

    &:not(.secondary):hover {
      background-color: $color-primary-red;
      color: $color-white;
    }
  }
}
