openapi: 3.0.3
info:
  version: '1.0'
  title: Mijn Amsterdam api spec for Mijn Amsterdam - Dienstverlening api's
  description: |
    We're providing a set of endpoints that can be used to retrieve data from source api's. These api's are intended for users other than Mijn Amsterdam
    Note: the paths that start with /private are only accessible in development mode (localhost) or via our private-network resources.
  contact:
    name: Mijn Amsterdam
    url: https://mijn.amsterdam.nl/
    email: mijnAmsterdam@amsterdam.nl
paths:
  /api/v1/status/health:
    get:
      description: Endpoint for checking whether the server has started.
      responses:
        '200':
          description: Returns "OK" when server is started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthyResponse'

  /private/api/v1/services/wmo/voorzieningen:
    post:
      security:
        - bearerAuth: []
        - apimSubscriptionKey: []
      description: |
        Gets a list of compacted WMO voorzieningen.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bsn:
                  type: string
                  description: The BSN of the user to fetch the WMO voorzieningen for.
      responses:
        '200':
          description: |
            A list of huidige toegewezen WMO voorzieningen sorted by datumBesluit desc.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/WmoVoorzieningenCompactResponse'
        '500':
          $ref: '#/components/responses/ApplicationErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

  /private/api/v1/services/afis/e-mandates/sign-request-status-notify:
    post:
      security:
        - bearerAuth: []
        - apimSubscriptionKey: []
      description: |
        Endpoint to receive push notifications from AFIS about the status of e-mandate sign requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AfisStatusNotificationRequestBody'
      responses:
        '200':
          description: |
            Acknowledgement of the received notification.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AfisStatusNotificationResponse'
        '500':
          description: |
            Returns Application error, any error in code or from failed requests.
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/AfisApplicationError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'

components:
  securitySchemes:
    apimSubscriptionKey:
      description: Apim subscription key provided via https://devportal.api.amsterdam.nl/
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    BadRequestResponse:
      description: Returns bad request error
      content:
        'application/json':
          schema:
            $ref: '#/components/schemas/ErrorBadRequest'
    UnauthorizedResponse:
      description: Returns unauthorized error (invalid api key / token)
      content:
        'application/json':
          schema:
            $ref: '#/components/schemas/ErrorUnauthorized'
    ServiceUnavailableResponse:
      description: Returns Service Unavailable error
      content:
        'application/json':
          schema:
            $ref: '#/components/schemas/ErrorUnavailable'
    ApplicationErrorResponse:
      description: |
        Returns Application error, any error in code or from failed requests.
      content:
        'application/json':
          schema:
            $ref: '#/components/schemas/ApplicationError'
  schemas:
    HealthyResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - OK
        content:
          type: string
          enum:
            - OK
    WmoVoorzieningenCompactResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/WmoVoorzieningCompact'
        status:
          type: string
          enum:
            - 'SUCCESS'
    WmoVoorzieningCompact:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        productGroup:
          type: string
        beschikkingNummer:
          type: string
        productIdentificatie:
          type: string
        beschiktProductIdentificatie:
          type: string
        datumBesluit:
          type: string
    AfisStatusNotificationRequestBody:
      type: object
      properties:
        id_client:
          type: string
          example: '1000'
        debtornumber:
          type: string
          example: '123456'
        cid:
          type: string
          example: '2345678910'
        mpid:
          type: string
          example: '1234567890'
        payment_reference:
          type: string
          example: '123456789'
        id_request_client:
          type: string
          example: 'test'
        event_type:
          type: string
          example: 'payment'
        amount_total:
          type: string
          example: '45500'
        id_bank:
          type: string
          example: 'ABNANL2A'
        iban:
          type: string
          example: 'GB33BUKB20201555555555'
        bic:
          type: string
          example: 'INGBNL2A'
        account_owner:
          type: string
          example: 'John Doe'
        event_date:
          type: string
          format: date
          example: '2024-01-05'
        event_time:
          type: string
          format: time
          example: '11:27'
        variable1:
          type: string
          example: 'GB33BUKB20201555555555'
    AfisStatusNotificationResponse:
      type: object
      properties:
        content:
          type: string
          enum:
            - 'E-Mandate created successfully'
        status:
          type: string
          enum:
            - 'SUCCESS'
    ApplicationError:
      type: object
      description: |
        Error if a part of the application returns an error, mostly dependency errors to remote systems.
      properties:
        content:
          nullable: true
        code:
          type: number
          enum:
            - 500
        status:
          type: string
          enum:
            - 'ERROR'
        message:
          type: string
    AfisApplicationError:
      allOf:
        - $ref: '#/components/schemas/ApplicationError'
        - type: object
          properties:
            message:
              type: string
              enum:
                - 'Failed to create E-Mandate from sign request status notification'
    ErrorUnavailable:
      type: object
      properties:
        content:
          nullable: true
        code:
          type: number
          enum:
            - 503
        status:
          type: string
          enum:
            - 'ERROR'
        message:
          type: string
          enum:
            - 'Service Unavailable'
    ErrorNotFound:
      type: object
      properties:
        content:
          nullable: true
        code:
          type: number
          enum:
            - 404
        status:
          type: string
          enum:
            - 'ERROR'
        message:
          type: string
          enum:
            - 'Not Found'
    ErrorUnauthorized:
      type: object
      properties:
        content:
          nullable: true
        code:
          type: number
          enum:
            - 401
        status:
          type: string
          enum:
            - 'ERROR'
        message:
          type: string
          enum:
            - 'Api key ongeldig'
            - 'Authorisatie header mist'
            - 'Authorisatie header verkeerd gevormd'
            - 'Unauthorized'
    ErrorBadRequest:
      type: object
      properties:
        content:
          nullable: true
        code:
          type: number
          enum:
            - 400
        status:
          type: string
          enum:
            - 'ERROR'
        message:
          type: string
          example: 'Invalid input'
