.MyNotifications > ul {
  @include reset-list-style;
}

.MyNotificationItem {
  border-top: 1px solid $color-neutral-grey2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  @include mq-gt-phone() {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.Icon {
  position: absolute;
  left: 0;
  bottom: 0;
  fill: $color-primary-red;
  width: 2rem;
  height: 2rem;

  @include mq-gt-phone() {
    width: 3.2rem;
    height: 3.2rem;
    top: 0;
    bottom: unset;
  }
}

.NotificationHeader {
  max-width: 80%;
}

.MetaInfo {
  position: relative;
  padding-left: 2.8rem;

  @include mq-gt-phone() {
    padding-left: 4rem;
  }
}

.MetaInfoSecondary {
  width: calc(100% - 24px);

  @include mq-tablet() {
    display: inline-block;
    vertical-align: middle;
  }
}

.MoreInformation,
.Description {
  ul {
    margin: 1.2rem 0;
    padding-left: 1.8rem;
  }

  p {
    margin: 0.2rem 0;
  }
}

.MoreInformation {
  margin-top: 1rem;
}

.Datum {
  font-size: 1.4rem;
  color: $color-neutral-grey4;
}

.Action {
  margin: 0;
  margin-top: 0.4rem;
}

.FooterLink {
  margin: 0;
  padding: 2rem 0;
}

.ThemaIndication {
  font-style: normal;
  display: inline;

  &:after {
    content: ' ';
  }
}

.NoItemsInfo {
  margin: 0;
  margin-top: 2rem;
}

.FakeContent {
  padding-left: 0;
}

.Body {
  max-width: 60rem;
  overflow: hidden;
  height: 0;
  position: relative;
  padding-left: 2.8rem;

  @include mq-gt-phone() {
    padding-left: 4rem;
  }
}

.TitleToggle {
  margin: 0;
  border: 0;
  background: 0;
  padding: 0;
  text-align: left;
  color: inherit;

  width: 100%;

  &[aria-expanded='true'] .CaretIcon {
    transform: translateY(-50%) rotate(-90deg);
  }

  &:disabled {
    cursor: default;
  }
}

.CaretIcon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(90deg);
  transition: transform 200ms ease-out;
  width: 1.6rem;
  height: 1.6rem;

  @include mq-gt-phone() {
    width: 2rem;
    height: 2rem;
  }
}

.TipReason {
  a {
    text-decoration: underline;
    cursor: pointer;
  }

  span {
    display: block;
  }

  svg {
    transform: translateY(0.3rem);
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
  }
}
