.HeaderLink {
  cursor: pointer;
}
.MetaInfoSecondary {
  font-size: var(--ams-typography-heading-6-font-size);
}
.ThemaIndication {
  font-style: normal;
  padding-right: 5px;
}
.Datum {
  color: var(--ams-color-interactive-disabled);
}
