.HeaderLink {
  cursor: pointer;
  // font-size: var(--ams-text-level-4-font-size);
}
.MetaInfoSecondary {
  font-size: var(--ams-text-level-6-font-size);
}
.ThemaIndication {
  font-style: normal;
}
.Datum {
  color: var(--ams-color-neutral-grey3);
}
.Body {
}
.Description {
}
.AlertIcon {
  // position: absolute;
  // display: none;
}
