@import '../../../../styles/_global.scss';

.GenericBase {
  @include select(InfoDetail_Value) {
    padding-right: 0;
  }
}
.InfoDetailDescription {
  white-space: pre-wrap;
}

.SuperTitle {
  font-size: 1.6rem;
  margin: 0;
  color: #767676;
  font-weight: normal;
  margin-bottom: 1rem;
}

.Title {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 2rem;
}

.IsPhone {
 font-size: 2rem;
}
