@import '../../../../styles/_global.scss';

.GenericBase {
  @include select(InfoDetail_Value) {
    padding-right: 0;
  }
}

.InfoDetailDescription {
  white-space: pre-wrap;
}

.Title {
  margin: 0;
  margin-bottom: 2rem;
}
