@import '../../styles/_global.scss';

.SiaDetail {
}

.DetailInfo {
  color: $color-neutral-grey4;
  margin-top: 0;
}

.DetailInfo + .DetailInfo {
  margin-bottom: 4rem;
}

.SiaStatus {
  margin-top: 4rem;
}

.Images {
  display: flex;
  margin-bottom: 1rem;
}

.ImgContainer {
  margin-left: 1rem;
  width: 33.3%;

  &:first-child {
    margin-left: 0;
  }
}

.Img {
  width: 100%;
  height: auto;
}

.ImageDetails [class^='InfoDetail_Value'] {
  padding-right: 0;
}

.NoPadding p {
  padding: 0;
}
