@import 'styles/_global.scss';

.Page {
  @include select(PageContentMainBody_PageContentMainBody) {
    > p {
      margin-right: 16rem;
      margin-left: 16rem;

      &:last-of-type {
        margin-bottom: 7rem;
      }

      @include respond-to(phone) {
        margin-left: 3.4rem;
        margin-right: 3.4rem;
      }
    }
  }

  @include select(DataLinkTable) {
    @include select(Heading) {
      margin-left: 13.5rem;
      margin-right: 13.5rem;

      @include respond-to(phone) {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
      }
    }
    @include select(DataLinkTable_Table) {
      width: 100%;
    }
    @include select(DataLinkTable_DisplayProp) {
      width: 20%;
    }
    @include select(DataLinkTable_DisplayPropTitle) {
      width: 60%;
      padding-right: 3em;
    }
  }
}

.DataLinkTableCurrent {
  @include select(DataLinkTable_Panel) {
    border-bottom: 0;
  }
}

.HistoricDataLinkTable {
  background-color: $color-neutral-grey1;
  @include select(DataLinkTable_Panel) {
    border-bottom: 0;
  }
}
