@import 'styles/_global.scss';

.Page {
  @include select(PageContentMainBody_PageContentMainBody) {
    > p {
      margin-right: 16rem;
      margin-left: 16rem;

      @include media("<=tablet") {
        margin-right: 2rem;
        margin-left: 12rem;
      }

      @include media("<=phone") {
        margin-left: 0;
        margin-right: 0;

        &:last-of-type {
          margin-bottom: 2rem;
        }
      }
    }
  }

  @include select(DataLinkTable) {
    @include select(Heading) {
      margin-left: 13.5rem;
      margin-right: 13.5rem;
    }
    @include select(DataLinkTable_Table) {
      width: 100%;
    }
    @include select(DataLinkTable_DisplayProp) {
      width: 20%;
    }
    @include select(DataLinkTable_DisplayPropTitle) {
      width: 60%;
      padding-right: 3em;
    }

    @include media("<=tablet") {
      @include select(Heading) {
        margin-left: 9.5rem;
        margin-right: 9.5rem;
      }
    }
    @include media("<=phone") {
      @include select(Heading) {
        margin-left: 0;
        margin-right: 0;
      }
      @include select(DataLinkTable_Table) {
        width: auto;
      }
      @include select(DataLinkTable_DisplayProp) {
        width: auto;
      }
      @include select(DataLinkTable_DisplayPropTitle) {
        width: auto;
        padding-right: 0;
      }
    }
  }
}

.DataLinkTableCurrent {
  @include select(DataLinkTable_Panel) {
    border-bottom: 0;
  }
}

.HistoricDataLinkTable {
  background-color: $color-neutral-grey1;
  margin-top: -0.1rem; // Overlap border bottom of Datatable above
  @include select(DataLinkTable_Panel) {
    border-bottom: 0;
  }
}
