@import '../../styles/_global.scss';

.Tutorial {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-neutral-grey5, 0.8);
  z-index: z-index(tutorial-overlay);
  overflow: hidden;
}

.TutorialItem {
  position: absolute;
}

.TutorialItemInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.TutorialText {
  color: $color-white;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: bold;
  text-align: center;
  width: 30rem;
  margin: 0;
  position: relative;

  @include mq-phone() {
    width: 20rem;
  }
}

.ArrowIcon {
  position: relative;
  transform-origin: center center;
  width: 11rem;
  @include mq-phone() {
    width: 5rem;
  }
  height: auto;
}

.right-top {
  .TutorialItemInner {
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translateX(-2rem);
  }
  .ArrowIconContainer {
    transform: translateX(-50%);
  }
  .ArrowIcon {
    transform: rotate(180deg);
  }
  .TutorialText {
    transform: translateY(-1rem);
  }
}

.right-bottom {
  .TutorialItemInner {
    flex-direction: column-reverse;
    position: absolute;
    top: .6rem;
    left: calc(100% - 2rem);
  }
  .ArrowIcon {
    transform: scaleX(-1) translateX(50%);
  }
}

.left-bottom {
  .TutorialItemInner {
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    right: calc(100% - 2rem);
  }
  .ArrowIcon {
    transform: rotate(0deg) translateX(50%);
  }
}

.left-top {
  .TutorialItemInner {
    position: absolute;
    bottom: 0;
    right: 100%;
    transform: translateX(2rem);
  }
  .ArrowIconContainer {
    transform: translateX(50%);
  }
  .ArrowIcon {
    transform: rotate(180deg) scaleX(-1);
  }
  .TutorialText {
    transform: translateY(-1rem);
  }
}

.TutorialResizing .TutorialItem {
  visibility: hidden;
}

.TutorialItemHeading {
  margin: 0;
  display: inline-block;
  color: $color-black;
  position: relative;

  &:before {
    content: '';
    background-color: $color-white;
    border-radius: 1rem;
    display: block;
    padding: 1rem;
    position: absolute;
    top: -1rem;
    left: -1rem;
    bottom: -1rem;
    right: -1rem;
    z-index: -1;
  }
}

.CloseTutorial {
  position: fixed;
  left: 50%;
  top: calc(#{$main-header-topbar-height} + 10px);
  transform: translateX(calc(#{$main-boxed-width/2} - 40px));

  @include mq-tablet() {
    left: calc(100% - 40px);
    top: calc(#{$main-header-topbar-height--tablet} + 10px);
    transform: none;
  }

  &:hover {
    @include select(Button_Icon) {
      fill: $color-white;
    }
  }
  @include select(Button_Icon) {
    fill: $color-white;
    transform: scale(1.2);
  }
}
