@import 'styles/_global.scss';

.Landing {
  margin-bottom: 10rem;

  ul {
    margin: 0;
    padding-left: 2rem;
    list-style-type: square;
  }
}

.LoginBtn {
  display: flex;
  height: 4.6rem;
  width: 18.5rem; // ie11 fallback
  width: fit-content;
  cursor: pointer;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-decoration: none;
  background-color: $color-primary-red;
  color: $color-white;
  font-weight: 700;
  padding-right: 1.3rem;
  line-height: 4.6rem;

  &:focus {
    color: $color-black;
  }
}

.LoginLogo {
  height: 4.6rem;
  margin-right: 1.3rem;
  border-right: 1rem solid $color-white;
  background-color: #000;
}

@include select(PageContentMainHeading) {
  position: relative;
}

.BetaLogo {
  position: absolute;
  height: 100%;
  width: auto;
  margin-top: -1rem;
  right: 0;
}
