@import 'styles/_global.scss';

.LoginBtn {
  display: inline-flex;
  height: 4.6rem;
  width: 28rem; // ie11 fallback
  width: fit-content;
  text-decoration: none;

  > span {
    background-color: $color-primary-red;
    color: $color-white;
    font-weight: 700;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    line-height: 4.6rem;
  }

  + p {
    margin-top: 1rem;
  }
}

.LoginBtnDisabled {
  cursor: progress;
  span {
    background-color: $color-neutral-grey2 !important;
    border-color: $color-neutral-grey2 !important;
    cursor: not-allowed;
    pointer-events: none;
    color: $color-neutral-grey3 !important;
  }
  & {
    filter: grayscale(100%);
  }
}

.LoginLogo {
  height: 4.6rem;
  margin-right: 1.3rem;
  background-color: #000;
}

@include select(Heading_Heading__tiny) {
  + p, + ul {
    margin-top: 0;
  }
}

.Heading {
  @include IE11 {
    overflow: hidden;
  }
}

.BetaLogo {
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  display: block;
}
