.Panel {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--ams-color-primary-white);
  max-height: 100%;
  height: auto;
  padding-top: 3.2rem;
  z-index: 401;
}

.PanelInner {
  position: relative;
  z-index: 1;
  max-height: 100%; // set max height to enable overflow scrolling.
  overflow-y: auto;
}

.PanelWide {
  width: 48rem;
  top: 0;
  // + 0px acts as a pattern for the react-spring props calculation
  transform: translate3d(calc(-100% + 0px), 0, 0);
}

.CategoryPanel {
  margin-top: 3.2rem;

  > li:first-child {
    border-top: 0;
  }
}

.PanelContent {
  padding: 1.6rem 0 1.6rem 0;
}

.PanelNarrow {
  right: 0;
  // - 0px acts as a pattern for the react-spring props calculation
  transform: translate3d(0, calc(100% - 0px), 0);
}

.PanelInner {
  position: relative;
  z-index: 1;
  max-height: 100%;
  overflow-y: auto;
}

.PanelInnerPhone {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  max-height: 100%;
  padding-top: 1rem;
}

.PanelInnerDesktop {
  padding-right: 3.2rem;
  padding-left: 1.6rem;
}

.PanelTogglePhone {
  border: 0;
  padding: 0;
  appearance: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 4rem;
  z-index: 2;

  &:after {
    content: '';
    display: block;
    height: 0.9rem;
    width: 12rem;
    border-radius: 1.2rem;
    background: var(--ams-color-primary-blue);
  }
}

.PanelToggleDesktop {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  background-color: var(--ams-color-primary-white);
  border: 0;
  padding: 0;
  box-shadow: none;
  z-index: 2; // Place above innerpanels so we hide the scrollbar of that panel
  width: 3.2rem;
  transform: 'none';
  &[aria-expanded='true'] .Icon {
    transform: rotate(180deg);
    transition: transform 200ms ease-in;
  }
}

.Icon {
  height: 3.2rem;
  width: 1.6rem;
  background-color: var(--ams-color-primary-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 100%;
  position: absolute;
  top: 1.25rem;
}

.CloseButton {
  position: absolute;
  right: 2.4rem;
  top: 1.6rem;
  z-index: 3;
}

.LabelStyle {
  display: inline-flex;
  vertical-align: middle;
  color: var(--ams-color-primary-black);
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 1;
  font-weight: 500;
  > span {
    display: flex;
    align-items: center;
    > small {
      display: inline-block;
      margin-top: 0.2rem;
      margin-left: 0.4rem;
    }
  }
}

.IsDimmed {
  opacity: 0.5;
  font-weight: normal;
}

.LabelText {
  margin: 0.9rem;
  order: 1;
  p {
    margin: 0 0 0 0.8rem;
  }
}

.PropertyFilterPanel {
  margin-left: 3.6rem;
}

.FilterPropertyName {
  display: block;
  line-height: 3rem;
}

.CollapsibleButton {
  appearance: none;
  border: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0.3rem;
  z-index: 3;
  width: 3.6rem;
  height: 3.6rem;
  &:hover,
  &:focus {
    visibility: visible;
  }
  &[aria-expanded='true'] .CaretIcon {
    transform: rotate(90deg);
  }
  transition: transform 80ms linear;
}

.CaretIcon {
  height: 1em;
  width: 1em;
  transform: rotate(0);
  left: 0;
  transition: transform 200ms ease-out;
}

.PanelError {
  margin-top: 2rem;
}
