.PanelListItem {
  position: relative;
  border-top: 1px solid #e6e6e6;
  > ol > li > ol > li {
    border-top: 0;
  }
  > ol > li {
    margin-left: 37px;
  }
}

.PanelList {
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
