.PanelListItem {
  position: relative;
  border-top: 0.1rem var(--ams-color-neutral-grey1) solid;
  > ol > li > ol > li {
    border-top: 0;
  }
  > ol > li {
    margin-left: 3.7rem;
  }
}

.PanelList {
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
