.FacturenTable {
  tr td:nth-child(2) {
    white-space: normal;
    word-wrap: break-word;
  }
}

:global(.ams-paragraph) {
  &.PageContentBottomDisclaimer {
    margin-top: calc(-1 * var(--ams-grid-column-gap));
  }
}
