# Jira token for API access. Create a token at https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_BASE_URL=  # Copy url from board including: boards/<number>
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_ACCEPTANCE_CRITERIA_FIELD_ID=  # Optional: customfield_<id> for Acceptance Criteria
