# Jira token for API access. Create a token at https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_BASE_URL=https://gemeente-amsterdam.atlassian.net/jira/software/c/projects/MIJN/boards/1237
JIRA_EMAIL=t.van.walen@amsterdam.nl
JIRA_API_TOKEN=
