# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
build
build-bff

.node-persist

# misc
.idea
.history
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.eslintcache
*.flat-cache.json
*.db
*.db-shm
*.db-wal
/.localstorage
/.localstorage-shm
/.localstorage-wal
