version: '3.5'
services:
  # Unit testing
  test-unit:
    build:
      context: .
      dockerfile: Dockerfile.test
    command: npm run test

  # E2E testing
  api:
    build:
      context: .
      dockerfile: ./Dockerfile.test
    volumes:
      - ./mock-api:/app/mock-api
    command: npm run mock-api

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.test
    depends_on:
      - api
    environment:
      - REACT_APP_BUILD_ENV=e2e
    command: npm run start

  e2e:
    image: cypress/included:3.4.1
    working_dir: /e2e
    environment:
      - CYPRESS_baseUrl=http://localhost:3000
      # - DEBUG=cypress:*
      - no_proxy=localhost #needs to be lowercase as this takes precedence over the uppercase verion on the build server
    depends_on:
      - frontend
      - api
    volumes:
      - ./cypress:/e2e/cypress
      - ./cypress.json:/e2e/cypress.json
