version: '3.5'
services:
  # Unit testing
  test-unit:
    build:
      context: .
      dockerfile: Dockerfile
      target: build-deps
      args:
        - REACT_APP_ENV=test-unit
    entrypoint: npm test

  # E2E testing
  e2e-frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: build-deps
      args:
        - REACT_APP_ENV=e2e
    environment:
      - HOST=e2e-frontend
      - MOCK_API_HOST=e2e-frontend

  e2e-testsuite:
    image: cypress/included:3.4.1
    working_dir: /e2e
    environment:
      - CYPRESS_baseUrl=http://e2e-frontend:80
      # - DEBUG=cypress:*
      - no_proxy=localhost,e2e-frontend,api #needs to be lowercase as this takes precedence over the uppercase verion on the build server
    depends_on:
      - e2e-frontend
    volumes:
      - ./cypress:/e2e/cypress
      - ./cypress.json:/e2e/cypress.json
