version: '3.5'
services:
  mijnamsterdam: # NGINX
    build: .
    ports:
      - "8103:80"

  test-unit:
    build:
      context: .
      target: build-deps
      args:
        - BUILD_ENV=test-unit # prevents Dockerfile from building the app when running unit tests
    command: npm run test
