version: '2.1'
services:
  # Unit testing
  test-unit:
    build:
      context: .
      dockerfile: Dockerfile.test
    command: npm run test

  # E2E testing
  api:
    build:
      context: .
      dockerfile: ./Dockerfile.test
    volumes:
      - ./mock-api:/app/mock-api
    command: npm run mock-api

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.test
    depends_on:
      - api
    healthcheck:
        test: ["CMD", "curl", "-f", "http://frontend:3000"]
        interval: 30s
        timeout: 10s
        retries: 15
    environment:
      - REACT_APP_BUILD_ENV=e2e
      - HOST=frontend
      - MOCK_API_HOST=api
    command: npm run start

  e2e:
    image: cypress/included:3.4.1
    working_dir: /e2e
    environment:
      - CYPRESS_baseUrl=http://frontend:3000
      # - DEBUG=cypress:*
      - no_proxy=localhost,frontend,api #needs to be lowercase as this takes precedence over the uppercase version on the build server
    depends_on:
      frontend:
        condition: service_healthy
      # - api
    restart: on-failure
    volumes:
      - ./cypress:/e2e/cypress
      - ./cypress.json:/e2e/cypress.json
    # command: sleep(10) & cypress run
