version: '3.5'
services:
  # Unit testing
  test-unit-bff:
    build:
      context: .
      dockerfile: Dockerfile
      target: build-deps
    entrypoint: npm run bff-api:test

  test-unit-client:
    build:
      context: .
      dockerfile: Dockerfile
      target: build-deps
      args:
        - REACT_APP_ENV=test-unit
    entrypoint: npm test

  # E2E testing
  e2e-frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: serve-bff
      args:
        - REACT_APP_ENV=e2e
    expose:
      - "3000"
    environment:
      - PORT=3000
      - REDIRECT_AFTER_LOGIN=http://e2e-frontend:3000

  e2e-testsuite:
    image: cypress/included:3.4.1
    working_dir: /e2e
    environment:
      - CYPRESS_baseUrl=http://e2e-frontend:3000
      # - DEBUG=cypress:*
      - no_proxy=localhost,e2e-frontend,api #needs to be lowercase as this takes precedence over the uppercase verion on the build server
    depends_on:
      - e2e-frontend
    volumes:
      - ./cypress:/e2e/cypress
      - ./cypress.json:/e2e/cypress.json
