.CardListContainer {
  padding-top: 16px;
  border-top: 2px solid #eeeeee;
}

.SmallScreenHeading {
  // For consistent alignment of the icon.
  width: 325px;
}

.Block {
  display: block;
}

.CancellationLink {
  margin-left: 50px;
}

.ColumnLargeScreen {
  width: 800px;
}

.LocationModalLink {
  background: none;
  border: none;
  padding: 0;
  color: var(--ams-color-interactive);
  text-decoration: underline;
  &:hover {
    box-shadow: none !important;
  }
}
