@import '../../styles/_global.scss';

.ToeristischeVerhuur {
  @include select(PageContent) {
    padding-bottom: $page-content-bottom-space;
  }
}

.NoBorder {
  border-top: none;
}

.Detail {
  padding-top: 1.6rem;
}

.DetailText {
  padding-bottom: 0.4rem;
  display: block;
  margin: 0;
  font-weight: normal;
  color: $color-neutral-grey5;
}

.InvertedLabel {
  color: $color-black;
  display: block;
  font-weight: 500;
  font-size: 1.8rem;
  margin: 0;
  padding-right: 16rem;

  @include mq-phone {
    padding-right: 0;
  }
}

.TableTop {
  margin-top: 2.6rem;
  width: 100%;
  border: 0;
  border-bottom: 0;
  border-collapse: collapse;
}

.RegistrationNumber {
  margin-bottom: 2.6rem;
}

.SectionNoBorderBottom {
  border: 0;
}

.SectionBorderTop {
  border-top: 0.1rem $color-neutral-grey2 solid;
  padding-top: 2rem;
}

.Table {
  tr td {
    width: 25%;
    @include mq-tablet() {
      width: 100%;
    }
  }
}

.TableVergunningen {
  tr td {
    width: 25%;
    &:first-child {
      width: 50%;
      @include mq-tablet() {
        width: 100%;
      }
    }
  }

  + .TableVergunningen {
    margin-top: 2rem;
  }
}

.DisclaimerCollapseText {
  max-width: 64rem;
  margin: auto;
  margin-bottom: 4rem;
}

.ErrorAlert {
  margin-bottom: 2rem;
}
