@import 'styles/_global.scss';

.GarbageInformation {

}

.InfoSection {
  padding-top: 4rem;
  @include select(SectionCollapsible_Panel) {
    border: 0;
    border-top: .1rem solid $color-neutral-grey2;
  }
}

.InfoSectionGarbagePoints {

}

@mixin GarbagePanel {
  margin: 0 auto;
  padding: 0;
  max-width: 62rem;

  @include mq-tablet {
    margin-left: 9.5rem;
  }

  @include mq-phone {
    margin-left: 0;
  }
}

.Panel {
  padding: 2rem 0;
  border-top: .1rem solid $color-neutral-grey2;

  &:first-child {
    border-top: 0;
  }

  @include select(Heading_Heading__tiny) {
    color: $color-neutral-grey4;
    font-weight: normal;
    @include GarbagePanel;
  }

  p {
    @include GarbagePanel;
    font-weight: bold;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.AfvalPunten {
  @include select(Heading_Heading__small) {
    @include GarbagePanel;
    margin-bottom: 2rem;
  }
  p {
    font-weight: normal;
    white-space: pre-wrap;

    > strong {
      display: block;
    }
  }
}

.AddressPanel {
  max-width: $main-boxed-width;
  margin: 0 auto;
  margin-top: 4rem;
}

.DistanceToHome {
  font-size: 1.3rem;
  color: $color-neutral-grey4;
  font-weight: normal;
}

.GarbageContainerMap {
  height: 50rem;
}

.ToggleOtherGarbagePointsButton {
  max-width: 62rem;
  margin: 0 auto;
}

.InfoSectionOtherGarbagePoints {
  padding-top: 0;
  @include select(SectionCollapsible_Panel) {
    border-top: 0;
  }
}
