.FacturenAlert {
  overflow-x: auto;
}

.FacturenAlertDataView {
  margin-top: 0;

  th,
  td {
    white-space: nowrap;

    // Prevents vertical overflow when there are 2 invoices or less
    padding-block: 0.2rem;
  }
}
