@import '../../styles/_global.scss';

.MyArea2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include select(MyArea2_MyAreaLoader) {
    position: absolute;
  }
}

.MapArea {
  position: relative;
  flex-grow: 1;
}
