.ZoomBar {
  margin-bottom: 16px;
  margin-top: 20px;
}

.Button {
  display: flex;
  font-weight: 700;
  line-height: 20px;
  padding: 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
}
