.ZoomBar {
  margin-bottom: 16px;
  margin-top: 20px;

  .Button {
    :global(.ams-icon--size-5) {
      block-size: var(--ams-icon-size-5-font-size);
      inline-size: var(--ams-icon-size-5-font-size);
    }
  }
}

.Button {
  display: flex;
  font-weight: 700;
  line-height: 20px;
  padding: 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;

  :global(.ams-icon--size-5) > svg {
    block-size: var(--size-level-2);
    inline-size: var(--size-level-2);
  }
}
