.LoadingPlaceholder {
  width: 100%;
  display: grid;
  grid-template-columns: 2.7rem 0.2rem 20rem;
  grid-template-rows: 2.7rem;

  > :nth-child(2) {
    grid-column: 3;
  }

  > :nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  > :nth-child(4) {
    grid-column: 3;
    grid-row: 3;
  }

  > :nth-child(1),
  > :nth-child(3) {
    border-radius: 50%;
  }

  > :nth-child(2),
  > :nth-child(4) {
    margin-top: 0.2rem;
  }
}

.ThemaLink {
  :global(.ams-link) & {
    display: flex;
    align-items: center;
  }
}
.ThemaLinkIcon {
  margin-right: calc(1rem * 0.5);
}

.LinkList {
  --ams-unordered-list-gap: 1rem;
}
