.HistoricItemsMention {
  margin: 0 auto;
  max-width: 45rem;
  text-align: center;
  padding: 2rem 1rem;
  --ams-paragraph-color: #{$color-neutral-grey4};
}

.SectionCollapsibleCurrent {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-top: 1.7rem;
}

@media screen and (min-width: $ams-breakpoint-medium) {
  .EerdereRegelingen,
  .HuidigeRegelingen {
    tr {
      > th,
      > td {
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2),
        &:nth-child(3) {
          width: 25%;
        }
      }
    }
  }
}
