@import '../../styles/_global.scss';

.ZorgOverviewPage {
  @include select(PageContent) {
    padding-bottom: 5rem;
  }
}

.HistoricItemsMention {
  margin: 0 auto;
  max-width: 45rem;
  text-align: center;
  color: $color-neutral-grey4;
  padding: 1rem;
}

.SectionCollapsibleCurrent {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-top: 1.7rem;
}
