.DossiersTable {}

.DossiersTable_col1 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.DossiersTable_col2 {
  grid-column-start: 5;
  grid-column-end: span 3;
}

.DossiersTable_col3 {
  grid-column-start: 8;
  grid-column-end: span 3;
}

.DossiersTable_col4 {
  grid-column-start: 11;
  grid-column-end: span 2;
}


.FacturenTable_col1 {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.FacturenTable_col2 {
  grid-column-start: 5;
  grid-column-end: span 2;
}

.FacturenTable_col3 {
  grid-column-start: 7;
  grid-column-end: span 2;
}

.FacturenTable_col4 {
  grid-column-start: 9;
  grid-column-end: span 2;
}

.FacturenTable_col5 {
  grid-column-start: 11;
  grid-column-end: span 2;
}