.OpenFacturenTableThemaPagina {
  tr {
    th,
    td {
      vertical-align: top;

      // Fix for large cell content and horizontal white space between this and the next cell.
      &:nth-child(3) {
        width: 25%;
      }

      @media screen and (min-width: $ams-breakpoint-medium) {
        &:nth-child(1) {
          width: 20%;
        }

        &:nth-child(2) {
          width: 20%;
        }

        &:nth-child(3) {
          width: 15%;
        }
      }
    }
  }
  @media screen and (max-width: $ams-breakpoint-medium) {
    :global {
      caption.ams-table__caption {
        font-size: var(--ams-text-level-3-font-size);
      }
    }
  }
}
