.DossierDetail__ordered_list {
  margin-bottom: 2rem;
}

.Grid {
  gap: 0;
}

.ErfpachtDetail {

  dl {
    margin: 0;
  }

  // TODO: Find a way to use the h4 style without re-declarin
  dt {
    break-after: avoid;
    break-inside: avoid;
    color: var(--amsterdam-heading-color);
    font-family: var(--amsterdam-heading-font-family);
    font-weight: var(--amsterdam-heading-font-weight);
    box-sizing: border-box;
    margin-block: 0;
    -webkit-text-size-adjust: 100%;
    font-size: var(--amsterdam-heading-4-narrow-font-size);
    line-height: var(--amsterdam-heading-4-line-height);

    @media screen and (min-width: 53.375rem) {
      font-size: var(--amsterdam-heading-4-wide-font-size);
    }
  }

  dd {
    padding: 0;
    margin: 0 0 2rem 0;

    &:last-of-type:not(:first-of-type) {
      margin-bottom: 0;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    text-align: left;
  }
}

.Section {
  margin-top: 3rem;
  // border: 1px solid red;


}

.Section__heading {
  margin-bottom: 1rem;
}

.Section__heading_nested {
  margin-top: 3rem;
}

.GridNested {
  padding: 0;
}