@import '../../styles/_global.scss';

.DossierDetail__ordered_list {
  margin-bottom: 2rem;
}

.ErfpachtDetail {

  dl {
    margin: 0;
  }

  // TODO: Find a way to use the h4 style without re-declarin
  dt {
    font-family: var(--amsterdam-heading-font-family);
    font-weight: var(--amsterdam-heading-font-weight);
  }

  dd {
    padding: 0;
    margin: 0 0 2rem 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    text-align: left;
  }
}

.Section__heading {
  margin-bottom: 1rem;
}

.Section__heading_nested {
  margin-top: 3rem;
}

.FacturenBetaler {
  padding: 0;

  dl dd {
    margin-bottom: 0;
  }
}

.ColumnList {
  @media screen and (min-width: $amsterdam-breakpoint-medium) {
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--amsterdam-grid-gap);
    grid-template-rows: repeat(20, 1fr); // Will be replaced dynamically
  }

  @media screen and (min-width: $amsterdam-breakpoint-wide) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: $amsterdam-breakpoint-medium) {
  .FacturenTable_col1 {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .FacturenTable_col2 {
    grid-column-start: 3;
    grid-column-end: span 2;
  }

  .FacturenTable_col3 {
    grid-column-start: 5;
    grid-column-end: span 2;
  }

  .FacturenTable_col4 {
    grid-column-start: 7;
    grid-column-end: span 3;
  }
}