@import '../../styles/_global.scss';

@include DesignSystemStyleAdjust();

.DossiersTable {

  @media screen and (min-width: $amsterdam-breakpoint-medium) {
    &_col1 {
      grid-column-start: 1;
      grid-column-end: span 3;
    }

    &_col2 {
      grid-column-start: 4;
      grid-column-end: span 2;
    }

    &_col3 {
      grid-column-start: 6;
      grid-column-end: span 2;
    }

    &_col4 {
      grid-column-start: 8;
      grid-column-end: span 1;
    }
  }

  @media screen and (min-width: $amsterdam-breakpoint-wide) {
    &_col1 {
      grid-column-start: 1;
      grid-column-end: span 4;
    }

    &_col2 {
      grid-column-start: 5;
      grid-column-end: span 3;
    }

    &_col3 {
      grid-column-start: 8;
      grid-column-end: span 3;
    }

    &_col4 {
      grid-column-start: 11;
      grid-column-end: span 2;
    }
  }
}

.FacturenTable,
.OpenFacturenTable {
  &__smallScreen {
    margin-bottom: 3rem;
  }

  @media screen and (min-width: $amsterdam-breakpoint-medium) {
    &_col1 {
      grid-column-start: 1;
      grid-column-end: span 3;
    }

    &_col2 {
      grid-column-start: 4;
      grid-column-end: span 2;
    }

    &_col3 {
      grid-column-start: 6;
      grid-column-end: span 2;
    }

    &_col4 {
      grid-column-start: 8;
      grid-column-end: span 4;
    }
  }

  @media screen and (min-width: $amsterdam-breakpoint-wide) {
    &_col1 {
      grid-column-start: 1;
      grid-column-end: span 3;
    }

    &_col2 {
      grid-column-start: 4;
      grid-column-end: span 3;
    }

    &_col3 {
      grid-column-start: 7;
      grid-column-end: span 3;
    }

    &_col4 {
      grid-column-start: 10;
      grid-column-end: span 3;
    }
  }
}
