.DistanceToHome {
  font-size: 1.3rem;
  color: var(--ams-color-interactive-disabled);
  font-weight: normal;
  display: inline-block;
  margin-left: 0.5rem;
}

.NoMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.AfvalFractionPanel {
  background-color: #efefef;
  margin-bottom: var(--ams-space-xl);
  padding: var(--ams-space-xl);

  dt {
    display: inline;
    font-weight: bold;
    padding-right: 10px;
    &:after {
      content: ':';
    }
  }

  dd {
    display: inline;
    padding: 0;
    margin: 0;
    p {
      display: inline;
      + p {
        display: block;
        margin-top: var(--ams-space-m);
      }
    }
  }
}

.AfvalFractionPanelTitle {
  margin: 0;
  // border-bottom: 0.1rem solid var(--ams-color-interactive-disabled);
  display: flex;
  align-items: center;
}

.AfvalFractionIcon {
  display: inline-block;
  margin-right: var(--ams-space-s);
  transform: translateY(4px);
}

.AfvalFractionPanelOpmerking {
  border: 2px solid var(--ams-link-color);
  padding: var(--ams-space-m);
  margin-top: var(--ams-space-m) !important;
}

.AfvalFractionPanelHighlight {
  border: 2px solid var(--ams-color-feedback-warning);
  padding: var(--ams-space-m);
  margin-top: var(--ams-space-m) !important;
  font-weight: var(--ams-typography-body-text-bold-font-weight);
}
