.DistanceToHome {
  font-size: 1.3rem;
  color: var(--ams-color-interactive-disabled);
  font-weight: normal;
  display: inline-block;
  margin-left: 0.5rem;
}

.NoMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.AfvalFractionPanel {
}

.AfvalFractionPanel {
  background-color: var(--ams-color-separator);
  margin-bottom: var(--ams-space-xl);
  padding: var(--ams-space-xl);

  dl {
    display: flex;
    flex-direction: row;
  }

  dt {
    min-width: 22%;
    font-weight: bold;
  }

  dd {
    width: 80%;
    p {
      + p {
        margin-top: 1rem;
      }
    }
  }
}

.AfvalFractionPanelTitle {
  margin: 0;
  // border-bottom: 0.1rem solid var(--ams-color-interactive-disabled);
  display: flex;
}

.AfvalFractionIcon {
  display: inline-block;
  margin-right: 2rem;
}

.AfvalFractionPanelOpmerking {
  border: 2px solid var(--ams-link-color);
  padding: var(--ams-space-m);
  margin-top: var(--ams-space-m) !important;
}

.AfvalFractionPanelHighlight {
  border: 2px solid var(--ams-alert-warning-border-color);
  padding: var(--ams-space-m);
  margin-top: var(--ams-space-m) !important;
}

.UnstyledList {
  @include reset-list-style();
}
