.Paragraph__bottom_margin_0 {
  margin-bottom: 0;
}

.Paragraph__bottom_margin_2 {
  margin-bottom: 2rem;
}

.Paragraph__bottom_margin_3 {
  margin-bottom: 3rem;
}

.Paragraph__bottom_margin_4 {
  margin-bottom: 4rem;
}