@import 'styles/_global.scss';

.MyNotifications > ul {
  @include reset-list-style;
}

.MyNotificationItem {
  border-top: 1px solid $color-neutral-grey2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  position: relative;

  &:first-child {
    border-top: 0;
  }

  @include media-query('<=tablet') {
    padding-left: 0;
  }
}

.Icon {
  position: absolute;
  left: 0;
  top: 2.3rem;
  fill: $color-primary-red;
  width: 3.2rem;
  height: auto;

  @include media-query('<=tablet') {
    position: static;
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    margin-right: .4rem;
  }
}

.MetaInfo {
  @include media-query('<=tablet') {
    display: inline-block;
    vertical-align: middle;
    // margin-top: 1rem;
    // margin-bottom: .4rem;
  }
}

.Description {
  margin: 0.2rem 0;
}

.Datum {
  font-size: 1.4rem;

  @include media-query('<=tablet') {
    color: $color-neutral-grey4;
  }
}

.Action {
  margin: 0;
  margin-top: 0.4rem;
}

.FooterLink {
  margin: 0;
  padding: 2rem 0;
  border-top: 1px solid $color-neutral-grey2;
  border-bottom: 1px solid $color-neutral-grey2;
}

.ChapterIndication {
  font-style: normal;
  text-transform: capitalize;
  display: none;

  @include media-query('<=tablet') {
    display: inline;

    &:after {
      content: ' ';
    }
  }
}

.NoItemsInfo {
  margin: 0;
  margin-top: 2rem;
}

// TODO: Enable when we have a design and/or decision wether we want to actually implement such a thing.
// .isUnread {
//   .Datum {
//     position: relative;
//     padding-left: 1em;

//     &:after {
//       content: '• ';
//       color: $color-support-lightblue;
//       font-size: 1.6em;
//       position: absolute;
//       left: 0;
//       top: 50%;
//       transform: translateY(-50%);
//     }
//   }
// }

.FakeContent {
  padding-left: 0;
}
