@import 'styles/_global.scss';

.Dashboard {

  // Dashboard has a different design for the heading, to match the design easily and responsively
  // a pragmatic solution with help of :before is written below.
  @include select(PageHeading_PageHeading) {
    @include centered-max;
    background: transparent;
    margin-bottom: 0;

    &:before {
      content: '';
      position: absolute;
      background: #fff;
      width: calc(50% - 2rem);
      left: 0;
      top: 0;
      bottom: 0;
    }

    @include mq-phone() {
      margin: 0 1rem;
    }

    @include select(PageHeading_HeadingInner) {
      margin: 0 4rem;
      z-index: 0;

      @include mq-tablet() {
        margin: 0 2rem;
      }

      @include mq-phone() {
        margin: 0;
      }
    }
  }

  .MyNotificationsHeadingLink {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $color-primary-red;
    }
  }

  .TopContentContainer {
    @include centered-max;
    margin-bottom: 2rem;

    @include media-q('>phone') {
      margin-bottom: 10rem;
      display: flex;
      align-items: flex-start;
    }
  }

  @include select(MyNotifications_MyNotifications) {
    overflow: hidden;
    border-top: 1px solid $color-neutral-grey2;
    margin: 0 1rem;

    @include media-q('>phone') {
      flex-grow: 1;
      margin: 0 2rem;
      margin-bottom: 8rem;
    }

    @include media-q('>tablet') {
      margin: 0 4rem;
      margin-bottom: 8rem;
    }
  }

  @include select(MyChaptersPanel_MyChaptersPanel) {
    // Adjust some margins to match the design on mobile
    @include media-q('>phone') {
      flex: 0 0 calc(50% + 2rem);
    }
  }

  @include select(MyCases_MyCases) {
    @include centered-block;
    margin-bottom: 2rem;
    @include media-q('>phone') {
      margin-bottom: 8rem;
    }
  }

  @include select(MyArea_MyArea) {
    height: 48rem;
    margin-bottom: 10rem;
    width: 100%;
  }

  @include select(DirectLinks_DirectLinks) {
    @include centered-block;
  }

  @include select(MyTips_MyTips) {
    @include centered-block;
    margin-bottom: 10rem;
  }
}
