@import 'styles/_global.scss';

.Dashboard {
  @include select(PageContentMainBody) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    @include media-query('<=phone') {
      display: block; // NOTE: This discards all the flexbox properties defined below
    }
  }

  .MyNotificationsHeadingLink {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $color-primary-red;
    }
  }

  @include select(MyNotifications_MyNotifications) {
    flex-basis: calc(
      50% - 5rem
    ); // margin-left + margin-right + custom gutter (an visually pleasing space between 2 blocks)
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 4rem;
    border-top: 1px solid $color-neutral-grey2;
    margin-bottom: 10rem;

    // In combination with Chapters panel and sizing of PageContentMainHeading__medium
    @include media-query('>phone', '<=tablet') {
      flex-basis: calc(50% - 3rem);
      margin-right: 2rem;
    }

    @include media-query('<=phone') {
      flex-basis: 100%;
      margin: 0;
    }
  }

  @include select(MyChaptersPanel_MyChaptersPanel) {
    @include IE11 {
      width: calc(50% + 1rem);
    }

    @include media-query('>tablet') {
      width: calc(
        50% + 5rem
      ); // + custom gutter (an visually pleasing space between 2 blocks)
      margin-right: -4rem;
    }

    @include media-query('>phone', '<=tablet') {
      // Weirdly sized chapters panel for tablet screens needs the following to break-out of the flex restrains
      flex-basis: calc(50% + 5rem);
      margin-left: -5rem;
      transform: translateX(5rem);
    }

    @include media-query('<=phone') {
      width: auto;
      flex-basis: auto;
      margin-left: -2rem;
      margin-right: -2rem;
      margin-top: -0.1rem; // overlap border line from sibling component rendered on top of this one
    }
  }

  @include select(MyCases_MyCases) {
    flex-basis: $main-boxed-width;
    margin-bottom: 8rem;

    @include media-query('<=phone') {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
  }

  @include select(MyArea_MyArea) {
    height: 48rem;
    margin-bottom: 10rem;
    width: 100%;
  }

  @include select(MyTips_MyTips) {
    flex-basis: $main-boxed-width;
    margin-bottom: 10rem;
  }

  @include select(DirectLinks_DirectLinks) {
    flex-basis: $main-boxed-width;
  }
}

.FirstBody {
  max-width: $main-boxed-width;
  width: 100%;
  margin: 0 auto;
  // Makes the notifications and chapters touch the bottom of Hero
  margin-top: -3.8rem;

  @include media-query('<=phone') {
    margin-top: -1rem;
  }
}
