@import 'styles/_global.scss';

.Dashboard {
  @include select(PageContentMainBody) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include media("<=phone") {
      display: block; // NOTE: This discards all the flexbox properties defined below
    }
  }

  @include select(MyUpdates_MyUpdates) {
    flex-basis: calc(50% - 5rem); // margin-left + margin-right + virtual-gutter
    flex-shrink: 0;
    overflow: hidden;
    margin-right: 4rem;
    border-top: 1px solid $color-neutral-grey2;
    margin-bottom: 5rem;

    @include select(MyUpdates_ChapterIndication) {
      display: none;
    }
  }

  @include select(MyChaptersPanel_MyChaptersPanel) {
    flex-basis: calc(50% + 1rem); // + virtual-gutter

    @include media("<=phone") {
      margin-left: -2.4rem;
      margin-right: -2.4rem;
    }
  }

  @include select(MyCases_MyCases) {
    flex-basis: $main-boxed-width;
    margin-bottom: 8rem;
    margin-top: 10rem;

    @include media("<=phone") {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
  }

  @include select(MyArea_MyArea) {
    height: 48rem;
    margin-bottom: 10rem;
  }

  @include select(MyTips_MyTips) {
    flex-basis: $main-boxed-width;
    margin-bottom: 10rem;
  }

  @include select(DirectLinks_DirectLinks) {
    flex-basis: $main-boxed-width;
  }
}

.FirstBody {
  max-width: $main-boxed-width;
  width: 100%;
  margin: 0 auto;
  // Makes the updates and chapters touch the bottom of Hero
  margin-top: -3.8rem;

  @include media("<=phone") {
    margin-top: 2rem;
  }
}
