@import 'styles/_global.scss';

.Dashboard {
  [class^="PageContentMainBody"] {
    margin-top: -3.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10rem;
  }

  [class^="MijnUpdates_MijnUpdates"] {
    flex-basis: calc(50% - 9rem); // margin-left + margin-right + virtual-gutter
    flex-shrink: 0;
    overflow: hidden;
    margin-left: 4rem;
    margin-right: 4rem;
    border-top: 1px solid $color-neutral-grey2;
    margin-bottom: 5rem;

    [class^="MijnUpdates_ChapterIndication"] {
      display: none;
    }
  }

  [class^="MyChaptersPanel_MyChaptersPanel"] {
    align-self: flex-start;
    width: calc(50% + 1rem); // + virtual-gutter
  }

  [class^="DirectLinks_DirectLinks"] {
    width: 100%;
  }
}
