@import '../../styles/_global.scss';

.CheckboxInput {
  cursor: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
}

.CheckboxIcon {
  display: flex;
  border-width: 1px;
  border-style: solid;
  width: 24px;
  height: 24px;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  pointer-events: none;
  padding: 4px;
}

.Checked {
  color: #000000;
  background-color: #000000;
  & svg {
    circle,
    rect,
    polygon,
    path {
      fill: #ffffff;
    }
  }
}

.CheckboxWrapper {
  position: relative;
  display: inline-flex;
  user-select: none;
  vertical-align: middle;
  margin-bottom: 1px;
  padding: 0px;
  margin-right: 10px;
  padding-left: 0;
  flex-shrink: 0; /* IE11 fix */
  color: #767676;
  &:hover {
    color: #000000;
  }
}

.Disabled {
  pointer-events: none;
}
