.CheckboxInput {
  cursor: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  left: 0;
}

.CheckboxIcon {
  display: flex;
  border-width: 0.1rem;
  border-style: solid;
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: var(--ams-color-primary-white);
  transition: background-color 0.2s ease-in-out;
  pointer-events: none;
  padding: 0.4rem;
}

.Checked {
  color: var(--ams-color-primary-black);
  background-color: var(--ams-color-primary-black);
  & svg {
    circle,
    rect,
    polygon,
    path {
      fill: var(--ams-color-primary-white);
    }
  }
}
