@import '../../styles/_global.scss';


.CheckboxInput {
  cursor: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 6px;
  top: 6px;
}

.CheckboxIcon {
  display: flex;
  border-width: 1px;
  border-style: solid;
  width: 22px;
  height: 22px;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  pointer-events: none;
}

.Checked {
    color: #000000;
    background-color: #000000;
    & svg {
      circle,
      rect,
      polygon,
      path {
        fill: #ffffff;
      }
    }
}

const CheckboxWrapperStyle = styled.span<Props>`
  position: relative;
  display: inline-flex;
  user-select: none;
  vertical-align: middle;
  margin-bottom: 1px;
  padding: 6px;
  flex-shrink: 0; /* IE11 fix */
  color: ${themeColor('tint', 'level5')};
  ${({ disabled }) =>
    disabled &&
    css`
      pointer-events: none;
    `}
  ${({ checked, disabled }) =>
    !checked &&
    !disabled && // IE11 fix. If an element is disabled, you can still hover on it on IE11.
    css`
      &:hover {
        color: ${themeColor('tint', 'level7')};
        ${CheckboxIconStyle} {
          outline-style: solid;
          outline-width: 1px;
        }
      }
    `}
    ${({ error, checked, disabled }) =>
    error &&
    !checked &&
    !disabled &&
    css`
      ${CheckboxIconStyle} {
        border-color: red;
        outline: 1px solid red;
      }
    `}
`