@import 'styles/_global.scss';

.MainNavBar {
  position: relative;
  height: $main-header-navbar-height;
  background-color: $color-neutral-grey1;

  @include select(FontEnlarger_FontEnlarger__) {
    position: absolute;
    margin-left: -3rem;
  }
}

.LinkContainer {
  display: flex;
  max-width: $main-boxed-width;
  background-color: $color-neutral-grey1;
  margin: 0 auto;

  @include media-query('<=tablet') {
    display: grid; // On a phone the menu is ordered differently so we use grid to have control over that
    width: $main-header-navbar-width--phone;
    margin: 0;
    z-index: z-index(main-nav-bar-inner--tablet);
    position: relative;
  }
}

.SubmenuItemTitle,
.SubmenuItemIcon {
  display: inline-block;
  border-bottom: solid 0.2rem transparent;
}

.SubmenuItemTitle {
  white-space: nowrap;
}

.MainNavLink {
  display: block;
  margin-right: 3rem;
  color: $color-black;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  padding-top: 0.9rem;
  padding-bottom: 0.7rem;

  @include hoverCapable {
    &:hover {
      color: $color-primary-red;
    }
  }

  @include hoverCapable {
    &:hover span {
      color: $color-primary-red;
      border-bottom-color: $color-primary-red;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include media-query('<=tablet') {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 1.6rem;
    border-top: 0.1rem solid $color-neutral-grey2;

    // Move home button after the Chapters menu
    &:nth-child(2) {
      grid-row: 2;
    }
  }
}

.secondaryLinks {
  position: absolute;
  margin-top: -8.1rem;
  right: calc((100vw - #{$main-boxed-width}) / 2);

  > a {
    display: inline-block;
    margin-left: 3.3rem;
    font-weight: normal;
    text-decoration: none;

    &:hover {
      color: $color-primary-red;
      text-decoration: underline;
    }
  }

  @include media-query('<=tablet') {
    position: static;
    margin-top: 0;
    grid-row: 20;

    > a {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0;
      padding-left: 1.6rem;
      border-top: 0.1rem solid $color-neutral-grey2;
      display: block;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }

    @include select(ButtonLink_ButtonLink) {
      padding-left: 1.6rem;
      // Remove the icons from the links
      &,
      &:hover {
        background-image: none;
      }
      svg {
        display: none;
      }
    }
  }
}

.MenuToggleBtn {
  height: $main-header-navbar-height;
  background-image: url('assets/images/Menu.svg');
  background-size: 24px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
  margin-left: 0.2rem;
  text-indent: -100vw; // move text outside of view
  cursor: pointer;

  &Open {
    background-image: url('assets/images/Close.svg');
  }

  @include media-query('>phone', '<=tablet') {
    margin-left: 1.2rem;
  }
}

.TutorialBtn {
  height: $main-header-navbar-height;
  background-size: 2.4rem;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: calc(50% - #{$main-boxed-width} / 2);
  font-weight: 700;
  color: $color-neutral-grey4;
  &Open {
    color: transparent;
    z-index: $tutorial-items-z-index;
    background-image: url('assets/icons/Close__primary-white.svg');
    position: fixed;
    top: $main-header-topbar-height;
    z-index: $tutorial-items-z-index;
    width: 4rem;
  }

  @include media-query('<=tablet') {
    right: 0.5rem;

    &Open {
      top: 7rem;
    }
  }
}

.Modal {
  background: $color-neutral-grey4;
  opacity: 0.5;
  position: absolute;
  top: $main-header-navbar-height;
  width: 100%;
  z-index: z-index(main-nav-bar-modal);
}
