@import 'styles/_global.scss';

.MainNavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $main-max-width;
  position: relative;
  height: $main-header-navbar-height;
}

.LinkContainer {
  display: flex;
  width: $main-boxed-width;
}

.MainNavLink {
  display: block;
  margin-right: 3rem;
  color: $color-black;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;

  &:hover {
    color: $color-primary-red;
  }

  &:last-child {
    margin-right: 0;
  }
}

@include respond-to(medium-screen) {
  .MainNavBar {
    height: auto;
    width: $responsive-header-navbar-width;
  }

  .LinkContainer {
    display: grid;
    width: $responsive-header-navbar-width;
  }

  .MainNavLink {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding-left: $responsive-header-navbar-padding-left;
    border-top: 0.1rem solid $color-neutral-grey2;

    &:first-child {
      border-top: 0.2rem solid $color-neutral-grey2;
    }
  }
}
