@import 'styles/_global.scss';

.MainNavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $main-max-width;
  background-color: $color-neutral-grey1;
  position: relative;
}

.LinkContainer {
  display: flex;
  align-items: center;
  width: $main-boxed-width;
  min-height: $main-header-navbar-height;
}

.MainNavLink {
  display: block;
  align-self: center;
  margin-right: 3rem;
  color: $color-black;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $color-primary-red;
  }

  &:last-child {
    margin-right: 0;
  }
}
