@import 'styles/_global.scss';

.ZorgDetail {
  @include select(Heading_Heading) {
    position: relative;
    @include select(ButtonLink) {
      @include heading-small;
      // position: absolute;
      text-indent: 0;
      margin-left: 14rem;
      display: block;
      font-weight: bold;
      padding-left: 1.2em;
      svg {
        height: .9em;
        width: .9em;
      }
    }
  }
}

.PageHeading {
  @include heading-large;
  margin: 0;
}
