@import 'styles/_global.scss';

.ZorgDetail {
  @include select(PageContentMainHeading) {
    position: relative;
  }

  .DocumentListHeading {
    text-indent: 16rem;
  }

  @include select(DocumentList_DocumentListItem) {
    padding-left: 16rem;
    @include select(DocumentList_MetaInfo) {
      right: 13rem;
    }
  }
}

.PageHeading {
  @include heading-large;
  margin: 0;
}
