@import 'styles/_global.scss';

.InfoDetail {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-bottom: 1rem;
  padding-top: 1.4rem;
  color: $color-neutral-grey4;

  strong {
    color: $color-black;
    display: block;
  }

  @include media-q('<tablet') {
    margin-left: 7rem;
  }
}
