@import 'styles/_global.scss';

.ZorgDetail {
  @include select(PageContentMainHeading_PageContentMainHeading) {
    margin-bottom: 1rem;
  }
  @include select(StatusLine_ListItemInner__) {
    max-width: $main-boxed-width;
    margin: 0 auto;
  }
}

.InfoDetail {
  border-top: 0.1rem solid $color-neutral-grey2;
  margin-left: 12rem;
  padding-bottom: 1rem;
  padding-top: 1.4rem;
  color: $color-neutral-grey4;

  strong {
    color: $color-black;
    display: block;
  }

  @include media-query('<=phone') {
    padding-left: 6rem;
  }
}

.LoadingContentInfo {
  padding-top: 1rem;
  margin-left: 12rem;
}

.LoadingContentHeading {
  padding-top: 0.5rem;
}
