@import 'styles/_global.scss';

.MyTips {
  width: auto;
}

.TipsList {
  @include reset-list-style;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.TipItem {
  width: calc((100% / 3) - 3%);
  p {
    margin-top: 1.2rem;
  }
  margin-bottom: 2rem;
  @include mq-phone() {
    width: 100%;
  }
}

.ImageContainer {
  margin: 0;
}

.Img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  background: $color-white;
}

.HeaderBar {
  display: flex;
  margin: 0 0 1.6rem 0;
  align-items: flex-end;

  @include select(Button_Button) {
    margin-left: 2rem;
  }

  .OptIn {
    font-size: 1.4rem;
    margin-left: auto;
    color: $color-primary-red;
    text-decoration: underline;
  }
}
