.MaRouterLink__no-underline-fat {
  --ams-link-font-weight: bold;
  text-decoration: none;
}

.MaRouterLink__no-default-underline:not(:hover) {
  text-decoration: none;
}

.MaRouterLink__no-underline {
  text-decoration: none;
}

.MaRouterLink__no-default-underline-fat {
  --ams-link-font-weight: bold;
  &:not(:hover) {
    text-decoration: none;
  }
}

.MaLink {
  --ams-icon-heading-5-line-height: none;
}

.MaButtonLink {
  -webkit-appearance: button;
  appearance: button;
  text-decoration: none;
  &:hover {
    color: var(--ams-color-background);
  }

  &[aria-disabled='true'] {
    &,
    &:hover {
      background-color: transparent;
      border: 2px solid var(--ams-color-interactive-disabled);
      color: var(--ams-color-interactive-disabled);
      box-shadow: none;
      pointer-events: none;
    }
  }
}
