@import '../../styles/_global.scss';

.MainFooter {
  background-color: $color-neutral-grey4;
}

.InnerContainer {
  @include centered-block;
  width: 100%;
}

.TopBar {
  display: flex;
  min-height: 30rem;
  @include mq-tablet {
    min-height: 16.7rem;
  }
  padding: 3rem 0 5rem;

  &, a, a:hover {
    color: $color-white;
    @include select(Button_Icon) {
      fill: $color-white;
    }
  }

  p {
    margin: 0;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: .8rem;
      @include select(Button__plain) {
        &, &:visited {
          color: $color-white;
        }
      }
    }
  }

  @include mq-tablet() {
    display: block;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
  }
}

.BottomBar {
  background-color: $color-white;
  height: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .InnerContainer {
    display: flex;
    flex-direction: row;
    @include select(Link) {
      margin-right: 3rem;
      font-size: .9em;
      font-weight: bold;
    }
  }

}

.Panel {
  @include mq-tablet() {
    > :not(:first-child) {
      display: none;
    }

    h3 {
      padding-left: 2.8rem;
      margin-top: 1.4rem;
      width: fit-content;

      &:before {
        content: '';
        background-image: url('../../assets/icons/Chevron-Right__primary-white.svg');
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem;
        transform: rotate(90deg);
        margin-left: -2.8rem;
        margin-bottom: -2rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &Open {
      > :not(:first-child) {
        display: block;
      }

      h3 {
        &:before {
          transform: rotate(-90deg);
        }
      }

      + .Panel {
        margin-top: 4rem;
      }
    }
  }
}

.Panel:nth-child(1) {
  width: 40rem;

  ul {
    list-style-type: none;
    padding-left: 3.4rem;
    margin: 1rem;

    li {
      margin: 0;
      position: relative;
      margin-bottom: .6rem;
      padding-left: 1.8rem;

      &:before {
        font-size: 100%;
        color: $color-white;
        content: '\25A0';
        display: block;
        left: 0;
        max-height: 0;
        max-width: 0;
        position: absolute ;
      }
      strong {
        display: block;
      }
    }
  }

  @include mq-tablet() {
    width: 100%;
  }
}

.Panel:nth-child(2) {
  width: 24rem;

  li {
    white-space: nowrap;
    a {
      font-weight: bold;
    }
  }

  @include mq-tablet() {
    margin: 0;
    width: 100%;
  }
}

.Panel:nth-child(3) {
  width: 32rem;
  @include mq-tablet() {
    width: 100%;
  }
}
