.FooterTop {
  .Link {
    color: var(--ams-link-inverse-color-color);
    svg {
      margin-right: 0.5rem;
    }
  }
}

.BottomBar {
  --ams-page-menu-item-font-size: var(--ams-text-level-5-font-size);
  --ams-page-menu-item-line-height: var(--ams-text-level-5-line-height);
}

.FooterLoader {
  width: 100%;
}
