@import '../../styles/_global.scss';

.InnerContainer {
  @include centered-block;
  width: 100%;
}

.FooterTop {
  .Paragraph a {
    outline-offset: var(--ams-link-list-link-outline-offset);
    text-decoration-line: var(--ams-link-standalone-text-decoration-line);
    text-decoration-thickness: var(
      --ams-link-standalone-text-decoration-thickness
    );
    text-underline-offset: var(--ams-link-standalone-text-underline-offset);
    &:hover {
      text-decoration-thickness: var(
        --ams-link-standalone-hover-text-decoration-thickness
      );
      text-underline-offset: var(
        --ams-link-standalone-hover-text-underline-offset
      );
    }
  }
  .Link {
    display: flex;
    svg {
      margin-right: 0.5rem;
    }

    span {
      color: $color-white;
      font-size: var(
        --ams-paragraph-medium-font-size
      ); // this helps to keep the font size consistent with the linklist in the middle
      line-height: var(--ams-link-list-link-medium-line-height);
    }
  }
}

.BottomBar {
  --ams-page-menu-item-font-size: var(--ams-text-level-5-font-size);
  --ams-page-menu-item-line-height: var(--ams-text-level-5-line-height);
}

.FooterLoader {
  width: 100%;
}
