@use 'sass:map';

// Global z-index control
$z-index: (
  my-area-dashboard-content: 401,
  my-area-feature-loader: 401,
  my-area-address-loader: 401,
  my-area-error-messages: 402,
  main-header: 404,
  main-header-searchbar: 405,
  modal: 500,
  dialog: 501,
);

@function z-index($key) {
  @return map.get($z-index, $key);
}
