// Global z-index control
$z-index: (
  burger-menu-backdrop: 2,
  header-error-messages: 9,
  submenu-panel: 10,
  main-nav-bar-modal: 10,
  main-nav-bar-inner--tablet: 11,
  font-enlarger-popup: 100,
  map-tile-layer: 200,
  my-area-dashboard-content: 1401,
  my-area-feature-loader: 1401,
  my-area-error-messages: 1401,
  my-area-address-loader: 1401,
  modal: 500,
  dialog: 501,
  tutorial-overlay: 1000,
  tutorial-items: 1001,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}
