@font-face {
  font-family: 'Amsterdam Sans';
  src:
    url('../assets/fonts/AmsterdamSans/AmsterdamSans-Regular.woff2')
      format('woff2'),
    url('../assets/fonts/AmsterdamSans/AmsterdamSans-Regular.woff')
      format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Amsterdam Sans';
  src:
    url('../assets/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff2')
      format('woff2'),
    url('../assets/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff')
      format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Amsterdam Sans';
  src:
    url('../assets/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff2')
      format('woff2'),
    url('../assets/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff')
      format('woff');
  font-weight: 800;
}
