@font-face {
  font-family: 'Amsterdam Sans';
  src:
    url('/fonts/AmsterdamSans/AmsterdamSans-Regular.woff2') format('woff2'),
    url('/fonts/AmsterdamSans/AmsterdamSans-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Amsterdam Sans';
  src:
    url('/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff2') format('woff2'),
    url('/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Amsterdam Sans';
  src:
    url('/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff2')
      format('woff2'),
    url('/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff')
      format('woff');
  font-weight: 800;
}
