/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@import url('https://fast.fonts.net/t/1.css?apiType=css&projectid=3680cf49-2b05-4b8a-af28-fa9e27d2bed0');

@font-face {
  font-family: 'Amsterdam Sans';
  src: url('../assets/fonts/AmsterdamSans/AmsterdamSans-Regular.woff2')
      format('woff2'),
    url('../assets/fonts/AmsterdamSans/AmsterdamSans-Regular.woff')
      format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Amsterdam Sans';
  src: url('../assets/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff2')
      format('woff2'),
    url('../assets/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff')
      format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Amsterdam Sans';
  src: url('../assets/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff2')
      format('woff2'),
    url('../assets/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff')
      format('woff');
  font-weight: 700;
}
