@import 'fonts';
// Use this file as an entry point for global styles and imports
@import 'global';
@import 'normalize';

// Import (NLDesign) Amsterdam design system components
@import '@amsterdam/design-system-tokens/dist/index.css';
@import '@amsterdam/design-system-assets/font/index.css';
@import '@amsterdam/design-system-css/src/components/heading/heading.scss';
@import '@amsterdam/design-system-css/src/components/page-menu/page-menu.scss';
@import '@amsterdam/design-system-css/src/components/header/header.scss';
@import '@amsterdam/design-system-css/src/components/paragraph/paragraph.scss';
@import '@amsterdam/design-system-css/src/components/mega-menu/mega-menu.scss';
@import '@amsterdam/design-system-css/src/components/alert/alert.scss';
@import '@amsterdam/design-system-css/src/components/grid/grid.scss';
@import '@amsterdam/design-system-css/src/components/screen/screen.scss';
@import '@amsterdam/design-system-css/src/components/margin/margin.scss';
@import '@amsterdam/design-system-css/src/components/link/link.scss';
@import '@amsterdam/design-system-css/src/components/icon/icon.scss';
@import '@amsterdam/design-system-css/src/components/margin/margin.scss';
@import '@amsterdam/design-system-css/src/components/table/table.scss';
@import '@amsterdam/design-system-css/src/components/button/button.scss';
@import '@amsterdam/design-system-css/src/components/ordered-list/ordered-list.scss';
@import '@amsterdam/design-system-css/src/components/unordered-list/unordered-list.scss';
@import '@amsterdam/design-system-css/src/components/pagination/pagination.scss';
@import '@amsterdam/design-system-css/src/components/link-list/link-list.scss';
@import '@amsterdam/design-system-css/src/components/logo/logo.scss';
@import '@amsterdam/design-system-css/src/components/visually-hidden/visually-hidden.scss';
@import '@amsterdam/design-system-css/src/components/dialog/dialog.scss';
@import '@amsterdam/design-system-css/src/components/spotlight/spotlight.scss';
@import '@amsterdam/design-system-css/src/components/icon-button/icon-button.scss';
@import '@amsterdam/design-system-css/src/components/action-group/action-group.scss';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

// Global styling and reset
html {
  box-sizing: border-box;
  height: 100%;
  background-color: var(--ams-primary-color-white);
}

body {
  // DESIGN SYSTEM BASE
  color: var(--ams-paragraph-color);
  font-family: var(--ams-paragraph-font-family);
  font-size: var(--ams-paragraph-font-size);
  font-weight: var(--ams-paragraph-font-weight);
  line-height: var(--ams-paragraph-line-height);
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  overflow-x: hidden; // Prevent scrollbar showing up in super small screens (320px) requirement for WCAG AA

  &.has-modal {
    position: fixed;
    width: 100vw;

    > *:not(#modal-root) {
      pointer-events: none;
    }
  }
}

#root {
  min-height: 100%;
  position: relative;
}

.is-typeAheadActive {
  @include mq-phone {
    @include select('App') {
      display: none;
    }

    @include select('MainFooter') {
      display: none;
    }

    @include select('MainHeaderHero') {
      display: none;
    }

    @include select('MyArea_MapContainer') {
      display: none;
    }
  }
}

.ams-grid .ams-grid {
  --ams-grid-padding-inline: 0;
}
