// Use this file as an entry point for global styles and imports
@import 'global';
@import 'normalize';
@import 'fonts';
@import 'components/components';

html, body {
  min-height: 100%;
}

// Global styling and reset
html {
  box-sizing: border-box;
  font-size: 62.5%; // translates to 10px which makes 1rem = 10px in all other elemens contained within body
  line-height: 1.375;
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: 'AvenirNext', Arial, Helvetica, sans-serif;
  color: $color-black;
  font-size: 1.6rem;
  min-width: $main-min-width;
  overflow-x: hidden; // Prevent scrollbar showing up in super small screens (320px) requirement for WCAG AA

  &.has-modal {
    position: fixed;
    width: 100vw;

    > *:not(#modal-root) {
      pointer-events: none;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  min-height: 100%;
  height: 100%;
  position: relative;
}

a {
  color: inherit;
}

p a {
  color: $color-primary-darkblue;
  &:hover {
    color: $color-primary-red;
  }
  &:visited {
    color: $color-support-purple;
  }
}

[role="button"],
button {
  cursor: pointer;
}

[role='button'],
input,
textarea,
select,
button {
  line-height: inherit;
}

h4 {
  @include heading-small;
  margin: 0;
}
h5 {
  @include heading-tiny;
  margin: 0;
}
