@import 'components/components';
@import 'fonts';
// Use this file as an entry point for global styles and imports
@import 'global';
@import 'normalize';

// Import (NLDesign) Amsterdam design system components
@import '@amsterdam/design-system-tokens/dist/index.css';
@import '@amsterdam/design-system-assets/font/index.css';
@import '@amsterdam/design-system-css/src/components/heading/heading.scss';
@import '@amsterdam/design-system-css/src/components/page-menu/page-menu.scss';
@import '@amsterdam/design-system-css/src/components/header/header.scss';
@import '@amsterdam/design-system-css/src/components/paragraph/paragraph.scss';
@import '@amsterdam/design-system-css/src/components/mega-menu/mega-menu.scss';
@import '@amsterdam/design-system-css/src/components/alert/alert.scss';
@import '@amsterdam/design-system-css/src/components/grid/grid.scss';
@import '@amsterdam/design-system-css/src/components/screen/screen.scss';
@import '@amsterdam/design-system-css/src/components/margin/margin.scss';
@import '@amsterdam/design-system-css/src/components/link/link.scss';
@import '@amsterdam/design-system-css/src/components/icon/icon.scss';
@import '@amsterdam/design-system-css/src/components/margin/margin.scss';
@import '@amsterdam/design-system-css/src/components/table/table.scss';
@import '@amsterdam/design-system-css/src/components/button/button.scss';
@import '@amsterdam/design-system-css/src/components/ordered-list/ordered-list.scss';
@import '@amsterdam/design-system-css/src/components/unordered-list/unordered-list.scss';
@import '@amsterdam/design-system-css/src/components/pagination/pagination.scss';
@import '@amsterdam/design-system-css/src/components/link-list/link-list.scss';
@import '@amsterdam/design-system-css/src/components/logo/logo.scss';
@import '@amsterdam/design-system-css/src/components/visually-hidden/visually-hidden.scss';
@import '@amsterdam/design-system-css/src/components/dialog/dialog.scss';
@import '@amsterdam/design-system-css/src/components/spotlight/spotlight.scss';
@import '@amsterdam/design-system-css/src/components/icon-button/icon-button.scss';
@import '@amsterdam/design-system-css/src/components/action-group/action-group.scss';

:root {
  --map-container-height: 100%;
  --ams-grid-row-gap: var(--ams-grid-row-gap-lg);
  --mams-font-size-rem-adjust: 62.5%;
  --mams-font-size-body: 1.6rem;
  --mams-line-height: 1.375;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

// Global styling and reset
html {
  box-sizing: border-box;
  font-size: var(
    --mams-font-size-rem-adjust
  ); // translates to 10px which makes 1rem = 10px in all other elements contained within body
  line-height: var(--mams-line-height);
  height: 100%;
  background-color: var(--mams-bg-color);
}

body {
  font-family: var(--ams-text-font-family);
  font-size: var(--mams-font-size-body);
  color: var(--ams-color-primary-black);

  // DESIGN SYSTEM BASE
  // color: var(--ams-paragraph-color);
  // font-family: var(--ams-paragraph-font-family);
  // font-size: var(--ams-paragraph-font-size);
  // font-weight: var(--ams-paragraph-font-weight);
  // line-height: var(--ams-paragraph-line-height);
  // text-rendering: optimizeLegibility;
  // -moz-text-size-adjust: none;
  // -webkit-text-size-adjust: none;
  // text-size-adjust: none;

  min-width: $main-min-width;
  overflow-x: hidden; // Prevent scrollbar showing up in super small screens (320px) requirement for WCAG AA

  &.has-modal {
    position: fixed;
    width: 100vw;

    > *:not(#modal-root) {
      pointer-events: none;
    }
  }
}

#root {
  min-height: 100%;
  position: relative;
}

a {
  color: inherit;
}

p:not(.ams-paragraph) a {
  color: $color-primary-darkblue;

  &:hover {
    color: $color-primary-red;
  }
}

[role='button'],
button {
  cursor: pointer;
}

[role='button'],
input,
textarea,
select,
button {
  line-height: inherit;
}

@import 'print.scss';

.is-typeAheadActive {
  @include mq-phone {
    @include select('App') {
      display: none;
    }

    @include select('MainFooter') {
      display: none;
    }

    @include select('MainHeaderHero') {
      display: none;
    }

    @include select('MyArea_MapContainer') {
      display: none;
    }
  }
}
