@import 'styles/_global.scss';

.Profile {

  @include select(PageContentMainBody_PageContentMainBody) {

    > p {
      margin-right: 16rem;
      margin-left: 16rem;

      &:last-of-type {
        margin-bottom: 7rem;
      }

      @include media("<=phone") {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }

    @include media("<=phone") {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @include media(">phone") {
    // Custom style
    [class*="burgerlijke-staat"] [class*="InfoPanelTableRow__voornamen"] {
      th, td {
        padding-top: 3rem;
      }
    }
  }
}

.LoadingContent {
  padding-left: 16rem;
  @include select(LoadingContent_LoadingContent) {
    margin-bottom: 6rem;
  }
}
