@import '../../styles/_global.scss';

.DetailPageContent {
  min-height: 4rem;
  padding-bottom: $page-content-bottom-space;
}

.ItemAlternatives {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
