@import 'styles/_global.scss';

.PageContentMain {
  @include page-content-main;
  position: relative;

  &__default {
    width: 100%;
    max-width: $main-boxed-width;
    margin: 0 auto;
  }

  &__full {
    width: 100%;
    margin: 0;
  }
}
