@import 'styles/_global.scss';

.PageContentMain {
  @include page-content-main;
  top: -8.5rem;
  position: relative;
  background-color: $color-white;
  margin: 0 auto;

  &__default {
    max-width: $main-boxed-width;
  }

  &__medium {
    max-width: 46rem;
  }

  &__full {
    width: 100%;
  }
}
