.MainHeaderHero {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 25%;
  background: $color-neutral-grey2;

  @include mq-tablet() {
    padding-top: 40%;
  }
}

@media print {
  .MainHeaderHero {
    display: none;
  }
}

.Image {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 20rem;
  color: $color-neutral-grey3;
  text-align: left;
}
