@import 'styles/_global.scss';

.MyArea {
  position: relative;
}

.Map {
  height: 100%;
  width: 100%;
  border: none;
}

.Overlay {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  div {
    background-color: $color-white;
    padding: 2rem 4rem;
    width: 42rem;
    margin-left: 50%;
  }
}

.Header {
  display: flex;
  height: 5.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  align-items: center;
  justify-content: space-between;

  svg {
    display: block;
    height: 3.5rem;
    width: auto;
    margin-right: 0.8rem;

    @include media("<=phone") {
      height: 3rem;
      width: 6rem;
    }
  }
}

.Title {
  font-size: 2rem;
  margin: 0;
  margin-left: 1.5rem;

  @include media("<=phone") {
    text-align: center;
  }
}

.CloseBtn {
  display: flex;
  align-items: center;
  height: 2.2rem;
  padding: 0;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  svg {
    height: inherit;
    width: 1.8rem;
    margin: 0;
    margin-left: 1rem;
  }
}
