@import 'styles/_global.scss';

.MyArea {
  position: relative;
  background-color: $color-neutral-grey1;
}

.Map {
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
}

.Overlay {
  position: absolute;

  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  div {
    background-color: $color-white;
    padding: 2rem 4rem;
    width: 42rem;
    margin-left: 50%;
  }
}

.HomeLoader {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  display: flex;
  align-items: center;
  > img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}

.Header {
  display: flex;
  height: 5.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  align-items: center;
  background-color: $color-white;

  .Logo {
    display: block;
    height: 4.5rem;
    width: 9.6rem;
    margin-right: 0.8rem;

    @include media('<=phone') {
      height: 3rem;
      width: 6.6rem;
      margin-right: 0;
    }
  }

  @include media('<=phone') {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.Title {
  font-size: 2rem;
  margin: 0;
  margin-left: 1.5rem;
  flex-grow: 1;
  transform: translateY(-0.4rem);
}

.CloseBtn {
  transform: translateY(-0.3rem);
  display: block;
  height: 2.2rem;
  padding: 0;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    height: inherit;
    width: 1.8rem;
    margin: 0;
    margin-left: 1rem;
  }

  @include media('<=phone') {
    font-size: 1.4rem;
  }
}

.loadingText {
  text-align: center;
}
