@import 'styles/_global.scss';

.MyArea {
  width: $main-max-width;
  height: inherit;
}

.Content {
  background-color: $color-white;
  padding: 2rem 4rem;
  width: 42rem;
  margin-left: 50%;
}

.Map {
  position: absolute;
  height: inherit;
  width: 100%;
  border: none;
}

.Overlay {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 48rem;
  display: flex;
  align-items: flex-end;
}

.Header {
  display: flex;
  height: 5.5rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;

  h1 {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
  }

  svg {
    height: 5rem;
    width: 10rem;
    margin-right: 0.8rem;
  }
}

.CloseBtn {
  display: flex;
  align-items: center;
  height: 2.2rem;
  padding: 0;
  background-color: transparent;
  border: 0;
  margin: auto 0rem auto 0.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: auto;

  svg {
    height: inherit;
    width: 1.8rem;
    margin: 0;
    margin-left: 1rem;
  }
}
