@import '../../styles/_global.scss';

.VergunningStatus {
  margin-top: 4rem;
}

.MapLink {
  display: block;
  font-size: 1.6rem;
}

.LocationInfo {
  white-space: pre-wrap;
}

.SectionNoBorderBottom {
  border: 0;
}

.SectionNoBorderBottomNoMarginBottom {
  margin-bottom: 0px;
  border-bottom: none;
}

.SectionExtraMarginBottom {
  margin-bottom: 5rem;
}

.SectionBorderTop {
  border-top: 0.1rem $color-neutral-grey2 solid;
  padding-top: 2rem;
}
