.LocationModalLink {
  cursor: pointer;
}

.LocationModalInner > div {
  --map-container-height: 20rem;
  --map-container-height-medium: 26rem;
  height: var(--map-container-height);

  @media screen and (min-width: $ams-breakpoint-medium) {
    height: var(--map-container-height-medium);
  }
}

.Address {
  white-space: pre-line;
  display: block;
}
