.LocationModalLink {
  cursor: pointer;
}

.LocationModalInner {
  --map-container-height: 40rem;
  height: var(--map-container-height);
  margin-bottom: 5rem;
}

.Address {
  white-space: pre-line;
  display: block;
}
