.ErrorMessages.Dismissed {
  display: none;
}

.MessageBar {
  background-color: var(--ams-color-primary-white);
  width: min(calc(100vw - 2rem), calc(var(--ams-dialog-max-inline-size) * 1.5));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 1rem;
}

.ErrorFromServer {
  display: block;
  font-size: 0.8em;
  color: var(--ams-color-neutral-grey3);
  display: none;
}

.ErrorList li:active {
  .ErrorFromServer {
    display: block;
  }
}
