@import '../../styles/_global.scss';

.MessageBar {
  background-color: $color-neutral-grey2;
  margin: 0;
  padding: 1rem 3.5rem .8rem 1rem;
  transition: all 200ms ease-in-out;
  width: 100%;
  position: absolute;
  right: 0;
  left: auto;
  z-index: 1;
}

.MessageBarInner {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.ErrorMessages.Dismissed .MessageBar {
  background: transparent;

  .MessageBarInner {
    opacity: 0;
  }
}

.ErrorInfo {
  > p {
    margin-top: 0;
  }
}

.AlertIcon {
  display: inline-block;
  vertical-align: text-bottom;
  width: 2rem;
  height: 2rem;
  fill: $color-support-warning;
}

.ModalFooter {
  @include select(Checkbox_Checkbox) {
    margin-left: 1rem;
  }
}

.ToggleButton {
  position: absolute;
  right: .5rem;

  &, &:hover {
    background: none;
  }

  top: 50%;
  transform: translateY(-50%);


  &.isDismissed {
    display: none;
  }
}

.ErrorMessages.Dismissed .ToggleButton svg {
  fill: $color-support-warning;
}
