.ErrorMessages.Dismissed {
  display: none;
}

.MessageBar {
  background-color: var(--ams-color-primary-white);
  width: 100%;
  position: absolute;
  right: 0;
  left: auto;
  z-index: 1;
}

.ErrorFromServer {
  display: block;
  font-size: 0.8em;
  color: $color-neutral-grey4;
  display: none;
}

.ErrorList li:active {
  .ErrorFromServer {
    display: block;
  }
}

.ErrorInfo {
  > p {
    margin-top: 0;
  }
}

.ModalFooter {
  @include select(Checkbox_Checkbox) {
    margin-left: 1rem;
  }
}
.MoreInfoButton {
  flex: 1;
}
.DismissButton {
  margin-left: auto;
  display: block;
}
