.ErrorMessages.Dismissed {
  display: none;
}

.ErrorMessages {
  padding: var(--ams-space-l);
  @media screen and (min-width: $ams-breakpoint-medium) {
    padding: var(--ams-space-l) var(--ams-page-header-medium-padding-inline);
  }
  @media screen and (min-width: $ams-breakpoint-wide) {
    padding: var(--ams-space-l) var(--ams-page-header-wide-padding-inline);
  }
}

.MessageBar {
  --ams-alert-severity-indicator-padding-block: var(--ams-space-s);

  max-width: calc(var(--ams-page-max-inline-size) - var(--ams-space-xl) * 3);
  margin: 0 auto;
  background-color: var(--ams-color-background);
  position: relative;

  :global(.ams-alert__content) {
    gap: 0;
  }

  :global(.ams-heading) {
    // display: none;
    left: -100vw;
    position: absolute;
  }

  :global(.ams-icon-button) {
    --ams-icon-heading-4-line-height: 2em;
    position: absolute;
    right: var(--ams-space-m);
    top: 50%;
    transform: translateY(-50%);
  }

  .MessageBarParagraph {
    width: calc(100% - 32px); // close to size of the cross icon
    line-height: 1.3rem;
    margin: 0;
  }
}

.ErrorFromServer {
  display: block;
  font-size: 0.8em;
  color: var(--ams-color-interactive-disabled);
  display: none;
}

.ErrorList li:active {
  .ErrorFromServer {
    display: block;
  }
}
