// Global z-index control
$z-index: (
  burger-menu-backdrop: 2,
  header-error-messages: 9,
  submenu-panel: 10,
  main-nav-bar-modal: 10,
  main-nav-bar-inner--tablet: 11,
  modal: 20,
  dialog: 21,
  tutorial-overlay: 1000,
  tutorial-items: 1001
);

@function z-index($key) {
  @return map-get($z-index, $key);
}
