// Use this file as an entry point for global styles and imports
@import 'global';
@import 'normalize';
@import 'fonts';
@import 'components/components';

// Global styling and reset
html {
  box-sizing: border-box;
  font-size: 62.5%; // translates to 10px which makes 1rem = 10px in all other elemens contained within body
  line-height: 1.375;
}

body {
  min-height: 100vh;
  font-family: 'AvenirNext', Arial, Helvetica, sans-serif;
  color: $color-black;
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
}

[role=button],
a,
button {
  &:focus {
    background-color: $color-support-focus;
  }
}
input,
textarea,
select,
button {
  &:focus {
    outline: 0.2rem solid $color-support-focus;
  }
}
