@import 'styles/_global.scss';

.PageHeading {
  background: $color-white;
  margin-top: -8.5rem;
  height: 8.5rem;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;

  @include mq-phone() {
    margin: 0;
  }
}

.HeadingInner {
  display: block;
}

.Icon {
  flex-basis: 16rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  > svg {
    fill: $color-primary-red;
    height: auto;
    max-height: 5rem;
    width: 5rem;
  }

  @include mq-tablet() {
    flex-basis: 10rem;

    > svg {
      width: 4rem;
      max-height: 4rem;
    }
  }

  @include mq-phone() {
    flex-basis: 8rem;

    > svg {
      width: 3.2rem;
      max-height: 3.2rem;
    }
  }
}

.BackLink {
  @include heading-small;
  font-weight: bold;
  padding-left: 1.2em;
  transform: translateX(-2rem);
  position: relative;
  display: block;

  svg {
    height: .9em;
    width: .9em;
  }
}
