.SectionCollapsibleCurrent {
  border-top: 0.1rem solid var(--ams-color-neutral-grey1);
  padding-top: 1.7rem;
}

@media screen and (min-width: $ams-breakpoint-medium) {
  .EerdereRegelingen,
  .HuidigeRegelingen {
    tr {
      > th,
      > td {
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2),
        &:nth-child(3) {
          width: 25%;
        }
      }
    }
  }
}
