@import 'styles/_global.scss';

.InkomenDetail {
  @include select(PageContentMainHeading) {
    position: relative;
  }

  @include select(StatusLine_List) {
    max-width: $main-boxed-width;
    margin: 0 auto;
  }
}

.PageHeading {
  @include heading-large;
  margin: 0;
}
