@import 'styles/_global.scss';

.InkomenDetail {
  @include select(StatusLine_List__) {
    max-width: $main-boxed-width;
    margin: 0 auto;
  }
}

.PageHeading {
  @include heading-large;
  margin: 0;
}

.LoadingContentHeading {
  padding-top: 1rem;
}

.LoadingContentStatusLine {
  margin: 0 auto;
  max-width: $main-boxed-width;
  padding-left: 16rem;

  @include media-query('<=phone') {
    padding-left: 0;
  }
}
