@import 'styles/_global.scss';

.InkomenDetail {
  @include select(PageContentMainHeading_PageContentMainHeading) {
    margin-bottom: 1rem;
  }
  @include select(StatusLine_ListItemInner__) {
    max-width: $main-boxed-width;
    margin: 0 auto;

    @include media-query('<=phone') {
      margin: 0 4rem;
    }
  }

  @include select(StatusLine_altDocumentContent) {
    display: none;
  }

  @include select(StatusLine_ListHeading) {
    max-width: calc(#{$main-boxed-width} - 32rem);
    margin: 0 auto;
  }
  @include select(StatusLine_NoStatusItems) {
    max-width: calc(#{$main-boxed-width} - 32rem);
    margin: 0 auto;
  }

  @include select(StatusLine_Actual) {
    @include select(StatusLine_altDocumentContent) {
      display: block;
    }
  }
}

.PageHeading {
  @include heading-large;
  margin: 0;
}

.LoadingContentHeading {
  padding-top: 1rem;
}

.LoadingContentStatusLine {
  margin: 0 auto;
  max-width: $main-boxed-width;
  padding-left: 16rem;

  @include media-query('<=phone') {
    padding-left: 0;
  }
}
