@import 'styles/_global.scss';

.InfoPanel {
  &:not(:first-child) {
    margin-top: 5rem;
  }

  @include select(Heading) {
    padding-left: 16rem;
    border-bottom: 1px solid $color-neutral-grey2;
    padding-bottom: 1.3rem;
    margin-bottom: 2rem;

    @include media("<=phone") {
      padding-left: 0;
    }
  }
  &:nth-child(3) tr:nth-child(4) {
    th, td {
      padding-top: 2rem;
    }
  }
}

.InfoPanelContent {
  display: flex;
  flex-wrap: wrap;
}

.InfoPanelTable {
  width: 59%;
  border-collapse: collapse;

  tbody > tr {
    > td {
      text-align: left;
      white-space: pre-line;
      padding-bottom: .5rem;
    }
    > th {
      width: 16rem;
      text-align: right;
      padding-right: 2rem;
      padding-bottom: .5rem;
      color: $color-neutral-grey4;
      font-weight: 200;
    }

    th, td {
      vertical-align: top;
    }
  }

  @include media("<=phone") {
    display: block;

    tbody, thead, tr, td, th {
      display: block;
    }
    tbody > tr {
      > th,
      > td {
        width: auto;
        text-align: left;
        width: auto;
        padding-bottom: 0;
      }

      + tr {
        > th {
          padding-top: 2rem;
        }
      }
    }
  }

}

.InfoPanelActionLinks {
  @include reset-list-style;

  > li {
    margin-bottom: .6rem;
  }

  @include media("<=phone") {
    margin: 2rem 0 0 0;
  }
}
