@import 'styles/_global.scss';

.InfoPanel {
  &:not(:first-child) {
    margin-top: 5rem;
  }

  @include select(Heading) {
    padding-left: 16rem;
    border-bottom: 1px solid $color-neutral-grey2;
    padding-bottom: 1.3rem;
    margin-bottom: 2rem;
  }
}

.InfoPanelContent {
  display: flex;
}

.InfoPanelTable {
  width: 59%;
  border-collapse: collapse;

  tbody > tr {
    > td {
      text-align: left;
      white-space: pre-line;
      padding-bottom: .5rem;
    }
    > th {
      width: 16rem;
      text-align: right;
      padding-right: 2rem;
      padding-bottom: .5rem;
      color: $color-neutral-grey4;
      font-weight: 200;
    }
  }
}

.InfoPanelActionLinks {
  @include reset-list-style;

  > li {
    margin-bottom: .6rem;
  }
}
