.Dashboard {
  // Dashboard has a different design for the heading, to match the design easily and responsively
  // a pragmatic solution with help of :before is written below.
  @include select(PageHeading_PageHeading) {
    @include centered-max;
    background: transparent;
    margin-bottom: 0;

    &:before {
      content: '';
      position: absolute;
      background: #fff;
      width: calc(60% - 2rem);
      left: 0;
      top: 0;
      bottom: 0;
    }

    @include mq-phone() {
      margin: 0 1rem;
    }

    @include select(PageHeading_HeadingInner) {
      margin: 0 2rem;
      z-index: 1;

      @include mq-phone() {
        margin: 0;
      }
    }
  }

  .MyNotificationsHeadingLink {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-primary-red;
    }
  }

  .TopContentContainer {
    @include centered-max;

    @include mq-gt-phone() {
      display: flex;
      align-items: flex-start;
    }
  }

  @include select(MyNotifications_MyNotifications) {
    overflow: hidden;
    border-top: 1px solid $color-neutral-grey2;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;

    @include mq-gt-phone() {
      flex-grow: 1;
      margin: 0 2rem;
    }
  }

  @include select(MyThemasPanel_MyThemasPanel) {
    // Adjust some margins to match the design on mobile
    @include mq-gt-phone() {
      flex: 0 0 calc(40% + 2rem);
    }
  }

  @include select(MyArea_MyAreaMapContainer) {
    height: 48rem;
    margin-bottom: 10rem;
    width: 100%;
  }

  @include select(DirectLinks_DirectLinks) {
    @include centered-block;
  }
}
