@import 'styles/_global.scss';

.PageContentMainBody {
  display: block;

  > p:first-of-type {
    margin-top: 0;
  }

  &__regular {
    padding: 0 4rem;

    @include media-query('<=phone') {
      padding: 0 2rem;
    }
  }

  &__boxed {
    max-width: $main-boxed-width;
    margin: 0 auto;

    @include media-query('<=phone') {
      padding: 0 2rem;
    }

    @include media-query('>phone', '<=tablet') {
      padding: 0 4rem;
    }
  }

  &__regularBoxed {
    padding: 0 4rem;

    @include media-query('<=phone') {
      padding: 0 2rem;
    }

    max-width: $main-boxed-width;
    margin: 0 auto;
  }
}
