@import 'styles/_global.scss';

.PageContentMainBody {
  display: block;

  &__regular {
    padding: 0 4rem;
  }

  &__boxed {
    max-width: $main-boxed-width;
    margin: 0 auto;
  }

  &__regularBoxed {
    padding: 0 4rem;

    @include respond-to(phone) {
      padding: 0 2.4rem;
    }

    max-width: $main-boxed-width;
    margin: 0 auto;
  }
}
