@import '../../styles/_global.scss';

.MainNavBarSimple,
.MainNavBar {
  height: $main-header-navbar-height;
  background-color: $color-neutral-grey1;

  @include select(FontEnlarger_FontEnlarger__) {
    position: absolute;
    margin-left: -4rem;
  }
}

@media print {
  .MainNavBarSimple,
  .MainNavBar {
    display: none;
  }
}

.LinkContainer {
  @include centered-max;
  display: flex;
  background-color: $color-neutral-grey1;
}

.MainNavBar .LinkContainer {
  @include mq-tablet() {
    display: -ms-grid;
    display: grid; // On a phone the menu is ordered differently so we use grid to have control over that
    grid-auto-rows: max-content;
    width: $main-header-navbar-width--phone;
    margin: 0;
    z-index: z-index(main-nav-bar-inner--tablet);
    position: absolute;
    top: 0px;
    height: 100%;
    border-top: 0.1rem solid $color-neutral-grey2;
    background-color: $color-white;
  }
}

.MainNavLink {
  display: block;
  margin-right: 3rem;
  color: $color-black;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  padding-top: 0.9rem;
  padding-bottom: 0.7rem;

  @include hoverCapable {
    &:hover {
      color: $color-primary-red;
    }
  }

  @include hoverCapable {
    &:hover span {
      color: $color-primary-red;
      border-bottom-color: $color-primary-red;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include mq-tablet() {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 1.6rem;
    padding-bottom: 0.9rem;

    // Move home button after the Themas menu
    &:nth-child(1) {
      -ms-grid-row: 2;
      grid-row: 2;
    }
  }
}

.secondaryLinks {
  position: absolute;
  margin-top: -8.9rem;
  right: calc(calc(100vw - #{$main-boxed-width}) / 2);
  display: inline-block;

  @include select(LoadingContent_LoadingContent) {
    display: inline-block;
  }

  @include mq-tablet() {
    position: static;
    display: block;
    margin-top: 0;
    -ms-grid-row: 20;
    grid-row: 20;

    @include select(ButtonLink_ButtonLink) {
      padding-left: 1.6rem;

      // Remove the icons from the links
      &,
      &:hover {
        background-image: none;
      }

      svg {
        display: none;
      }
    }
  }
}

.MainNavBarSimple .secondaryLinks {
  @include mq-tablet() {
    position: static;
    display: flex;
  }
}

.BurgerMenuToggleBtn {
  height: $main-header-navbar-height;
  background-image: url('../../assets/icons/Menu.svg');
  background-size: 24px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
  margin-left: 0.2rem;
  text-indent: -150vw; // move text outside of view
  padding: 0;

  &Open {
    background-image: url('../../assets/icons/Close.svg');
  }

  @include media-q('>phone', '<tablet') {
    margin-left: 1.2rem;
  }
}

.secondaryLinks-inner {
  margin-left: 3.3rem;
  margin-right: 2.8rem;

  @include mq-tablet() {
    display: block;
    margin: 0;
    padding: 1rem 2rem 1rem 1.6rem;
    border-top: 0.1rem solid $color-neutral-grey2;
  }
}

.HR {
  border-top: 0.1rem solid $color-neutral-grey2;
  margin-top: -5rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

.InfoButtons {
  height: $main-header-navbar-height;
  position: absolute;
  top: $main-header-topbar-height;
  right: calc(50% - #{$main-boxed-width} / 2);
  display: flex;
  align-items: center;

  &Open {
    display: none;
  }

  @include mq-tablet() {
    top: $main-header-topbar-height--tablet;
    right: 0.5rem;

    &Open {
      top: 7rem;
    }
  }

  > * {
    font-weight: 500;
    color: $color-black;
    font-size: 1.8rem;

    + * {
      margin-left: 2rem;
    }
  }
}

.GeneralInfoLink {
  @include select(Button_Icon) {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.LogoutLink,
.ProfileLink {
  color: inherit;
}

.secondaryLinks {
  *[class*='FontEnlarger_FontEnlarger__'] + [class*='LogoutLink'] {
    margin-left: 3rem;
  }
}

// Animation of the mainnavbar
.Backdrop {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: z-index(burger-menu-backdrop);
}

.MainNavSubmenuLink {
  margin-bottom: 1rem;

  @include mq-tablet() {
    margin-bottom: 0;
  }
}

.SearchButton {
  @include mq-tablet() {
    margin-right: 1rem;
  }
}

.Search {
  z-index: z-index(main-nav-bar-inner--tablet);
  position: absolute;
  left: 0;
  right: 0;
  top: $main-header-topbar-height + $main-header-navbar-height;

  @include mq-tablet() {
    top: $main-header-topbar-height;
  }

  @include mq-phone() {
    // top: $main-header-topbar-height + $main-header-topbar-height--phone;
  }
}

.SearchBar {
  padding: 2.6rem;
  background-color: $color-neutral-grey1;

  @include mq-tablet() {
    padding: 0;
    background-color: $color-white;

    @include select('Search_SearchBar') {
      form {
        padding: 1rem;
      }
    }
  }
}

.SearchBarInner {
  max-width: 60rem;
  margin: 0 auto;
}

.logo {
  left: 2rem;
  top: -0.5rem;
  width: 9.3rem;
}

.LogoAndButtonWrapper {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 4.8rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: row;

  border-bottom: 0.1rem solid $color-neutral-grey2;

  > button {
    background-position: right;
    margin-left: 0px;
    margin-top: -12px;
    flex-grow: 1;
    background-size: 20px;
  }
}
