@import '../../styles/_global.scss';

.MainNavBar {
  height: $main-header-navbar-height;
  background-color: $color-neutral-grey1;

  @include select(FontEnlarger_FontEnlarger__) {
    position: absolute;
    margin-left: -4rem;
  }
}

.LinkContainer {
  @include centered-max;
  display: flex;
  background-color: $color-neutral-grey1;

  @include mq-tablet() {
    display: -ms-grid;
    display: grid; // On a phone the menu is ordered differently so we use grid to have control over that
    width: $main-header-navbar-width--phone;
    margin: 0;
    z-index: z-index(main-nav-bar-inner--tablet);
    position: relative;
  }
}

.MainNavLink {
  display: block;
  margin-right: 3rem;
  color: $color-black;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  padding-top: 0.9rem;
  padding-bottom: 0.7rem;

  @include hoverCapable {
    &:hover {
      color: $color-primary-red;
    }
  }

  @include hoverCapable {
    &:hover span {
      color: $color-primary-red;
      border-bottom-color: $color-primary-red;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include mq-tablet() {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 1.6rem;
    border-top: 0.1rem solid $color-neutral-grey2;

    // Move home button after the Chapters menu
    &:nth-child(1) {
      -ms-grid-row:2;
      grid-row: 2;
    }
  }
}

.secondaryLinks {
  position: absolute;
  margin-top: -8.9rem;
  right: calc((100vw - #{$main-boxed-width}) / 2);
  display: inline-block;

  @include select(LoadingContent_LoadingContent) {
    display: inline-block;
  }

  .ProfileName {
    margin-left: 3.3rem;
    margin-right: 3.3rem;
    font-weight: normal;
    text-decoration: none;

    a:hover {
      color: $color-primary-red;
      text-decoration: underline;
    }
  }

  @include mq-tablet() {
    position: static;
    display: block;
    margin-top: 0;
    -ms-grid-row: 20;
    grid-row: 20;

    > a {
      &, &:hover {
        border-top: 0.1rem solid $color-neutral-grey2;
      }
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0;
      padding-left: 1.6rem;
      border-top: 0.1rem solid $color-neutral-grey2;
      display: block;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }

    @include select(ButtonLink_ButtonLink) {
      padding-left: 1.6rem;
      // Remove the icons from the links
      &,
      &:hover {
        background-image: none;
      }
      svg {
        display: none;
      }
    }
  }
}

.BurgerMenuToggleBtn {
  height: $main-header-navbar-height;
  background-image: url('../../assets/icons/Menu.svg');
  background-size: 24px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
  margin-left: 0.2rem;
  text-indent: -100vw; // move text outside of view
  padding: 0;

  &Open {
    background-image: url('../../assets/icons/Close.svg');
  }

  @include media-q('>phone', '<tablet') {
    margin-left: 1.2rem;
  }
}

.InfoButtons {
  height: $main-header-navbar-height;
  position: absolute;
  top: $main-header-topbar-height;
  right: calc(50% - #{$main-boxed-width} / 2);
  display: flex;
  align-items: center;

  &Open {
    display: none;
  }

  @include mq-tablet() {
    top: $main-header-topbar-height--tablet;
    right: 0.5rem;

    &Open {
      top: 7rem;
    }
  }

  > * {
    font-weight: 500;
    color: $color-black;
    font-size: 1.8rem;

    + * {
      margin-left: 2rem;
    }
  }
}

.TutorialBtn {
  background-size: 2.4rem;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.GeneralInfoLink {
  svg {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.LogoutLink,
.ProfileLink {
  color: inherit;
}

// Animation of the mainnavbar
.Backdrop {
  position: fixed;
  top: $main-header-topbar-height;
  width: 100vw;
  height: calc(100vh - #{$main-header-topbar-height});
  background-color: rgba(0, 0, 0, .5);
  z-index: z-index(burger-menu-backdrop);
}

.MainNavSubmenuLink {
  margin-bottom: 1rem;
  @include mq-tablet() {
    margin-bottom: 0;
  }
}

.ProfileName {
  &--BEDRIJF {
    color: $color-support-purple;
  }
}

.ProfileLink {
  margin-left: 3.3rem;
  svg {
    position: absolute;;
    width: 1.2em;
    height: 1.3em;
    margin-left: -2.6rem;
  }
}
.ProfileLink--active {
  // font-weight: bold;
  color: $color-support-blue;
  text-decoration: underline;

  svg {
    fill: $color-support-blue;
  }
}
.ProfileLink--commercial {
  margin-left: 4rem;
}

.ProfileLink--private {
  margin-left: 2rem;
}
