@import '../../styles/_global.scss';

.ProfileName {
  margin-left: 3.3rem;
  margin-right: 2.8rem;

  @include select(Button_Button) {
    position: relative;
    display: inline-block;
  }

  @include mq-tablet() {
    display: block;
    margin: 0;
    padding: 1rem 2rem;
    border-top: .1rem solid $color-neutral-grey2;

    @include select(Button_Button) {
      display: block;
    }
  }
}

.ProfileLink {
  // margin-left: 1.3rem;
  font-weight: normal;
  padding-bottom: 0.3rem;
  padding-left: 2.6rem;
  border-bottom: .2rem solid transparent;
  font-weight: 500;

  &:hover {
    color: $color-primary-red;
    border-bottom-color: $color-primary-red;
    text-decoration: none;
  }

  svg {
    position: absolute;;
    width: 1.2em;
    height: 1.2em;
    left: 0;
    // margin-left: -2.6rem;
    transform: translateY(-.1rem);
  }
}

.ProfileLink--active {
  color: $color-support-blue;
  border-bottom-color: $color-support-blue;

  svg {
    fill: $color-support-blue;
  }
}

.ProfileLink--private {
  max-width: 20rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  + .ProfileLink--commercial {
    margin-left: 3.3rem;

    @include mq-tablet() {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
