@import '../../styles/_global.scss';

.ProfileLink {
  padding-bottom: 0.3rem;
  padding-left: 2.6rem;
  border-bottom: 0.2rem solid transparent;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20rem;
  position: relative;

  + .ProfileLink {
    margin-left: 3.3rem;

    @include mq-tablet() {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  &:hover:not(.ProfileLink--private-attributes) {
    color: $color-primary-red;
    border-bottom-color: $color-primary-red;
    text-decoration: none;
  }

  svg {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    left: 0;
    transform: translateY(-0.1rem);
  }

  @include mq-tablet() {
    padding-left: 4rem;
    max-width: 28rem;
    display: block;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.IconProfile {
  transform: translateY(-0.4rem);
}

.ProfileLink--active {
  color: $color-support-blue;

  svg {
    fill: $color-support-blue;
  }
}

.ProfileLink--private-attributes {
  position: relative;

  @include mq-tablet() {
    display: block;
  }
}

.ProfileLinkLoader {
  margin-right: 3rem;
}

.ProfileLink.LogoutLink {
  @include mq-tablet() {
    display: inline-block;
    margin-top: 2rem;
    // color: $color-neutral-grey5;
    font-weight: 700;
  }
}
