@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0.2);
  }

  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.Modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation-duration: 200ms;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  z-index: z-index(modal);
}

.ModalContainer {
  display: none;

  &:last-child {
    display: block;
  }
}

.Dialog {
  z-index: z-index(dialog);
}

.CustomDialog {
  z-index: z-index(dialog);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  padding: var(--ams-space-l);
  background: var(--ams-color-background);
  display: flex;
  flex-direction: column;
  gap: var(--ams-space-l);
  overflow-y: scroll;

  @media screen and (min-width: $ams-breakpoint-medium) {
    padding: var(--ams-space-l) var(--ams-page-header-medium-padding-inline);
  }
  @media screen and (min-width: $ams-breakpoint-wide) {
    padding: var(--ams-space-l) var(--ams-page-header-wide-padding-inline);
  }

  .CustomDialogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .CustomDialogContent {
    flex: 1;
  }

  :global(.ams-action-group) {
    > a {
      width: 100%;
    }
    @media screen and (min-width: $ams-breakpoint-medium) {
      > a {
        width: fit-content;
      }
    }
  }
}
