@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0.2);
  }

  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.Modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation-duration: 200ms;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  z-index: z-index(modal);
}

.ModalContainer {
  display: none;

  &:last-child {
    display: block;
  }
}

.Dialog {
  z-index: z-index(dialog);
  position: fixed;
}

.DialogWithoutCloseButton {
  > header > :global(button.ams-icon-button) {
    display: none !important;
  }
}
