@import '../../styles/_global.scss';

.Alert {
  padding: 0 1.6rem 0 5rem;
  border: 0.2rem solid $color-black;
  position: relative;
  margin-bottom: 1rem;

  &.warning {
    border-color: $color-support-warning;
    svg {
      fill: $color-support-warning;
    }
  }

  &.success {
    border-color: $color-support-valid;
    svg {
      fill: $color-support-valid;
    }
  }

  &.info {
    border-color: $color-support-darkblue;
    svg {
      fill: $color-support-darkblue;
    }
  }

  p:first-of-type {
    margin-top: 1.1rem;
  }
}

.Icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
  fill: $color-black;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
