@import '../../styles/_global.scss';

.Alert {
  padding-left: 5rem;
  border: .2rem solid $color-black;
  position: relative;
  margin-bottom: 1rem;

  &.warning {
    border-color: $color-support-warning;
    svg {
      fill: $color-support-warning;
    }
  }

  &.success {
    border-color: $color-support-valid;
    svg {
      fill: $color-support-valid;
    }
  }
}

.Icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  fill: $color-black;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

