@import '../../styles/_global.scss';

.Heading {
  margin: 0;

  &__tiny {
    @include heading-tiny;
  }
  &__small {
    @include heading-small;
  }
  &__medium {
    @include heading-medium;
  }
  &__mediumLarge {
    @include heading-medium-large;
  }
  &__large {
    @include heading-large;
  }
}
