.SectionCollapsibleFirst {
  border-top: 0.1rem solid var(--ams-color-separator);
  padding-top: 1.7rem;
}

.ShowAllButtonContainer {
  display: block;
  border-top: 0.1rem solid var(--ams-color-separator);
  margin: 0;
  padding: 1.7rem 0;
  display: flex;
  justify-content: center;
}
