.SearchButton {
  &:not(&Active) {
    --ams-margin-sm: 0;
  }

  i {
    height: 1.3rem;
    font-style: normal;
    position: relative;
    transform: rotate(45deg) translateY(-0.6rem) scale(0.6);
    transform-origin: center;
  }

  &Active {
    i {
      transform: rotate(-135deg) translateY(-0.2rem) scale(0.6)
        translateX(-0.8rem);
    }
  }
}

.SearchResetButton {
}

.SearchPanel {
  background-color: var(--ams-color-separator);
  width: 100%;
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
}

.Pagination {
  margin: 0 auto;
  margin-top: 4rem;
  width: 50%;
  display: flex;
  justify-content: center;
}

.FilterInput {
  display: flex;
  flex-direction: column;
  flex: 2;

  > span {
    display: inline-block;
    margin-bottom: 3px;
  }
}

.Select {
  @include inputSelect;
}

.FilterActive {
  border-color: var(--ams-color-interactive);
  outline: 1px solid var(--ams-color-interactive);
  color: var(--ams-color-interactive);
}

.ResetFilterButton {
  border: 0;
  background: transparent;
  padding: 0;
  width: auto;
  text-decoration: underline;
}
