@import 'styles/_global.scss';

.DirectLinks {
  @include select(Heading) {
    margin-bottom: 1.6rem;
  }
}

.LinkList {
  @include reset-list-style;
  overflow: hidden; // Clearfix

  li {
    border-bottom: 0.1rem $color-neutral-grey2 solid;
    line-height: 5.5rem;
    float: left;
    width: calc(50% - 2rem);
  }

  li:nth-child(odd) {
    margin-right: 4rem;
  }

  li:nth-child(-n + 2) {
    border-top: 0.1rem $color-neutral-grey2 solid;
  }

  @include media-q('<=phone') {
    // Reset the list style for smaller screens, just 1 column here
    li {
      &,
      &:nth-child(-n + 2),
      &:nth-child(odd) {
        width: auto;
        float: none;
        border-top: 0;
        margin-right: 0;
      }
      &:nth-child(1) {
        border-top: 0.1rem $color-neutral-grey2 solid;
      }
    }
  }

  li:nth-child(2n + 1) {
    clear: left;
  }

  a {
    margin: auto;
    text-decoration: none;
    font-weight: normal;

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    &:hover {
      color: $color-primary-red;
      text-decoration: underline;

      svg path {
        fill: $color-primary-red;
      }
    }
  }

  svg {
    margin-right: 0.5rem;
  }
}
