.DocumentListV2 {
  width: 100%;
  text-align: left;
  th,
  td {
    &:first-child {
      width: 60%;
    }
    &:last-child {
      width: 40%;
    }
  }
  thead th {
    font-weight: var(--ams-typography-body-text-bold-font-weight);
  }

  @media screen and (max-width: $ams-breakpoint-medium) {
    td + td,
    th + th {
      display: none;
    }
  }
}
