@import '../../styles/_global.scss';

.DocumentList {
  @include reset-list-style;

  padding-bottom: 2.5rem;

  &--expandedView {
    @include select('DocumentLink') {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }
}

.DocumentListItem {
  display: flex;
  align-items: baseline;
  vertical-align: top;
  margin-bottom: 0.6rem;
  font-size: 1.8rem;

  > * {
    flex: 1;
    flex-basis: 50%;
  }

  @include mq-phone {
    display: block;
    margin-bottom: 2rem;
  }
}
