.DocumentLinkWrap {
  position: relative;
  display: block;
}

:global(.ams-link--standalone).DocumentLink {
  display: inline-flex;
  align-items: center;
}

.DocumentLinkIcon {
  display: inline-block;
  margin-right: 0.5rem;
}

.DownloadInfo {
  padding-left: 1.8rem;
  white-space: nowrap;
  font-size: var(--ams-paragraph-small-font-size);
  display: block;
}

.DocumentDownloadError {
  .LinkIcon,
  .DownloadInfo {
    color: $color-support-invalid;
  }
}
