@import '../../styles/_global.scss';

.DocumentLink {
  display: block;
  font-weight: normal;
  position: relative;
  line-height: 1.2;
  font-weight: 500;
  white-space: pre-wrap;

  svg {
    top: 0;
    transform: none;
  }
}

.DocumentListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .6rem;
}

.DocumentList {
  @include reset-list-style;

  &--expandedView {
    @include select('DocumentLink') {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }
}
