@import 'styles/_global.scss';

.PageContentMainHeadingBackLink {
  @include heading-small;
  font-weight: bold;
  padding-left: 1.2em;
  transform: translateX(-2rem);
  position: relative;
  // Make sure the link displays above the text instead of before.
  width: 100%;
  display: block;

  @include media("<=phone") {
    transform: translateX(0);
  }

  svg {
    height: .9em;
    width: .9em;
  }
}
