@import 'styles/_global.scss';

.Modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .2);
  z-index: z-index(modal);
}

.ModalContainer {
  display: none;
  &:last-child {
    display: block;
  }
}

.Dialog {
  background-color: $color-white;
  position: fixed;
  z-index: z-index(dialog);

  &.Boxed {
    max-width: $main-boxed-width;
    width: calc(100% - 2rem);
  }

  &.HorizontallyCentered {
    left: 50%;
    transform: translateX(-50%)
  }

  &.HorizontallyLeft {
    left: 0;
  }

  &.HorizontallyRight {
    right: 0;
  }

  &.VerticallyCentered {
    max-height: 100vh;
    overflow: auto;
    top: 50%;
    transform: translateY(-50%);

    &.HorizontallyCentered {
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &.VerticallyTop {
    top: 0;
  }

  &.VerticallyBottom {
    bottom: 0;
  }
}

.Header {
  display: flex;
  border-bottom: 1px solid $color-neutral-grey2;
  padding: 1rem 1rem 1rem 2rem;
  padding-bottom: .5rem;
  align-items: center;
}

.Content {
  padding: 2rem;
}

.ButtonClose {
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    color: $color-primary-red;
  }
}
