.VergunningStatus {
  margin-top: 4rem;
}

.MapLink {
  display: block;
}

.LocationInfo {
  white-space: pre-wrap;
}

.LocationModalInner {
  height: 40rem;
  --map-container-height: 40rem;
}

.EvenementMelding_DateAndTime {
  > * {
    white-space: nowrap;
  }
}

.Disclaimer {
  color: var(--ams-color-neutral-grey3);
}

.LicensePlatesList {
  margin: 0;
  padding-left: 2rem;
  columns: 3;
}
