.VergunningStatus {
  margin-top: 4rem;
}

.MapLink {
  display: block;
}

.LocationInfo {
  white-space: pre-wrap;
}

.InfoGroupDivider {
  @include mq-phone {
    border-top: 1px solid $color-neutral-grey2;
  }
}
.LocationModalInner {
  height: 40rem;
  --map-container-height: 40rem;
}

.EvenementMelding_DateAndTime {
  > * {
    white-space: nowrap;
  }
}

.DateAndTime_SingleLine {
  // So we can show the dates on a single line we remove padding on the p
  p {
    padding-right: 0px;
  }
}

.Disclaimer {
  color: $color-neutral-grey4;
}

.LicensePlatesList {
  margin: 0;
  padding-left: 2rem;
  columns: 3;
}
