@import '../../styles/_global.scss';

.VergunningDetail {
}

.VergunningStatus {
  margin-top: 4rem;
}

.MapLink {
  display: block;
  font-size: 1.6rem;
}

.LocationInfo {
  white-space: pre-wrap;
}

.LocationModalInner {
  height: 40rem;
  --map-container-height: 40rem;
}

.EvenementMelding_DateAndTime {
  > * {
    white-space: nowrap;
  }
}
