.ListViewArticle {
  --ams-heading-color: var(--ams-link-color);
}

.ListView {
  gap: var(--ams-space-m);
}

.ListDivider {
  border-top: var(--ams-table-cell-border-block-end);
  width: 100%;
  margin-bottom: 0;
  margin-top: var(--ams-space-m);
}
