@import 'styles/_global.scss';

.MainFooter {
  background-color: $color-neutral-grey4;
  min-height: $main-footer-min-height;
}

.InnerContainer {
  width: $main-boxed-width;
  margin: 0 auto;
}

.TopBar {
  display: flex;
  padding: 3rem 0 5rem;

  &,
  a {
    color: $color-white;
  }

  h3 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;
    }
  }
}

.BottomBar {
  background-color: $color-white;
  height: 4.4rem;
  padding-top: 1rem;

  a {
    display: inline-block;
    margin-right: 8rem;
  }
}

.FollowPanel {
  margin: 0 3rem;
}

@include respond-to(medium-screen) {
  .InnerContainer {
    width: 100%;
    padding-left: 2.8rem;
  }

  .TopBar {
    display: block;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
  }

  .BottomBar {
    a {
      margin-right: 3rem;
    }
  }

  .FollowPanel {
    margin: 0;
  }

  .Panel {
    > :not(:first-child) {
      display: none;
    }

    &Open {
      > :not(:first-child) {
        display: block;
      }
    }

    h3 {
      padding-left: 2.8rem;
      margin-top: 2rem;
      cursor: pointer;
      width: fit-content;

      &:before {
        content: '';
        background-image: url('assets/icons/Chevron-Right__primary-white.svg');
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem;
        transform: rotate(90deg);
        margin-left: -2.8rem;
        margin-bottom: -2rem;
      }
    }
  }
}
