@import 'styles/_global.scss';

.MainFooter {
  background-color: $color-neutral-grey4;
  min-height: $main-footer-min-height;
}

.InnerContainer {
  max-width: $main-boxed-width;
  margin: 0 auto;

  @include media-query('<=tablet') {
    width: auto;
    margin: 0 2.4rem;
  }
}

.TopBar {
  display: flex;
  padding: 3rem 0 5rem;

  &,
  a {
    color: $color-white;
    &:focus {
      color: $color-black;
    }
  }

  h3 {
    margin-top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;
    }
  }

  @include media-query('<=tablet') {
    display: block;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    padding-right: 2rem;
  }
}

.BottomBar {
  background-color: $color-white;
  height: 4.4rem;
  padding-top: 1rem;

  a {
    display: inline-block;
    margin-right: 8rem;
  }

  @include media-query('<=tablet') {
    a {
      margin-right: 3rem;
    }
  }
}

.Panel {
  @include media-query('<=tablet') {
    > :not(:first-child) {
      display: none;
    }

    h3 {
      padding-left: 2.8rem;
      margin-top: 2rem;
      cursor: pointer;
      width: fit-content;

      &:before {
        content: '';
        background-image: url('assets/icons/Chevron-Right__primary-white.svg');
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem;
        transform: rotate(90deg);
        margin-left: -2.8rem;
        margin-bottom: -2rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &Open {
      > :not(:first-child) {
        display: block;
      }

      h3 {
        &:before {
          transform: rotate(-90deg);
        }
      }

      + .Panel {
        margin-top: 4rem;
      }
    }
  }
}

.ContactPanel {
  width: 80rem;

  @include media-query('<=tablet') {
    width: 100%;
  }
}

.FollowPanel {
  margin: 0 3rem;
  width: 60rem;

  li {
    white-space: nowrap;
  }

  @include media-query('<=tablet') {
    margin: 0;
    width: 100%;
  }
}

.TodoPanel {
  @include media-query('<=tablet') {
    width: 100%;
  }
}
