@import 'styles/_global.scss';

.header {
  // @include center-flex-col;
}

.topBar {
  width: $main-boxed-width;
  height: $main-header-topbar-height;
  margin: 0 auto;

  @include select(Heading) {
    margin: .4em 0 0;
  }
}

.logoLink {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.logo {
  position: relative;
  left: -3rem;
  top: 2rem;
  width: 9rem;
  height: 6.8rem;
}

.betaLabel {
  position: absolute;
  top: 0;
  right: 0;
}

.isDashboard {
  background: inherit; // redundant style placeholder
}

.secondaryLinks {
  position: absolute;
  top: 2rem;
  right: calc(calc(100vw - #{$main-boxed-width}) / 2);

  > a {
    display: inline-block;
    margin-left: 3.3rem;
    font-weight: normal;
    text-decoration: none;

    &:hover {
      color: $color-primary-red;
      text-decoration: underline;
    }
  }
}
