@import 'styles/_global.scss';

.header {
  min-width: $main-min-width;
  position: relative;
  overflow-x: hidden; // Hack for a weird horizontal scrollbar showing up in IE11 because of the positioning of the betalabel

  // @include select(FontEnlarger_FontEnlarger) {
  //   position: relative;
  //   transform: translateY(-1.7rem) translateX(-4rem);
  // }
}

.topBar {
  // Offset header to the left so that the focus area of the logo svg covers the complete logo.
  max-width: $main-boxed-width;
  height: $main-header-topbar-height;
  margin: 0 auto;
  display: flex;

  @include select(Heading) {
    margin: 0.4em 0 0;
  }

  @include media("<=tablet") {
    max-width: none;
    height: $main-header-topbar-height--tablet;

    @include select(Heading) {
      margin: 1rem 0 0 2rem;
      font-size: 1.8rem; // Overrides the default responsive size
    }
  }
}

.logoLink {
  display: flex;
  color: inherit;
  text-decoration: none;
  transform: translateX(-2.9rem);

  @include media("<=tablet") {
    transform: translateX(0);
  }
}

.logo {
  position: relative;
  left: 0;
  margin-right: 2rem;
  top: 2rem;
  width: 9rem;
  height: 6.8rem;

  @include media("<=tablet") {
    left: 2rem;
    top: -.5rem;
    width: 9.3rem; // translates approx. height of 4rem
    margin-right: 1rem;
  }

  @include media("<=phone") {
    left: 1rem;
  }
}

.betaLabel {
  position: absolute;
  top: 0;
  right: 0;

  @include media("<=tablet") {
    height: 3rem;
    width: 3rem;
  }
}

.ErrorMessages {
  position: absolute;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: $main-boxed-width;
  width: 100%;
  z-index: z-index(header-error-messages);

  @include media("<=tablet") {
    width: calc(100% - 4rem);
    top: 14rem;
  }

  @include media("<=phone") {
    position: static;
    transform: none;
    left: auto;
    width: 100%;
  }
}
