@import 'styles/_global.scss';

.header {
  min-width: $main-min-width;
  position: relative;
}

.topBar {
  width: 100%;
  max-width: $main-boxed-width;
  height: $main-header-topbar-height;
  margin: 0 auto;

  @include select(Heading) {
    margin: 0.4em 0 0;
  }
}

.logoLink {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.logo {
  position: relative;
  left: -2rem;
  top: 2rem;
  width: 9rem;
  height: 6.8rem;
}

.betaLabel {
  position: absolute;
  top: 0;
  right: 0;
}

.ErrorMessages {
  position: absolute;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
  width: $main-boxed-width;
}

@include respond-to(medium-screen) {
  .logo {
    left: 1rem;
    top: -1rem;
    width: 8rem;
    margin-right: 1rem;
  }

  .betaLabel {
    height: 3rem;
    width: 3rem;
  }

  .topBar {
    @include select(Heading) {
      margin: 0.5rem 0 0 2rem;
      font-size: 2.6rem; // Overrides the default responsive size
    }
  }
}

@include respond-to(small-screen) {
  .topBar {
    height: $main-header-topbar-height--small-screen;
    @include select(Heading) {
      font-size: 1.8rem; // Overrides the default responsive size
    }
  }
}
