.Datalist {
  margin: 0;
  font-size: var(--ams-paragraph-font-size);

  // TODO: Find a way to use the h4 style without re-declaring
  &__title {
    font-family: var(--ams-heading-font-family);
    font-weight: var(--ams-text-font-weight-bold);
  }

  &__description {
    padding: 0;
    margin: 0 0 2rem 0;

    &:last-child {
      margin-bottom: 0;
    }

    .has-horizontal-rows & {
      margin: 0;
    }
  }

  &.has-horizontal-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--ams-grid-column-gap);
    grid-row-gap: var(--ams-link-list-gap);
  }
}
