.Datalist {
  margin: 0;
  font-size: var(--ams-paragraph-font-size);

  // TODO: Find a way to use the h4 style without re-declaring
  &__title {
    font-family: var(--ams-heading-font-family);
    font-weight: var(--ams-text-font-weight-bold);
  }

  @media screen and (min-width: $ams-breakpoint-medium) {
    &:last-child {
      // NOTE: If the last description in the DL is wrapped by a wrapped row, this doesn't work.
      > .Datalist__description:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__description {
    padding: 0;
    margin: 0;
    margin-bottom: var(--ams-space-lg);

    .has-horizontal-rows & {
      margin: 0;
    }
  }

  &.has-horizontal-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--ams-grid-column-gap);
    grid-row-gap: var(--ams-link-list-gap);
  }
}
