.DataList {
  margin: 0;

  &__rowWrapper {
    grid-auto-flow: column;
  }

  // TODO: Find a way to use the h4 style without re-declarin
  &__title {
    font-family: var(--amsterdam-heading-font-family);
    font-weight: var(--amsterdam-heading-font-weight);
  }

  &__description {
    padding: 0;
    margin: 0 0 2rem 0;
  }
}