.SuppressedParagraph {
  color: var(--ams-color-neutral-grey3);
}

.ActionLink--reportIncorrectResidentCount {
}

.IconWithLabel {
  :global(.ams-icon) {
    display: inline-block;
    padding-right: 3px;
    transform: translateY(3px);
  }
}
