@import '../../styles/_global.scss';

.Inkomen {
  @include select(PageContent) {
    padding-bottom: 5rem;
  }
}

.Table {
  tr {
    td:nth-child(1) {
      width: 20%;
    }
    td:nth-child(2) {
      width: 30%;
    }
    td:nth-child(3) {
      width: 30%;
    }
    @include select(Table_DisplayPropTitle) {
      &:nth-child(1) {
        width: 50%;
      }
    }
  }
}

.SectionCollapsibleFirst {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-top: 1.7rem;
}

.ShowAllButtonContainer {
  display: block;
  border-top: 0.1rem solid $color-neutral-grey2;
  margin: 0;
  padding: 1.7rem 0;
  display: flex;
  justify-content: center;

  @include mq-tablet() {
    justify-content: left;
  }
}
