.Table {
  tr {
    td:nth-child(1) {
      width: 20%;
    }
    td:nth-child(2) {
      width: 30%;
    }
    td:nth-child(3) {
      width: 30%;
    }
    @media screen and (max-width: $ams-breakpoint-medium) {
      td:nth-child(1) {
        width: 60%;
      }
      td:nth-child(2) {
        width: 40%;
      }
    }
  }
}

.SectionCollapsibleFirst {
  border-top: 0.1rem solid var(--ams-color-neutral-grey1);
  padding-top: 1.7rem;
}

.ShowAllButtonContainer {
  display: block;
  border-top: 0.1rem solid var(--ams-color-neutral-grey1);
  margin: 0;
  padding: 1.7rem 0;
  display: flex;
  justify-content: center;
}
