.Table {
  tr td:nth-child(2) {
    width: 40%;
  }

  tr td:nth-child(3) {
    width: 20%;
  }

  @include select(Table_DisplayPropTitle) {
    width: 20%;
  }

  @include mq-tablet() {
    tr td:nth-child(2) {
      width: 95%;
      max-width: 100vw;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include select(Table_DisplayPropTitle) {
      width: 100%;
    }
  }
}

.SuppressedParagraph {
  color: $color-neutral-grey4;
  text-align: center;
}
