@import 'styles/_global.scss';

@mixin withIcon {
  padding-left: 16rem;

  @include select(ChapterHeadingIcon_ChapterHeadingIcon) {
    left: 8rem;
    transform: translateX(-50%);

    @include media("<=tablet") {
      left: 9rem;
    }

    @include media("<=phone") {
      left: 4.7rem;
    }
  }
}

@include select(Heading_Heading) {
  &.PageContentMainHeading {
    display: flex;
    min-height: $main-header-hero-heading-overlap;
    margin-top: 0;
    padding: 3.7rem 0 0 4rem;
    margin: -#{$main-header-hero-heading-overlap} 0 0;
    margin-bottom: 3.8rem;
    background-color: $color-white;
    position: relative;

    &__medium {
      width: 46rem;
      position: relative;
      left: 50%;
      transform: translateX(-#{$main-boxed-width/2});
    }

    &__boxed {
      max-width: $main-boxed-width;
      margin-left: auto;
      margin-right: auto;
    }

    &__withIcon {
      @include withIcon;
    }

    &__boxedWithIcon {
      max-width: $main-boxed-width;
      @include withIcon;
      margin-left: auto;
      margin-right: auto;
    }

    // Align style for the backlink and elements
    @include select(PageContentMainHeadingBackLink) {
      display: block;
      float: left;

      + * {
        clear: left;
      }
    }

    @include media("<=tablet") {
      padding: 3.7rem 0 0 1.8rem;

      &,
      &__boxed,
      &__boxedWithIcon {
        width: auto;
        margin-left: 2rem;
        margin-right: 2rem;
        position: static;
        transform: none;
      }

      &__medium {
        width: calc(50vw - 3rem);
        position: relative;
        left: 50%;
        transform: translateX(calc(-50vw + 2rem));
        margin-left: 0;
      }

      &__withIcon,
      &__boxedWithIcon {
        padding-left: 14rem;
      }
    }

    @include media("<=phone") {
      min-height: $main-header-hero-heading-overlap--phone;
      margin: -#{$main-header-hero-heading-overlap--phone} 0 0;
      margin-bottom: 1rem;
      padding: 2rem 0 0 1rem;

      // All version are treated the same on phones
      &,
      &__withIcon,
      &__medium,
      &__boxed,
      &__boxedWithIcon {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        position: static;
        transform: none;
      }

      &__withIcon,
      &__boxedWithIcon {
        padding-left: 6.5rem;
      }
    }
  }
}
