@import 'styles/_global.scss';

.PageContentMainHeading {
  @include heading-large;
  height: $main-header-hero-heading-overlap;
  margin-top: 0;
  padding: 3.8rem 0 0;
  margin: -#{$main-header-hero-heading-overlap} 0 0;
  margin-bottom: 3.8rem;
  background-color: $color-white;
  text-indent: 4rem;

  &__medium {
    width: 46rem;
    position: relative;
    left: 50%;
    transform: translateX(-#{$main-boxed-width/2});
  }

  &__withIcon {
    text-indent: 16rem;

    *[class^="ChapterHeadingIcon_ChapterHeadingIcon"] {
      left: 8rem;
      transform: translateX(-50%);
    }
  }

}
