@import '../../styles/_global.scss';

.InfoPanel .Title {
  margin-left: 16rem;
  margin-bottom: 1.8rem;

  @include mq-phone() {
    margin-left: 0;
  }
}

.InfoPanelContent {
  display: flex;
  flex-wrap: wrap;
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-top: 2rem;
}

.InfoPanelCollapsible {

  @include select(SectionCollapsible_Title_) {
    @include heading-medium;
    @include mq-phone {
      margin-left: 0;
    }
  }

  @include select(SectionCollapsible_Panel) {
    .InfoPanelContent {
      border-top: 0;
    }

    .InfoPanel {
      margin-bottom: 2rem;
    }
  }
}

.TableWrap {
  width: 59%;
  th span {
    white-space: nowrap;
  }
  @include mq-desktop() {
    th {
      position: relative;
      span {
        position: absolute;
        right: 2rem;
        top: .1rem;
      }
    }
  }
}

.InfoPanelTable {
  border-collapse: collapse;

  + .InfoPanelTable {
      margin-top: 2rem;
    }

  tbody > tr {
    > td {
      text-align: left;
      white-space: pre-line;
      padding-bottom: 0.5rem;
    }
    > th {
      width: 16rem;
      text-align: right;
      padding-right: 2rem;
      padding-bottom: 0.5rem;
      color: $color-neutral-grey4;
      font-weight: 200;
    }

    th,
    td {
      vertical-align: top;
    }
  }

  @include mq-phone() {
    display: block;

    tbody,
    thead,
    tr,
    td,
    th {
      display: block;
    }
    tbody > tr {
      > th,
      > td {
        width: auto;
        text-align: left;
        width: auto;
        padding-bottom: 0;
      }

      + tr {
        > th {
          padding-top: 2rem;
        }
      }
    }
  }
}

.InfoPanelActionLinks {
  @include reset-list-style;

  > li {
    margin-bottom: 0.6rem;
  }

  @include mq-phone() {
    margin: 2rem 0 0 0;
  }
}
