@import 'styles/_global.scss';

.StatusLine {
  background-color: $color-neutral-grey1;
}

.List {
  @include reset-list-style;
  padding: 2rem 0;
}

.StatusTitle {
  display: block;
}

.StatusDate {
  display: block;
  white-space: nowrap;
}

.DownloadLink {
  display: block;
  font-weight: normal;
  position: relative;
  white-space: nowrap;

  svg {
    top: .2rem;
    transform: none;
  }
}

.Panel {
  position: relative;
  padding: 1.8rem;
  flex: 1;

  > p {
    margin: 0 0 2rem;
  }

  &:last-child {
    width: auto;
    overflow: hidden;
  }

  &:nth-child(2) {
    flex: 2;
  }

  &:first-child {
    padding: 1.8rem 3rem 1.8rem 8.5rem;

    // Vertical line
    &:before {
      content: '';
      width: .2rem;
      top: -.1rem; // overlapping border-top of different color
      bottom: -.1rem; // overlapping border-top of different color
      position: absolute;
      left: -.2rem; // place outside of element
      background: $color-neutral-grey3;
    }
    // Circle icon
    &:after {
      // content: attr(data-stepnumber);
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      top: 2rem;
      left: -1.1rem;
      background-color: $color-neutral-grey3;
      color: $color-white;
      text-align: center;
      font-size: .8em;
      font-weight: 800;
      line-height: 1.5;
    }
  }
}

.ListItem {
  display: flex;
  border-top: 1px solid $color-neutral-grey2;
  padding: 0 7.5rem;

  &:first-child {
    border-top: 0;
    .Panel:first-child:before {
      background: linear-gradient(to top, $color-neutral-grey3 0%, $color-neutral-grey3 65%, $color-neutral-grey1 100%);
    }
  }
  &:last-child .Panel:first-child:before {
    background: linear-gradient(to bottom, $color-neutral-grey3 0%, $color-neutral-grey3 65%, $color-neutral-grey1 100%);
  }
  &:first-child:last-child .Panel:first-child:before {
    background: linear-gradient(to bottom, $color-neutral-grey1 0%, $color-neutral-grey3 15%, $color-neutral-grey3 85%, $color-neutral-grey1 100%);
  }
}

.Actual .Panel:first-child:after {
  width: 3rem;
  height: 3rem;
  margin-left: -.55rem;
  background: $color-support-darkgreen url("assets/icons/Checkmark__white.svg") no-repeat center;
  background-size: 1em 1em;
}

.Highlight .Panel:first-child:after {
  background-color: $color-support-lightblue;
}
