@import 'styles/_global.scss';

.StatusLine {
  margin-bottom: 2rem;
}

.List {
  @include reset-list-style;
  padding: 1rem 0;
}

.ListHeading {
  @include centered-block;
  color: $color-neutral-grey4;
  margin-bottom: 0;
}

.StatusTitle {
  display: block;
}

.StatusDate {
  display: block;
  white-space: nowrap;
  color: $color-neutral-grey4;
}

.DownloadLink {
  display: block;
  font-weight: normal;
  position: relative;
  margin-bottom: 1rem;
  line-height: 1.2;

  svg {
    top: 0.2rem;
    transform: none;
  }
}

.ListItem {
  &Inner {
    display: flex;
    padding: 0 7.5rem;
    border-top: 1px solid $color-neutral-grey2;

    @include mq-tablet() {
      display: block;
      position: relative;
      padding: 0 2rem;
    }
    @include mq-phone() {
      padding: 0 1rem;
    }
  }
}

.Panel {
  position: relative;
  padding: 1.8rem;
  flex: 1;

  > p {
    margin: 0 0 2rem;
  }

  &:last-child {
    width: auto;
    overflow: hidden;
  }

  &:nth-child(2) {
    @include media-q(">tablet") {
      flex: 0 0 38rem;
    }
  }

  &:first-child {
    padding: 1.8rem 0 1.8rem 8.5rem;

    // Vertical line
    &:before {
      content: '';
      width: 0.2rem;
      top: -0.1rem; // overlapping border-top of different color
      bottom: -0.1rem; // overlapping border-top of different color
      position: absolute;
      left: -0.2rem; // place outside of element
      background: $color-neutral-grey3;
    }

    // Circle icon
    &:after {
      // content: attr(data-stepnumber);
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      top: 2rem;
      left: -1.1rem;
      background: $color-neutral-grey3;
      color: $color-white;
      text-align: center;
      font-size: 0.8em;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  @include mq-tablet() {
    &,
    &:first-child {
      padding: 1rem 1rem 1rem 3rem;
      position: static;
    }
  }
}

.ListItem {
  &.first-step:not(.LastActive) .Panel:first-child:before {
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 3rem,
      $color-primary-darkblue 3rem,
      $color-primary-darkblue 100%
    );
  }

  &.first-step .Panel:first-child:last-child:before {
    background: linear-gradient(
      to bottom,
      $color-neutral-grey1 0%,
      $color-neutral-grey1 3rem,
      $color-neutral-grey3 3rem,
      $color-neutral-grey1 100%
    );
  }

  &:not(.first-step):not(.last-step):not(.LastActive) {
    &:last-child .Panel:before {
      background: linear-gradient(
        to bottom,
        $color-primary-darkblue 0%,
        $color-neutral-grey3 75%,
        $color-neutral-grey1 100%
      );
    }
  }

  &.last-step .Panel:first-child:before {
    background: linear-gradient(
      to bottom,
      $color-neutral-grey3 0%,
      $color-neutral-grey3 3rem,
      transparent 0%
    );
  }
  &.last-step.LastActive .Panel:first-child:before {
    background: linear-gradient(
      to bottom,
      $color-primary-darkblue 0%,
      $color-primary-darkblue 3rem,
      transparent 0%
    );
  }
}

.LastActive {
  background-color: $color-neutral-grey1;
  .ListItemInner {
    border-top: 0;
  }
  + .ListItem .ListItemInner {
    border-top: 0;
  }
  .Panel{
    &:first-child:after {
      width: 3.2rem;
      height: 3.2rem;
      margin-left: -0.55rem;
      top: 1.4rem;
      background: $color-primary-darkblue url('assets/icons/Checkmark__white.svg')
        no-repeat center;
      background-size: 0.9em 0.9em;
    }

    &:first-child:before {
      background: linear-gradient(
      to bottom,
      $color-primary-darkblue 0%,
      $color-primary-darkblue 3rem,
      $color-neutral-grey3 3rem,
      $color-neutral-grey3 100%
    );
    }
  }
  &.first-step .Panel:first-child:before {
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 3rem,
      $color-neutral-grey3 3rem,
      $color-neutral-grey3 100%
    );
  }
}

.Checked .Panel:first-child:after {
  background: $color-primary-darkblue url('assets/icons/Checkmark__white.svg')
        no-repeat center;
  background-size: 0.9em 0.9em;
}

.Checked .Panel:first-child:before {
  background: $color-primary-darkblue;
}

.NoStatusItems {
  padding: 0;
}

.MoreStatus {
  position: relative;
  background-color: transparent;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0.4rem 0 0;
  font-weight: 700;

  svg {
    height: 15px;
    margin-top: 0.3rem;
    transform: rotate(90deg);
  }

  &Closed {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.altDocumentContent {
  display: block;
  > * {
    margin-top: 0;
  }
}
