@import 'styles/_global.scss';

.StatusLine {
  background-color: $color-neutral-grey1;
}

.List {
  @include reset-list-style;
  padding: 2rem 0;
}

.StatusTitle {
  display: block;
}

.StatusDate {
  display: block;
  white-space: nowrap;
}

.DownloadLink {
  display: block;
  font-weight: normal;
  position: relative;
  margin-bottom: 1rem;
  line-height: 1.2;

  svg {
    top: .2rem;
    transform: none;
  }
}

.Panel {
  position: relative;
  padding: 1.8rem;
  flex: 1;

  > p {
    margin: 0 0 2rem;
  }

  &:last-child {
    width: auto;
    overflow: hidden;
  }

  &:nth-child(2) {
    flex: 2;
  }

  &:first-child {
    padding: 1.8rem 3rem 1.8rem 8.5rem;

    // Vertical line
    &:before {
      content: '';
      width: .2rem;
      top: -.1rem; // overlapping border-top of different color
      bottom: -.1rem; // overlapping border-top of different color
      position: absolute;
      left: -.2rem; // place outside of element
      background: $color-neutral-grey3;
    }
    // Circle icon
    &:after {
      // content: attr(data-stepnumber);
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      top: 2rem;
      left: -1.1rem;
      background: $color-neutral-grey3 url("assets/icons/Checkmark__white.svg") no-repeat center;
      background-size: 0.9em 0.9em;
      color: $color-white;
      text-align: center;
      font-size: .8em;
      font-weight: 800;
      line-height: 1.5;
    }
  }
}

.ListItem {
  border-top: 1px solid $color-neutral-grey2;
  padding: 0 7.5rem;
  display: flex;

  &:first-child {
    border-top: 0;
    .Panel:first-child:before {
      background: linear-gradient(to top, $color-neutral-grey3 0%, $color-neutral-grey3 calc(100% - 3rem), $color-neutral-grey1 0%);
    }
  }
  &:last-child .Panel:first-child:before {
    background: linear-gradient(to bottom, $color-neutral-grey3 0%, $color-neutral-grey3 3rem, $color-neutral-grey1 0%);
  }
  &:first-child:last-child .Panel:first-child:before {
    background: linear-gradient(to bottom, $color-neutral-grey1 0%, $color-neutral-grey3 15%, $color-neutral-grey3 85%, $color-neutral-grey1 100%);
  }
}

.Actual .Panel:first-child:after {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: -.55rem;
  top: 1rem;
  background-color: $color-primary-darkblue;
}

.Highlight .Panel:first-child:after {
  background-color: $color-primary-darkblue;
}

.MoreStatus {
  position: relative;
  background-color: $color-neutral-grey3;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 0 1.4rem;

  &:hover {
    background-color: $color-primary-darkblue;
    color: $color-white;
  }

  > span {
    transform: rotate(-90deg);
    font-size: .6em;
    position: relative;
    display: inline-block;
    margin-left: .4rem;
  }

  &.isCollapsed > span {
    transform: rotate(90deg);
  }
}
