// Concept copied from https://github.com/yarism/react-loading-placeholder/blob/master/src/LoadingPlaceholder.css
@keyframes placeHolderShimmer {
  0% {
    background-position: -1168px 0;
  }
  100% {
    background-position: 1168px 0;
  }
}

.LoadingContent {
  display: block;
  > span {
    display: block;
    height: 1rem;
    margin-bottom: 1rem;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: var(--ams-color-interactive-disabled);
    background: linear-gradient(
      to right,
      var(--ams-color-neutral-grey2) 8%,
      var(--ams-color-interactive-disabled) 18%,
      var(--ams-color-neutral-grey2) 33%
    );
    background-size: 1200px 104px;
    border-radius: 2px;
    opacity: 0.2;
  }
}
