// Colors and naming taken from https://designsystem.amsterdam.nl/7awj1hc9f/p/40629
// NOTE: Keep up-to-date with Colors { ... } in App.constants.js
$color-white: white;
$color-black: black;

$color-primary-red: #EC0000;
$color-primary-darkblue: #004699;

$color-neutral-grey1: #F5F5F5;
$color-neutral-grey2: #E6E6E6;
$color-neutral-grey3: #B4B4B4;
$color-neutral-grey4: #767676;
$color-neutral-grey5: #323232;

$color-support-valid: #00A03C;
$color-support-invalid: #EC0000;
$color-support-focus: #FEC813;

$color-support-purple: #A00078;
$color-support-pink: #E50082;
$color-support-orange: #FF9100;
$color-support-yellow: #FFE600;
$color-support-lightgreen: #BED200;
$color-support-darkgreen: #00A03C;
$color-support-lightblue: #009DEC;

$color-overlay-black50: rgba(0,0,0,0.5);
