$main-max-width: 100%;
$main-boxed-width: 94rem;
$main-min-width: 32rem;
$IE11-min-width: 98rem;

// Desktop
$main-header-topbar-height: 10.6rem;
$main-header-navbar-height: 4.4rem;

// Desktop Hero
$main-header-hero-height: 30rem;
$main-header-hero-heading-overlap: 8.5rem;

$main-header-total-height: $main-header-topbar-height +
  $main-header-navbar-height + $main-header-hero-height -
  $main-header-hero-heading-overlap;

// Desktop Footer
$main-footer-min-height: 20rem;

// Phone screens
$main-header-navbar-width--phone: $main-min-width;
$main-header-topbar-height--phone: 6.2rem;
$main-header-hero-heading-overlap--phone: 5rem;

// Tablet screens
$main-header-topbar-height--tablet: 6.2rem;
