$main-max-width: 100%;
$main-boxed-width: 94rem;
$main-min-width: 32rem;

// Desktop
$main-header-topbar-height: 10.6rem;
$main-header-navbar-height: 4.4rem;

// Desktop Hero
$main-header-hero-height: 30rem;
$main-header-hero-heading-overlap: 8.5rem;

$main-header-total-height: $main-header-topbar-height +
  $main-header-navbar-height + $main-header-hero-height -
  $main-header-hero-heading-overlap;

// Desktop Footer
$main-footer-min-height: 20rem;

// Small screens
$main-header-navbar-width--small-screen: $main-min-width;
$main-header-topbar-height--small-screen: 6rem;

// Medium screens
$main-header-hero-heading-overlap--medium-screen: 5rem;
