doctype html
html(lang="en")
  head
    title Stadspas administratienummer
  body
    h1 Stadspas administratienummer

    if administratienummerEncrypted
      pre #{administratienummerEncrypted}

    if error
      p Foutmelding: #{error.code} - #{error.message}

    p
      a(href=appHref id='protocol-link') Klik hier om de Amsterdam app te openen.

    script(type='text/javascript').
        document.getElementById('protocol-link').click();

