@import 'styles/_global.scss';

.ChapterHeadingIcon {
  display: block;
  position: absolute;
  fill: $color-primary-red;
  height: 5rem;
  width: 5rem;
  top: 3.6rem;

  @include respond-to(small-screen) {
    height: 4rem;
    width: 4rem;
    top: 2rem;
  }
}
