@import 'styles/_global.scss';

.ChapterHeadingIcon {

  svg {
    fill: $color-primary-red;
    height: auto;
    width: 5rem;

    @include media("<=tablet") {
      width: 4rem;
    }

    @include media("<=phone") {
      width: 3.2rem;
    }
  }
}
