.MainMenu {
  @media screen and (min-width: $ams-breakpoint-medium) {
    display: grid;
    column-gap: var(--ams-grid-column-gap);
    grid-template-columns: 3fr 1fr;
  }

  .MenuItem {
    display: block;
    margin-bottom: var(--ams-link-list-gap);
  }
}

.NavSection {
  padding: var(--ams-space-m) 0;
  &:last-of-type > div {
    padding-top: 0;
  }
  @media screen and (min-width: $ams-breakpoint-medium) {
    padding: var(--ams-space-xl) 0;
    &:last-of-type > div {
      padding-top: var(--ams-space-m);
    }
  }
  > div {
    padding-top: var(--ams-space-m);
    @media screen and (min-width: $ams-breakpoint-medium) {
      padding-top: var(--ams-space-l);
      column-gap: var(--ams-space-xl);
      column-width: 10rem;
    }
    @media screen and (min-width: $ams-breakpoint-wide) {
      padding-top: var(--ams-space-m);
      column-width: 20rem;
    }
  }
}
