.menu {
  @include centered-block;
  padding: 4rem 0 calc(6rem - var(--ams-link-list-gap));
  display: grid;
  grid-template-columns: 2fr 1fr;

  .menuItem {
    display: block;
    margin-bottom: var(--ams-link-list-gap);
  }

  nav:first-child .menuItem {
    font-weight: 800;
  }

  @include mq-phone() {
    grid-template-columns: 1fr;
    padding: 2rem 0 4rem;

    & > nav {
      padding-top: 2rem;
    }
  }
}
