@import 'styles/_global.scss';

.SubmenuButton {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.9rem 0 0.7rem 0;
  background-color: $color-neutral-grey1;
  border: 0;
  cursor: pointer;
  display: block;
  margin-right: 3rem;

  &:focus {
    background-color: $color-support-focus;
    outline: 1px dotted #000;
  }

  span {
    display: inline-block;
    border-bottom: solid 0.2rem transparent;
  }

  @include hoverCapable {
    &:hover span {
      color: $color-primary-red;
      border-bottom-color: $color-primary-red;
    }
  }

  @include media-query('<=tablet') {
    display: none;
  }
}

.SubmenuPanel {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-out 100ms, opacity 200ms ease-in-out 100ms;
  position: absolute;
  top: $main-header-navbar-height;
  background-color: $color-neutral-grey1;
  left: 0;
  right: 0;
  z-index: z-index(submenu-panel);

  &Open {
    max-height: 50rem;
    opacity: 1;
  }

  @include media-query('<=tablet') {
    opacity: 1;
    max-height: initial;
    position: relative;
    width: $main-header-navbar-width--phone;
    top: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
    border-top: 0.1rem solid $color-neutral-grey2;
  }
}

.SubmenuItems {
  display: flex;
  width: 55rem;
  padding: 2.5rem 0 2.5rem 0;
  flex-wrap: wrap;
  left: 50%;
  position: relative;
  transform: translateX(-#{$main-boxed-width/2});

  @include media-query('<=tablet') {
    flex-direction: column;
    left: 0;
    transform: initial;
    padding: 0;
  }
}

.MainNavSubmenuLink {
  display: flex;
  align-items: center;
  width: 21.5rem;
  color: $color-black;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;

  &:nth-child(odd) {
    margin-right: 0.5rem;
  }
  &:nth-child(even) {
    margin-left: 0.5rem;
  }

  svg {
    margin: 0.5rem 1.5rem 0.5rem 0;
    fill: $color-black;
  }

  @include hoverCapable {
    &:hover {
      color: $color-primary-red;
      text-decoration: underline;

      svg {
        fill: $color-primary-red;
      }
    }
  }

  @include media-query('<=tablet') {
    height: 4.8rem;
    padding-left: 1.6rem;

    &:nth-child(odd) {
      margin-right: 0;
    }
    &:nth-child(even) {
      margin-left: 0;
    }
  }
}
