@import 'styles/_global.scss';

.MainNavSubmenu {
  z-index: 2;
}

.SubmenuButton {
  padding-left: 0;
  padding-right: 0;
  margin-right: 3rem;
  background-color: $color-neutral-grey1;
  border: 0;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  padding-top: .9rem;
  padding-bottom: .8rem;
  margin-top: .2rem;

  span {
    display: inline-block;
    border-bottom: solid .2rem transparent;
  }

  &:hover span {
    color: $color-primary-red;
  }

  &Open span {
    color: $color-primary-red;
    border-bottom-color: $color-primary-red;
  }
}

.SubmenuPanel {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-out 100ms,
              opacity 200ms ease-in-out 100ms;
  position: absolute;
  top: $main-header-navbar-height;
  background-color: $color-neutral-grey1;
  left: 0;
  right: 0;
  z-index: 2;

  &Open {
    max-height: 50rem;
    opacity: 1;
  }
}

.SubmenuItems {
  display: flex;
  width: 55rem;
  padding: 2.5rem 0 2.5rem 0;
  flex-wrap: wrap;
  left: 50%;
  position: relative;
  transform: translateX(-#{$main-boxed-width/2});
}

.MainNavSubmenuLink {
  display: flex;
  align-items: center;
  width: 22rem;
  color: $color-black;
  text-decoration: none;
  font-weight: 500;

  svg {
    margin: .5rem 1.5rem .5rem 0;
  }

  &:hover {
    color: $color-primary-red;

    svg {
      fill: $color-primary-red;
    }
  }
}
