.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserFeedback {
  @media screen and (max-width: $ams-breakpoint-medium) {
    width: 100%;
    max-width: 450px;
  }
}
