@import 'styles/_global.scss';

.ButtonLink {
  white-space: nowrap;
  color: $color-black;
  font-weight: bolder;
  text-decoration: none;

  &:not(.IconLink):before {
    background: url("assets/icons/Chevron-Right.svg") center no-repeat;
    background-size: auto 70%;
    content: '';
    display: inline-block;
    height: 1.22em;
    position: relative;
    vertical-align: text-bottom;
    width: 1.22em;
  }

  &.is-active,
  &:hover {
    & {
      color: $color-primary-red;
      text-decoration: underline;
    }
    &:not(.IconLink):before {
      background: url("assets/icons/Chevron-Right__primary-red.svg") center no-repeat;
      background-size: auto 70%;
    }
    svg {
      fill: $color-primary-red;
    }
  }

  svg {
    height: 1em;
    width: auto;
    vertical-align: middle;
  }
}

.IconLink {
  padding-left: 1.2em;
  position: relative;

  svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
