@import 'styles/_global.scss';

.ButtonLink {
  color: $color-black;
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;

  &:not(.IconLink) {
    background-image: url('assets/icons/Chevron-Right.svg');
    background-repeat: no-repeat;
    background-size: 0.8em auto;
    background-position: -0.3rem 0.5rem;
    padding-left: 0.8em;
  }

  @include media(">tablet") {
    &:hover {
      & {
        color: $color-primary-red;
        text-decoration: underline;
      }
      &:not(.IconLink) {
        background-image: url('assets/icons/Chevron-Right__primary-red.svg');
      }
      svg {
        fill: $color-primary-red;
      }
    }
  }

  &:focus {
    background-color: $color-support-focus;
  }

  svg {
    width: 1em;
    height: 1em;
  }
}

// Use this style on a <button /> element.
.ButtonLinkButtonReset {
  @extend .ButtonLink;
  background: none;
  border: 0;
}

.ButtonLink.ButtonLinkWhite {
  &,
  &:hover {
    background-image: url('assets/icons/Chevron-Right__primary-white.svg');
    color: $color-white;
    svg {
      fill: $color-white;
    }
    &:focus {
      color: $color-black;
      background-image: url('assets/icons/Chevron-Right.svg');
    }
  }
}

.IconLink {
  padding-left: 1.2em;
  position: relative;

  svg {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
