@import 'styles/_global.scss';

.ButtonLink {
  color: $color-black;
  font-weight: bolder;
  text-decoration: none;

  &:not(.IconLink) {
    background-image: url("assets/icons/Chevron-Right.svg");
    background-repeat: no-repeat;
    background-size: 1.4rem auto;
    background-position: -.3rem .4rem;
    padding-left: 1.46rem;
  }

  &.is-active,
  &:hover {
    & {
      color: $color-primary-red;
      text-decoration: underline;
    }
    &:not(.IconLink) {
      background-image: url("assets/icons/Chevron-Right__primary-red.svg");
    }
    svg {
      fill: $color-primary-red;
    }
  }

  svg {
    width: 1em;
    height: 1em;
  }
}

.ButtonLink.ButtonLinkWhite {
  &,
  &:hover,
  &.is-active {
    background-image: url("assets/icons/Chevron-Right__primary-white.svg");
    color: $color-white;
    svg {
      fill: $color-white;
    }
    &:focus {
      color: $color-black;
      background-image: url("assets/icons/Chevron-Right.svg");
    }
  }
}

.IconLink {
  padding-left: 1.2em;
  position: relative;

  svg {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
