.DossierDetail__ordered_list {
  margin-bottom: 2rem;
}

.Section_heading {
  margin-bottom: 1rem;
}

.ColumnList {
  --list-item-row-height: 2rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--ams-grid-column-gap);
  grid-template-rows: repeat(
    3,
    var(--list-item-row-height)
  ); // Will be replaced dynamically

  @media screen and (min-width: $ams-breakpoint-wide) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.withBetalerWijzigenLink {
  white-space: nowrap;
}

.DossierDetailFacturenTable {
  > thead > tr {
    margin-top: 0;
  }
}

.periodeSamengesteld {
  display: block;

  @media screen and (min-width: $ams-breakpoint-medium) {
    display: inline;
  }
}

.DataListFinancieelPeriode {
  &:first-child {
    margin-bottom: 3rem;
  }
}
