.PageHeadingWrap {
  padding-top: var(--ams-space-m);
  background-color: white;

  // Puts the heading closer to the next element on large screens
  @media screen and (min-width: $ams-breakpoint-medium) {
    margin-bottom: calc(var(--ams-space-l) * -1);
  }
}

:global(.ams-link) {
  &.BackLink {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
  }
}
