.PageHeadingWrap {
  padding-top: var(--ams-space-md);
  background-color: white;

  // Puts the heading closer to the next element on large screens
  @media screen and (min-width: $ams-breakpoint-medium) {
    margin-bottom: calc(var(--ams-space-lg) * -1);
  }
}

.PageHeading {
  --ams-hyphenation-hyphens: none;
  @media screen and (min-width: $ams-breakpoint-medium) {
    --ams-heading-level-3-font-size: 58px;
    --ams-heading-level-3-line-height: 72px;
  }
}

:global(.ams-link--standalone) {
  &.BackLink {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
  }
}
