@import '../../styles/_global.scss';

@mixin GarbagePanel {
  margin: 0 auto;
  padding: 0;
  max-width: 64rem;

  @include mq-tablet {
    margin-left: 9.5rem;
  }

  @include mq-phone {
    margin-left: 0;
  }
}

.GarbageInformation {
  @include select(PageContent) {
    padding-bottom: 5rem;
  }
}

.InfoSection {
  transition: max-width 400ms ease;
}

.Panel {
  padding: 0 0 2rem 0;

  &:first-child {
    padding-top: 0;
  }

  @include select(Heading_Heading__tiny) {
    color: $color-neutral-grey4;
    font-weight: normal;
    @include GarbagePanel;
  }

  .htmlContent,
  > p {
    @include GarbagePanel;
    margin-bottom: 2rem;
  }

  .htmlContent h4,
  .htmlContent h3 {
    font-size: 1.6rem;
    margin: 0;
  }
  .htmlContent > p {
    &:first-child {
      margin-top: 0;
    }
  }
  .htmlContent,
  > p {
    > a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.Panel {
  .AfvalpuntContentHeading {
    @include GarbagePanel;
    margin-bottom: 2rem;
  }
}

.AddressPanel {
  max-width: $main-boxed-width;
  margin: 0 auto;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-top: 0.1rem solid $color-neutral-grey2;

  > p {
    font-weight: bold;
    font-size: 1.4em;
  }

  @include mq-tablet() {
    margin: 0 2rem;
  }

  @include mq-phone() {
    margin: 0 1rem;
  }
}

.DistanceToHome {
  font-size: 1.3rem;
  color: $color-neutral-grey4;
  font-weight: normal;
}

.ToggleOtherGarbageCentersButton {
  max-width: 64rem;
  margin: 0 auto;

  @include select(Button_Linkd) {
    cursor: pointer;
    @include select(Button_Icon) {
      transition: transform 100ms ease-in-out;
    }
  }
}

.InfoSectionMap {
  border: 0;
  // hairline that represents the same width as other sections. The map is set at 100% vw, the default border will expand to that with and thus mismatching design.
  &:after {
    position: absolute;
    display: block;
    content: '';
    border-bottom: .1rem solid $color-neutral-grey2;
    width: $main-boxed-width;
    max-width: calc(100% - 2rem);
    left: 50%;
    transform: translateX(-50%);
  }
  &[class*=SectionCollapsible]:not([class*=SectionCollapsible_isCollapsed]) {
    max-width: 100%;
  }
}

.OpeningHours {
   > *:not(:first-child) {
    background-color: $color-neutral-grey1;
    padding: 1rem;
    margin: 0;
    // display: none;
  }

  > ul {
    padding-left: 3rem!important; // sorry...
  }
}

.ContactLink {
  margin-left: -1.8rem;

  @include mq-phone {
    margin-left: 0;
  }
}
