.DistanceToHome {
  font-size: 1.3rem;
  color: $color-neutral-grey4;
  font-weight: normal;
  display: inline-block;
  margin-left: 0.5rem;
}

.NoMargin {
  margin-top: 0;
  margin-bottom: 0;
}

.GarbageFractionPanel {
  p a {
    color: var(--ams-link-color);
    text-decoration-line: var(--ams-link-standalone-text-decoration-line);
    text-decoration-thickness: var(
      --ams-link-standalone-text-decoration-thickness
    );
    text-underline-offset: var(--ams-link-standalone-text-underline-offset);
  }
}

.GarbageFractionPanels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq-phone() {
    display: block;
  }
}

.GarbageFractionPanelsColumn {
  &:first-child {
    width: calc(50% - 1rem);
  }

  &:last-child {
    width: calc(50% - 1rem);
    margin-left: 1rem;
  }

  @include mq-phone() {
    &:first-child,
    &:last-child {
      margin: 0;
      width: auto;
    }
  }
}

.GarbageFractionPanel {
  background-color: $color-neutral-grey1;
  margin-bottom: 1.6rem;
  padding: 0.8rem 1.6rem;

  dl {
    display: flex;
    flex-direction: row;
  }

  dt {
    min-width: 22%;
    color: $color-neutral-grey4;
  }

  dd {
    width: 80%;
    font-weight: bold;

    p {
      margin: 0;

      + p {
        margin-top: 1rem;
      }
    }
  }
}

.GarbageFractionPanelTitle {
  font-size: 1.8rem;
  margin: 0;
  border-bottom: 0.1rem solid $color-neutral-grey4;
  display: flex;
}

.GarbageFractionIcon {
  display: inline-block;
  margin-right: 2rem;
}

.GarbageFractionPanelHighlight {
  background-color: $color-support-focus;
  padding: 0.5rem 1rem;
}

.UnstyledList {
  @include reset-list-style();
}
