@import '../../styles/_global.scss';

.DatasetIcon {
  margin-right: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem $color-white solid;
  width: 2.8rem;
  height: 2.8rem;
}

.DatasetIconCircle {
  width: 1.6rem;
  height: 1.6rem;
}
