.DatasetIcon {
  margin-right: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  width: 28px;
  height: 28px;
}

.DatasetIconCircle {
  width: 16px;
  height: 16px;
}
