@use 'sass:map';

$colors: (
  'grey': (
    background-color: $color-neutral-grey5,
  ),
  'lightBlue': (
    background-color: $color-support-lightblue,
  ),
  'yellow': (
    background-color: $color-support-yellow,
  ),
  'valid': (
    background-color: $color-support-valid,
  ),
  'orange': (
    background-color: $color-support-orange,
  ),
  'purple': (
    background-color: $color-support-purple,
  ),
  'lightGreen': (
    background-color: $color-support-lightgreen,
  ),
  'pink': (
    background-color: $color-support-pink,
  ),
  'focus': (
    background-color: $color-support-focus,
  ),
  'black': (
    background-color: $color-black,
  ),
  'blue': (
    background-color: $color-support-blue,
  ),
  'bluePrimary': (
    background-color: $color-primary-darkblue,
  ),
);

@function color-prop($color, $prop) {
  @return map.get(map.get($colors, $color), $prop);
}

@mixin colorStyle($color: grey) {
  &__#{$color} {
    background-color: color-prop($color, background-color);

    @content;
  }
}

.DatasetIcon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem $color-white solid;
  width: 2.8rem;
  height: 2.8rem;
  @include colorStyle('grey');
  @include colorStyle('lightBlue');
  @include colorStyle('yellow');
  @include colorStyle('valid');
  @include colorStyle('orange');
  @include colorStyle('purple');
  @include colorStyle('lightGreen');
  @include colorStyle('pink');
  @include colorStyle('focus');
  @include colorStyle('black');
  @include colorStyle('blue');
  @include colorStyle('bluePrimary');
}

.DatasetIconCircle {
  width: 1.6rem;
  height: 1.6rem;
}
