@import '../../styles/_global.scss';

.MarkerClusterIcon {
  &:before {
    content: '';
    background-color: $color-support-blue;
    border-radius: 50%;
    color: $color-white;
    font-weight: bold;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    // box-shadow: 1px 0px 0 1px rgba(0, 0, 0, .1);
  }
}

.MarkerClusterIconLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.4rem;
  color: $color-white;
}
.MarkerIcon {
  width: 32px;
  height: 32px;
  display: block;;
  &.Feature--selected {
    > div {
      transition: transform 100ms cubic-bezier( 0.175, 0.885, 0.32, 1.275 );
      transform: translateY(-20px);
    }

  }
}

.pin {
  opacity: 0;
  position: relative;
  display: block;

  &:before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 32px;
    height: 32px;
    background-color: $color-white;
    display: block;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, .1);
  }
}

.MarkerIcon.Feature--selected .pin {
  opacity: 1;
  transform: translateX(-1px) translateY(-21px);
  transition: transform 100ms cubic-bezier( 0.175, 0.885, 0.32, 1.275 );
}

.Feature--selected {
  &[stroke] {
    fill: red!important;
    stroke: red!important;
  }
}

.FeatureLoader {
  position: absolute;
  z-index: z-index(my-area-feature-loader);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 1rem;
  background-color: rgba(255, 255, 255, .8);
  color: $color-support-blue;
  padding: .2rem 1rem;
  font-weight: 500;
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, .1);
  border: 1px solid $color-support-blue;
}

.ErrorMessages {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: z-index(my-area-error-messages);
  max-width: $main-boxed-width;
  @include mq-phone {
    max-width: calc(100% - 2rem);
  }
  width: 100%;
  min-height: 4rem;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .1);
  > p {
    background-color: $color-white;
  }
}
