@import '../../styles/_global.scss';

@mixin closeUpZoom() {
  :global(.map-zoom--15) &,
  :global(.map-zoom--16) &,
  :global(.map-zoom--17) &,
  :global(.map-zoom--18) {
    @content;
  }
}

.DatasetPanelContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $color-white;
  padding: 2rem;
  z-index: z-index(map-dataset-panel-container);
}

.MapDatasetList {
  @include reset-list-style;
}

.MapDatasetListItem {
  margin: .2rem 0;
  padding: .2rem 0;
  label:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 50%;
    background-color: #000;
    margin-right: .4rem;
  }
}

.MapDatasetListItemToggle {
  display: flex;
  align-items: center;
  flex-direction: row;

  > img,
  > input {
    margin-right: .4rem;
  }
}

.MapDatasetToggleAll {
  display: block;
  border-bottom: 1px solid $color-neutral-grey2;
  padding-bottom: .6rem;
  margin-bottom: .4rem;
}

.isDatasetActive {
  font-weight: 500;
}


.MarkerIcon {
  &:before {
    content: '';
    background-color: $color-support-blue;
    border-radius: 50%;
    color: $color-white;
    font-weight: bold;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    // box-shadow: 1px 0px 0 1px rgba(0, 0, 0, .1);
  }
}

.MarkerIconLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.4rem;
  color: $color-white;

  @include closeUpZoom() {
    color: $color-black;
    text-shadow: -1px -1px 0 $color-white, 1px -1px 0 $color-white, -1px 1px 0 $color-white, 1px 1px 0 $color-white;
  }

}

.MarkerIcon {
    @include closeUpZoom() {
      &:before {
        transform: scale(.5);
        box-shadow: none;
        border: 2px solid #fff;
      }
      .MarkerIconLabel {
        display: none;
      }
    }

    &-afvalcontainers--glas {
      @include closeUpZoom() {
        &:before {
          background-color: yellow;
        }
      }
    }
    &-afvalcontainers--plastic {
      @include closeUpZoom() {
        &:before {
          background-color: orange;
        }
      }
    }
    &-afvalcontainers--rest {
      @include closeUpZoom() {
        &:before {
          background-color: $color-neutral-grey4;
        }
      }
    }
    &-afvalcontainers--textiel {
      @include closeUpZoom() {
        &:before {
          background-color: $color-black;
        }
      }
    }
    &-afvalcontainers--papier {
      @include closeUpZoom() {
        &:before {
          background-color: blue;
        }
      }
    }
    &-afvalcontainers--gft {
      @include closeUpZoom() {
        &:before {
          background-color: green;
        }
      }
    }

    &-bekendmakingen--omgevingsvergunning {
      @include closeUpZoom() {
        &:before {
          background-color: purple;
        }
      }
    }

    &-parkeren--parkeerzones {
      span {
        right: auto;
        bottom: auto;
        background-color: red;
        padding: 1rem;
        white-space: nowrap;
        display: block;
        color: $color-white;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 50%;
        // width: 10rem;
        transform: transslateX(-50%) translateY(-50%);
      }
      &:before {
        display: none;
      }
    }
  }

  // Legend styles
  .MapDatasetListItem--glas label:before {
    background-color: yellow;
  }
  .MapDatasetListItem--papier label:before {
    background-color: blue;
  }
  .MapDatasetListItem--plastic label:before {
    background-color: orange;
  }
  .MapDatasetListItem--gft label:before {
    background-color: green;
  }
  .MapDatasetListItem--rest label:before {
    background-color: $color-neutral-grey4;
  }
  .MapDatasetListItem--textiel label:before {
    background-color: $color-black;
  }
  // .MapZoom--7 {
    //   :global(.single-marker-icon span) {
      //     text-indent: -10000px;
      //   }
      // }
      // .MapZoom--8 {
        //   :global(.single-marker-icon span) {
          //     text-indent: -10000px;
          //   }
          // }
          // .MapZoom--9 {
            //   :global(.single-marker-icon span) {
              //     text-indent: -10000px;
              //   }
              // }
              // .MapZoom--10 {
                //   :global(.single-marker-icon span) {
                  //     text-indent: -10000px;
                  //   }
                  // }
                  // .MapZoom--11 {
                    //   :global(.single-marker-icon span) {
                      //     text-indent: -10000px;
                      //   }
                      // }

                      // .MapZoom--12,
                      // .MapZoom--13,
                      // .MapZoom--14,
                      // .MapZoom--15,
                      // .MapZoom--16 {
                        //   :global(.single-marker-icon span) {
                          //     position: relative;
                          //     box-shadow: none;
                          //     text-indent: -10000px;
                          //     transform: scale(.5);
                          //   }
                          // }
