@import '../../styles/_global.scss';

.MyAreaLoader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: z-index(my-area-address-loader);

  > span {
    display: inline-flex;
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    padding: 1rem;
  }

  svg {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}

