@import '../../styles/_global.scss';

.LogoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Logo {
  display: block;
  height: 4.5rem;
  width: 9.6rem;
  margin-right: 0.8rem;

  @include mq-phone() {
    height: 3rem;
    width: 6.6rem;
    margin-right: 0;
  }
}

.Header {
  display: flex;
  height: 6.4rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  border-bottom: .2rem solid rgba(0, 0, 0, .3);

  @include mq-phone() {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.Title {
  font-size: 2rem;
  margin: 0;
  margin-left: 1.5rem;
  flex-grow: 1;
  transform: translateY(-0.4rem);
}

:global(.leaflet-tooltip).MarkerLabel {
  background-color: rgba(255, 255, 255, .7);
  border-radius: 0;
  border: 0;
  box-shadow: none;

  &:before {
    display: none;
  }
}

.MarkerLabelText {
  // width: 200px;
  color: $color-black;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

// NOTE: Enable and add styling if we decide to have outstanding focusstyle
// :global(.leaflet-marker-icon) {
//   &:focus > div {
//     outline: 10px solid red;
//   }
// }
