.MarkerClusterIcon {
  // Circle around marker cluster icon (count)
  &:before {
    content: '';
    background-color: var(--ams-color-primary-blue);
    border-radius: 50%;
    display: flex;
    height: 100%;
  }
}

.MarkerClusterIconLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.2rem;
  color: var(--ams-color-primary-white);
}

.MarkerIcon {
  display: block;
  position: relative;
  &.Feature--selected {
    color: inherit;
  }
}

.FeatureLoader {
  position: absolute;
  z-index: z-index(my-area-feature-loader);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--ams-color-primary-blue);
  padding: 0.2rem 1rem;
  font-weight: 500;
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--ams-color-primary-blue);
  white-space: nowrap;
}

.ErrorMessages {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: z-index(my-area-error-messages);
  max-width: 60rem;
  width: 100%;
  min-height: 4rem;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
  > p {
    background-color: var(--ams-color-primary-white);
  }
}

// NOTE: Enable and add styling if we decide to have outstanding focusstyle
:global(.leaflet-marker-icon:not([class*='Feature--selected'])) {
  &:focus > div {
    &:before {
      content: '';
      width: 120%;
      height: 120%;
      position: absolute;
      display: block;
      background-color: var(--ams-color-yellow);
      // opacity: .8;
      z-index: -1;
      border-radius: 50%;
    }
    &.MarkerClusterIconLabel:before {
      width: 150%;
      height: 150%;
    }
  }
}

.Feature--selected {
  > div {
    &:before {
      content: '';
      width: 120%;
      height: 120%;
      position: absolute;
      display: block;
      background-color: var(--ams-color-primary-red);
      // opacity: .8;
      z-index: -1;
      border-radius: 50%;
    }
    &.MarkerClusterIconLabel:before {
      width: 150%;
      height: 150%;
    }
  }
  &[stroke] {
    fill: red !important;
    stroke: red !important;
    stroke-width: 2;
  }
}
