.DashboardMapContainer {
  background-color: var(--ams-color-neutral-grey1);
  min-height: 50rem;
  margin-top: 8rem;
  margin-bottom: 10rem;
  position: relative;
}

.DashboardMap {
  position: absolute;
}

.NavLink {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-decoration: none;
  z-index: z-index(my-area-dashboard-content);
  text-decoration: none;
}

.NavLinkContentWrap {
  display: block;
  background-color: var(--ams-color-primary-white);
  padding: 2rem 4rem;
  width: 46rem;
}
