.MainHeaderWrap {
  background-color: white;
  position: relative;
  z-index: z-index(main-header);
}

.Backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: z-index(main-menu-backdrop);
}

// Top header bar
.HeaderGridPadding {
  min-height: 80px;
}

.TopCell {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MainMenuWrap {
  position: absolute;
  left: 0;
  right: 0;
  z-index: z-index(main-menu);
  background-color: white;
}

.ProfileNameInner {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.LogoWrap {
  display: flex;
  gap: var(--ams-space-lg);
  text-decoration: none;
}

.SearchBarWrap {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar {
  width: 100%;
  padding: var(--ams-space-lg) 0;
}

.ErrorMessagesWrap {
  top: 150px;
  width: 60rem;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
