.MainHeaderWrap {
  background-color: white;
  position: relative;
  z-index: z-index(main-header);
}
.Backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: z-index(main-menu-backdrop);
}

.SecondaryLinks {
  text-align: right;
  --ams-button-line-height: 1;
  --ams-icon-size-5-line-height: 1;
}

// Top header bar
.HeaderGridPadding {
  padding: calc(var(--ams-link-list-gap) * 1.2) 0;
}

.MainMenuWrap {
  position: absolute;
  left: 0;
  right: 0;
  z-index: z-index(main-menu);
  background-color: white;
}

.ProfileNameInner {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.LogoWrap {
  display: flex;
  gap: var(--ams-space-lg);
}
