.MainHeaderSecondaryLink:hover {
  --ams-button-tertiary-hover-border-color: transparent;
}

@media screen and (max-width: $ams-breakpoint-medium) {
  :global(
    .ams-page-header > .ams-page-header__branding > .ams-page-header__logo-link
  ) {
    width: 14px;
    overflow: hidden;
  }

  :global(
    .ams-page-header
      .ams-page-header__navigation
      .ams-page-header__menu
      .ams-page-header__mega-menu-button
      .ams-page-header__mega-menu-button-label
  ) {
    display: none;
  }
  :global(
    .ams-page-header
      .ams-page-header__navigation
      .ams-page-header__menu
      .ams-page-header__mega-menu-button
      .ams-page-header__mega-menu-button-hidden-label
  ) {
    display: none;
  }

  :global(
    .ams-page-header .ams-page-header__navigation .ams-page-header__menu
  ) {
    position: absolute;
    right: var(--ams-space-l);
    top: 4px;
    column-gap: 0;
  }
}

.ProfileNameInner {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:global(.ams-link).SearchButtonActive {
  font-weight: var(--ams-page-header-mega-menu-button-label-open-font-weight);
}

.SearchBarWrap {
  background-color: var(--ams-color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(
    var(--ams-page-max-inline-size) - calc(var(--ams-space-xl) * 3)
  );
  margin: 0 auto;
}

.SearchBar {
  width: 100%;
  padding: var(--ams-space-l);
  @media screen and (min-width: $ams-breakpoint-medium) {
    padding: var(--ams-space-l) 0;
  }
}

.MainMenuOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 402;
  background-color: rgba(0, 0, 0, 0.5);
}
