.Stadspas_owner {
  color: var(--ams-link-color);
  font-size: var(--ams-text-level-2-font-size);
}
.Stadspas_balance {
  color: var(--ams-paragraph-color);
  font-weight: var(--ams-paragraph-font-weight);
  padding-left: 1rem;
}
.Stadspas_secondaryInfo {
  font-size: var(--ams-text-level-6-font-size) !important;
}
