@media screen and (min-width: $ams-breakpoint-medium) {
  .Table_budgets,
  .Table_transactions {
    tr {
      > th,
      > td {
        width: 25%;
        &:nth-child(1) {
          width: 50%;
        }
      }
    }
  }
  .Table_transactions__withBudget {
    tr {
      > th,
      > td {
        width: 25%;
      }
    }
  }
}

.StadspasNummerInfo {
  padding-bottom: var(--ams-grid-row-gap-sm);
}

.BlokkeerDialog {
  --ams-dialog-max-inline-size: 40em;
}
