.Table_budgets,
.Table_transactions {
  tr {
    > th,
    > td {
      width: 25%;
      &:nth-child(1) {
        width: 50%;
      }
    }
  }
}

.StadspasNummerInfo {
  padding-bottom: var(--ams-grid-row-gap-sm);
}
