.Stadspas_owner {
  color: var(--ams-link-color);
  font-size: var(--ams-text-level-2-font-size);
}

.Stadspas_balance {
  color: var(--ams-paragraph-color);
  font-weight: var(--ams-paragraph-font-weight);
  padding-left: 1rem;
}

.Stadspas_secondaryInfo {
  font-size: var(--ams-text-level-6-font-size) !important;
}

.HistoricItemsMention {
  margin: 0 auto;
  max-width: 45rem;
  text-align: center;
  padding: 2rem 1rem;
  --ams-paragraph-color: #{var(--ams-color-neutral-grey3)};
}

.Stadspassen {
  height: fit-content;
  tr {
    height: 100%;
  }
}

.StatusValue {
  // Hack to align table cell content with other cells content
  &:before {
    content: '';
    line-height: var(--ams-link-standalone-line-height);
    font-size: var(--ams-text-level-2-font-size);
  }
}

@media screen and (min-width: $ams-breakpoint-medium) {
  .EerdereRegelingen,
  .Stadspassen,
  .HuidigeRegelingen {
    tr {
      > th,
      > td {
        &:nth-child(1) {
          width: 75%;
        }
        &:nth-child(2) {
          width: 25%;
          // white-space: break-spaces;
        }
      }
    }
  }
}

.Ontvanger {
  white-space: break-spaces;
}
