@import '../../styles/_global.scss';

.Sia {
  @include select(PageContent) {
    padding-bottom: $page-content-bottom-space;
  }
}

.SectionCollapsibleCurrent {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-top: 1.7rem;
}

.Table {
  tr td:nth-child(1) {
    width: 15%;
  }

  tr td:nth-child(2) {
    width: 40%;
  }

  tr td:nth-child(3) {
    width: 20%;
  }

  @include mq-tablet() {
    tr td:nth-child(1) {
      width: 100%;
    }

    tr td:nth-child(2) {
      width: 100%;
    }

    @include select(Table_DisplayPropTitle) {
      width: 100%;
    }
  }
}

.SurveyThumbs {
  display: inline-flex;
  text-decoration: none;
  font-weight: bold;

  + .SurveyThumbs {
    margin-left: 2rem;
  }

  // height: 2rem;
  svg {
    height: 2rem;
    margin-right: 0.5rem;
  }
}

.SurveyThumbsUp {
  &:hover,
  &:visited,
  & {
    color: $color-support-darkgreen;
  }

  svg {
    fill: $color-support-darkgreen;
    transform: translateY(-4px);
  }
}

.SurveyThumbsDown {
  &:hover,
  &:visited,
  & {
    color: $color-primary-red;
  }

  svg {
    fill: $color-primary-red;
    transform: translateY(3px);
  }
}
