@import '../../styles/_global.scss';

.Sia {
  @include select(PageContent) {
    padding-bottom: $page-content-bottom-space;
  }
}

.SectionCollapsibleCurrent {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-top: 1.7rem;
}

.Table {
  tr td:nth-child(1) {
    width: 20%;
  }
  tr td:nth-child(2) {
    width: 30%;
  }
  tr td:nth-child(3) {
    width: 25%;
  }

  @include mq-tablet() {
    tr td:nth-child(2) {
      width: 100%;
    }
    @include select(Table_DisplayPropTitle) {
      width: 100%;
    }
  }
}
