@import '../../styles/_global.scss';

.SectionCollapsible {
  margin-bottom: 1.8rem;
  border-bottom: .1rem solid $color-neutral-grey2;
}

.CaretIcon {
  height: 0.8em;
  width: 0.8em;
  position: absolute;
  top: 1.5rem;
  transform: translateY(-50%) rotate(0);
  left: 0;
  transition: transform 200ms ease-out;
}

.Title {
  position: relative;
  padding-left: .96em;
  margin: 0 auto;
  margin-bottom: 1.8rem;
  transform: translateX(-2.2rem);
  max-width: 62rem;

  @include mq-tablet() {
    margin-left: 9.5rem;
  }
  @include mq-phone() {
    margin-left: 0;
    transform: translateX(0);
  }

  span {
    padding-left: 0.2em;
  }
}

.TitleToggle {
  margin: 0;
  border: 0;
  background: 0;
  font-weight: bold;
  padding: 0;

  &[aria-expanded="true"] .CaretIcon {
    transform: translateY(-50%) rotate(90deg);
  }
}

.Panel {
  overflow: hidden;
  height: 0;
  position: relative;
}

.PanelInner {
  display: flex;
  flex-direction: column;
}

.NoItemsMessage {
  @include mq-tablet() {
    text-indent: 12rem;
  }
  @include mq-phone() {
    text-indent: 0;
  }
  text-indent: 16rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.ToggleMorePanel {
  background: $color-white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

