.SectionCollapsible {
  margin-bottom: 1.8rem;
  border-bottom: 0.1rem solid var(--ams-color-neutral-grey1);
}

@media print {
  .SectionCollapsible {
    break-before: always;
  }
}

.CaretIcon {
  height: 0.8em;
  width: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 1px)) rotate(0);
  left: 0;
  transition: transform 200ms ease-out;
}

.SectionCollapsible .Title {
  position: relative;
  padding-left: 0.96em;
  margin-left: 16rem;
  margin-bottom: 1.8rem;
  transform: translateX(-2.2rem);
  white-space: nowrap;

  span {
    padding-left: 0.2em;
  }
}

.TitleToggle {
  margin: 0;
  border: 0;
  background: 0;
  font-weight: bold;
  padding: 0;
  text-align: left;
  color: inherit;

  &[aria-expanded='true'] .CaretIcon {
    transform: translateY(-50%) rotate(90deg);
  }
}

.Panel {
  overflow: hidden;
  height: 0;
  position: relative;
}

@media print {
  .Panel {
    overflow: visible;
    height: auto !important;
  }
}

.NoItemsMessage {
  text-indent: 16rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.ToggleMorePanel {
  background: var(--ams-color-primary-white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.PanelInner {
  display: block;
}
