@import 'styles/_global.scss';

.Page {
  display: block;

  @include select(PageHeading_PageHeading) {
    @include centered-max;

    @include mq-tablet() {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @include mq-phone() {
      margin: 0;
    }
  }
}

.TextPage {

  @include select(PageHeading_HeadingInner) {
    @include centered-max(62rem);;
    width: calc(100% - 4rem);
    margin: 0 auto;

    @include mq-tablet() {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    @include mq-phone() {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.OverviewPage {

  @include select(PageHeading_HeadingInner) {
    margin-left: 0;
  }

  @include select(DataLinkTable_DataLinkTable) {
    @include centered-block;
  }
}

.DetailPage {
  @extend .OverviewPage;

  @include select(StatusLine_ListItemInner__) {
    @include centered-block;

    @include mq-tablet() {
      margin-left: 7rem;
    }

    @include mq-phone() {
      margin-left: 4rem;
    }
  }

  @include select(StatusLine_NoStatusItems, StatusLine_ListHeading) {
    @include centered-block;
    padding-left: 16rem;

    @include mq-tablet() {
      padding-left: 10rem;
    }

    @include mq-phone() {
      padding-left: 7rem;
    }
  }
}

.PageContent {
  @include centered-max(62rem);

  @include mq-tablet() {
    margin-left: 5rem;
    margin-right: 5rem;
    max-width: none;
  }

  @include mq-phone() {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
