.Step {
  .PanelActionGroup {
    margin-top: var(--ams-space-s);
    display: block;
  }

  .StepStatusDate {
    font-size: smaller;
  }

  .StepDocumentsList {
    --ams-ordered-list-ordered-list-item-margin-inline-start: 0;
    --ams-ordered-list-ordered-list-item-padding-inline-start: 0;
    --ams-ordered-list-ordered-list-list-style-type: none;
  }
}
