.LandingPageContent {
  --landing-page-button-size: 3rem;
}

.LoginBtn {
  display: inline-flex;
  height: var(--landing-page-button-size);
  width: fit-content;
  text-decoration: none;
  align-items: center;
  white-space: nowrap;

  .LoginButtonText {
    background-color: var(--ams-color-feedback-error);
    color: var(--ams-color-background);
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    line-height: var(--landing-page-button-size);
    font-size: smaller;
  }
}

.LoginBtn--digid {
  .LoginButtonText {
    background-color: var(--ams-color-feedback-error);
    &:hover {
      background-color: darken(#ec0000, 5%);
    }
  }
}
.LoginBtn--eherkenning {
  .LoginButtonText {
    background-color: var(--ams-color-interactive-hover);
    &:hover {
      background-color: darken(#003677, 5%);
    }
  }
}

.LoginBtnDisabled {
  cursor: progress;

  span {
    cursor: not-allowed;
    background-color: var(--ams-color-separator) !important;
    border-color: var(--ams-color-separator) !important;
    pointer-events: none;
    color: var(--ams-color-neutral-grey2) !important;
  }

  & {
    filter: grayscale(100%);
  }
}

.LoginOptionHeading {
  margin-bottom: 1rem;
}

.LoginLogoWrap {
  display: inline-flex;
  align-items: center;
  height: var(--landing-page-button-size);
  width: var(--landing-page-button-size);
  margin-right: 0.5rem;
  background-color: #000;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.LogoEherkenning {
  background-color: #fff;
}
