.Pagination {
}

.PageList {
  justify-content: space-between;
  display: inline-flex;
  padding: 0;
  list-style-type: none;
}

.PageSelectButton {
  background: none;
  border: 0;
  padding: 0;
  min-width: 2.8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0.2rem;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--ams-color-primary-red);
    text-decoration: underline;
  }

  &.SelectedPage {
    background-color: var(--ams-color-neutral-grey3);
    color: var(--ams-color-primary-white);
    &:hover {
      text-decoration: none;
    }
  }
  &.PagePrevButton {
    margin-left: -1.5rem;
    margin-right: 3rem;
  }
  &.PageNextButton {
    margin-left: 3rem;
  }
  &.PagePrevButton,
  &.PageNextButton {
    width: auto;
    padding: 0 0.3rem;
    font-weight: bold;

    &:hover {
      background-color: inherit;
      color: var(--ams-color-primary-red);
      text-decoration: underline;

      svg {
        fill: var(--ams-color-primary-red);
      }
    }

    svg {
      height: 100%;
    }
  }
}
