@import 'styles/_global.scss';

.MyUpdates > ul {
  @include reset-list-style;
}

.MyUpdateItem {
  border-top: 1px solid $color-neutral-grey2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  position: relative;

  &:first-child {
    border-top: 0;
  }
}

.Icon {
  position: absolute;
  left: 0;
  top: 2.3rem;
  fill: $color-primary-red;
}

.Description {
  margin: .2rem 0;
}

.Datum {
  font-size: 1.4rem;
}

.Action {
  margin: 0;
  margin-top: .4rem;
}

.FooterLink {
  margin: 0;
  padding: 2rem 0;
  border-top: 1px solid $color-neutral-grey2;
  border-bottom: 1px solid $color-neutral-grey2;
}

.ChapterIndication {
  font-style: normal;
  text-transform: capitalize;
  display: block;
}

.isUnread {
  .Datum {
    position: relative;
    padding-left: 1em;

    &:after {
      content: '• ';
      color: $color-support-lightblue;
      font-size: 1.6em;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.NoItemsInfo {
  margin-bottom: 0;
}

.FakeContent {
  padding-left: 0;
}
