@import '../../styles/_global.scss';

.AVG {
  @include select(PageContent) {
    padding-bottom: $page-content-bottom-space;
  }
}

.SectionCollapsibleFirst {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-top: 2.2rem;
}
