@import '../../styles/_global.scss';

.DetailPageContent {
  min-height: 4rem;
  padding-bottom: $page-content-bottom-space;
}

.Tozo2Alert {
  p {
    margin-top: 0;
  }
}

.TozoAlternatives {
  margin-left: 0;
  padding-left: 0;
}
