@import '../../styles/_global.scss';

.DetailPageContent {
  min-height: 4rem;
}

.DetailPageTozo {
  .AanvraagStatusLine {
    padding-top: .3rem;
  }
}

.Tozo2Alert {
  p {
    margin-top: 0;
  }
}
