.InfoDetail {
  border-top: 0.1rem solid var(--ams-color-neutral-grey1);
  padding-bottom: 2.5rem;
  padding-top: 1.6rem;
  margin: 0 auto;
}

.Value {
  display: block;
  margin: 0;
  padding-right: 16rem;
}

.InfoDetailGroup {
  border-top: 0.1rem solid var(--ams-color-neutral-grey1);

  > .Label {
    margin-top: 1.6rem;
  }

  .InfoDetail:nth-of-type(2) {
    .Value {
      padding-right: 10rem;
    }
  }

  .InfoDetail:nth-of-type(2) {
    .Value {
      padding-right: 0px;
    }
  }
}

.InfoDetailGroupContent {
  display: flex;
  flex-wrap: wrap;

  .InfoDetail {
    border-top: 0;
  }

  > * {
    flex: 1;
  }
}
