.InfoDetail {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-bottom: 2.5rem;
  padding-top: 1.6rem;
  margin: 0 auto;
}

.Value {
  display: block;
  font-size: 1.8rem;
  margin: 0;
  padding-right: 16rem;

  @include mq-phone {
    padding-right: 0;
  }
}

.InfoDetailGroup {
  border-top: 0.1rem solid $color-neutral-grey2;

  > .Label {
    margin-top: 1.6rem;
  }

  .InfoDetail:nth-of-type(2) {
    .Value {
      padding-right: 10rem;
    }
  }

  .InfoDetail:nth-of-type(2) {
    .Value {
      padding-right: 0px;
    }
  }
}

.InfoDetailGroupContent {
  display: flex;
  flex-wrap: wrap;

  @include mq-phone() {
    display: block;
  }

  .InfoDetail {
    border-top: 0;
  }

  > * {
    flex: 1;
  }
}
