@import '../../styles/_global.scss';

.Label {
  padding-bottom: 0.4rem;
  display: block;
  margin: 0;
}

.Value {
  color: $color-black;
  display: block;
  font-weight: 500;
  font-size: 1.8rem;
}

.InfoDetail {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-bottom: 2.5rem;
  padding-top: 1.6rem;
  color: $color-neutral-grey4;
  margin: 0;
}

.InfoDetailGroup {
  border-top: 0.1rem solid $color-neutral-grey2;
  > .Label {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-weight: normal;
    font-size: 1.6rem;
    color: $color-neutral-grey4;
  }
}

.InfoDetailGroupContent {
  display: flex;

  .InfoDetail {
    padding-top: 0;
    border-top: 0;
  }

  > * {
    flex: 1;
  }
}
