.TextClamp {
  position: relative;

  &.isClamped .textWrap {
    min-height: var(--minHeight);
  }

  &.isClamped.hasOverflow .textWrap {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: calc(var(--maxHeight) + 3rem);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ReadMoreButton {
  all: unset;
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  color: $color-primary-darkblue;
  text-decoration: underline;
  cursor: pointer;

  .label {
    display: block;
    background-color: var(--clampedGradientBgColor, $color-white);
    background-image: url('../../assets/icons/Chevron-Down.svg');
    background-repeat: no-repeat, repeat;
    background-position: center center;
    background-size:
      0.85em auto,
      100%;
    text-indent: -10000px;
    transform: rotate(180deg);
    border: 1px solid transparent;
  }

  &:hover {
    color: $color-primary-red;

    .label {
      border: 1px solid $color-neutral-grey3;
    }
  }

  &.isClamped {
    &::before {
      content: '';
      background: linear-gradient(
        to top,
        var(--clampedGradientBgColor, $color-white),
        rgba(255, 255, 255, 0)
      );
      display: block;
      height: 3rem;
      margin-top: -3rem;
      // height: 60px;
    }

    .label {
      transform: rotate(0deg);
    }
  }
}
