// DocumentLink
.DocumentLinkWrap {
  position: relative;
  display: block;
}

.DocumentLinkIcon {
  margin-right: 3px;
  transform: translateY(2px);
}

.LinkIcon {
  transform: translateY(1px);
}

.DownloadInfo {
  padding-left: 1.8rem;
  white-space: nowrap;
  font-size: var(--ams-paragraph-small-font-size);
  display: block;
}

.DocumentDownloadError {
  .LinkIcon,
  .DownloadInfo {
    color: var(--ams-color-primary-red);
  }
}
