.Icon {
  transform: translateY(1px);
}

.Info {
  padding-left: 1.8rem;
  white-space: nowrap;
  font-size: var(--ams-paragraph-small-font-size);
  display: block;
}

.Error {
  .Icon,
  .Info {
    color: var(--ams-color-primary-red);
  }
}
