.VarenTableThemaPagina {
  tr {
    th,
    td {
      @media screen and (min-width: $ams-breakpoint-medium) {
        &:nth-child(1),
        &:nth-child(2) {
          width: 30%;
        }

        &:nth-child(3),
        &:nth-child(4) {
          width: 20%;
        }
      }
    }
  }
}

.VarenGridWithoutRowGap {
  :global(.ams-grid) {
    row-gap: 0;
  }
}
