@import 'styles/_global.scss';

.PanelHeading {
  border-bottom: 1px solid $color-neutral-grey2;
  padding-top: 4rem;
  padding-bottom: 1.6rem;
  text-indent: 16rem;
  margin: 0;

  @include media("<=tablet") {
    text-indent: 0;
  }
  @include media("<=phone") {
    text-indent: 2.4rem;
  }
}

.MyUpdates {
  @include select(PageContentMainBody_PageContentMainBody) {
    width: 100%;
    max-width: $main-boxed-width;
    margin: 0 auto;
    position: relative;
    margin-bottom: 6rem;

    @include select(MyUpdates_Description) {
      padding-right: 30rem;

      @include media("<=phone") {
        padding-right: 2rem;
      }
    }

    @include select(MyUpdates_MyUpdateItem) {
      padding-left: 16rem;

      @include select(MyUpdates_Icon) {
        left: 6.4rem;
      }

      aside {
        width: 17.5rem;
        position: absolute;
        right: 0;

        time {
          color: $color-neutral-grey4;
        }
      }

      @include media("<=tablet") {
        padding-left: 0;

        @include select(MyUpdates_MyUpdateItem) {
          padding-left: 0;
        }

        aside {
          width: auto;
          position: static;
        }
      }
      @include media("<=phone") {
        padding-left: 2.4rem;
      }
    }

    @include select(MyUpdates_NoItemsInfo) {
      text-indent: 16rem;

      @include media("<=phone") {
        text-indent: 0;
      }
    }
  }

  .PreviousUpdatesPanel {
    background-color: $color-neutral-grey1;
    padding-bottom: 1rem;

    @include select(MyUpdates_Icon) {
      fill: $color-neutral-grey4;
    }
  }
}
