@import '../../../styles/global';

.DossierDetail__ordered_list {
  margin-bottom: 2rem;
}

.Section_heading {
  margin-bottom: 1rem;
}

.ColumnList {
  --list-item-row-height: 2rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--ams-grid-column-gap);
  grid-template-rows: repeat(
    3,
    var(--list-item-row-height)
  ); // Will be replaced dynamically

  @media screen and (min-width: $ams-breakpoint-wide) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.withBetalerWijzigenLink {
  white-space: nowrap;

  a {
    vertical-align: middle;
  }
}

.DossierDetailFacturenTable {
  > thead > tr {
    margin-top: 0;
  }
}

.FacturenBetalerDebiteur {
  padding: 0;

  @media screen and (max-width: $ams-breakpoint-medium) {
    dd {
      margin: 0;
    }
  }

  &_Col1 {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  &_Col2 {
    grid-column-start: 3;
    grid-column-end: span 2;
  }

  &_Col3 {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  @media screen and (min-width: $ams-breakpoint-medium) {
    &_Col1 {
      grid-column-start: 1;
      grid-column-end: span 3;
    }

    &_Col2 {
      grid-column-start: 4;
      grid-column-end: span 3;
    }

    &_Col3 {
      grid-column-start: 7;
      grid-column-end: span 3;
    }
  }
}

.BijzondereBepalingen {
  padding: 0;

  &_Col1 {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  &_Col2 {
    grid-column-start: 3;
    grid-column-end: span 2;
  }

  @media screen and (min-width: $ams-breakpoint-medium) {
    &_Col1 {
      grid-column-start: 1;
      grid-column-end: span 4;
    }

    &_Col2 {
      grid-column-start: 5;
      grid-column-end: span 4;
    }
  }
}

.periodeSamengesteld {
  display: block;

  @media screen and (min-width: $ams-breakpoint-medium) {
    display: inline;
  }
}

.DataListFinancieelPeriode {
  &:first-child {
    margin-bottom: 3rem;
  }
}
