@import '../../styles/_global.scss';

.FontEnlarger {
  position: relative;
  margin: auto;

  > button {
    font-weight: bold;
    @include button-unstyled();
  }
}

.FontEnlargerPopup {
  background-color: $color-white;
  border: 1px solid $color-neutral-grey4;
  display: none;
  left: 50%;
  margin-top: 16px;
  padding: 16px;
  position: absolute;
  text-align: left;
  top: 100%;
  transform: translateX(-50%);
  width: 30rem;
  z-index: z-index(font-enlarger-popup);
  display: none;

  > p {
    margin: 0;
  }

  &:before {
    border-color: transparent transparent $color-neutral-grey4;
    bottom: calc(100% + 1px);
  }

  &:after {
    border-color: transparent transparent $color-white;
    bottom: 100%;
  }

  &:before,
  &:after {
    border-style: solid;
    border-width: 0 20px 16px;
    content: "";
    display: inline-block;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

.isVisible {
  display: block;
}
