@import 'styles/global';

.App {
  min-height: calc(100vh - #{$main-header-total-height});
  padding-bottom: 6rem;
}

.NotYetAuthenticated {
  @include select(MainHeader_betaLabel) {
    display: none;
  }
}
