@import 'styles/global';

.App {
  min-height: calc(100vh - #{$main-header-total-height});
  min-width: $main-min-width;
  padding-bottom: 6rem;
}

.NotYetAuthenticated {
  @include select(MainHeader_betaLabel) {
    display: none;
  }
}

.PreLoader {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
