@import 'styles/global';

.App {
  min-height: calc(100vh - #{$main-header-total-height});
  min-width: $main-min-width;
  position: relative;
}

.NotYetAuthenticated {
  @include select(MainHeader_betaLabel) {
    display: none;
  }
}
