.SectionCollapsibleFirst {
  border-top: 0.1rem solid var(--ams-color-neutral-grey1);
  padding-top: 2.2rem;
}

.Pagination {
  margin: 0 auto;
  margin-top: 4rem;
  width: 50%;
  display: flex;
  justify-content: center;
}
