@import 'styles/_global.scss';

.DataLinkTable {
  padding-top: 4rem;
  margin-bottom: 8rem;
  transition: margin 200ms ease-out;
  overflow: auto; // fixes margin of wrapped DataLinkTable.Title being respected

  &.isCollapsed {
    margin-bottom: 0;
    .CaretIcon {
      transform: translateY(-50%) rotate(0);
    }
    .Panel {
      transition-timing-function: ease-out;
    }
  }

  &.noTransition {
    transition: none;
  }

  @include media("<=phone") {
    .Table {
      display: grid;
      tr, td, tbody {
        display: block;
      }
      td:not(:first-child) {
        display: block;
        padding-left: 1.3rem;
      }
      thead {
        display: none;
      }
    }
  }
}

.CaretIcon {
  height: .8em;
  width: .8em;
  position: absolute;
  top: 1.6rem;
  transform: translateY(-50%) rotate(90deg);
  left: 0;
  transition: transform 200ms ease-out;
}

.Title {
  cursor: pointer;
  position: relative;
  padding-left: 1em;
  margin-bottom: 4rem;

  &:focus {
    background-color: $color-support-focus;
  }

  span {
    padding-left: .2em;
  }
}

.Panel {
  overflow: hidden;
  transition: height 400ms ease-in;
  border-bottom: .1rem solid $color-neutral-grey2;

  @include media("<=phone") {
    border-bottom: 0;
  }
}

.Table {
  border-collapse: collapse;
}

.TableRow {
  td {
    padding: 1em 1em 1em 0;
    vertical-align: top;
    // Use nth-child here because css specificity allows us to change border-top for tablet easily
    &, &:nth-child(1) {
      border-top: .1rem solid $color-neutral-grey2;
      padding-top: 1em;
    }
  }
  th {
    text-align: left;
    color: $color-neutral-grey4;
    font-weight: 500;
  }
  @include media("<=phone") {
    td {
      border-top: 0;
      padding: 0;
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
}

.DisplayPropTitle {
  @include select(ButtonLink_ButtonLink) {
    white-space: normal;
    display: block;
  }
}
.DisplayPropLabel {
  display: none;
  padding-right: .3rem;

  @include media("<=phone") {
    display: initial;
  }
}
.DisplayProp {
  color: $color-neutral-grey4;
  font-weight: normal;
  white-space: nowrap;
}

.NoItemsMessage {
  text-indent: 16rem;
  margin-top: -3rem; // closer to the heading
  margin-bottom: 3rem;
}
