@import 'styles/_global.scss';

.DataLinkTable {
  padding-top: 4rem;
}

.Table {
  display: flex;
  flex-direction: column;

  @include IE11 {
    display: table;
    width: 100%;
  }

  @include mq-phone() {
    display: grid;
    tr,
    td,
    tbody {
      display: block;
    }
    td:not(:first-child) {
      display: block;
      padding-left: 1.3rem;
    }
    thead {
      display: none;
    }
  }
}

.TableRow {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;

  @include IE11 {
    display: table-row;
  }

  td {
    padding: 1em 1em 1em 0;
    vertical-align: top;
    flex: 1 1 auto;

    &:first-child {
      flex-basis: 75%;

      @include IE11 {
        width: 75%;
      }
    }
    // Use nth-child here because css specificity allows us to change border-top for tablet easily
    &,
    &:nth-child(1) {
      border-top: 0.1rem solid $color-neutral-grey2;
      padding-top: 1em;
    }
  }
  th {
    text-align: left;
    color: $color-neutral-grey4;
    font-weight: 500;
  }
  @include mq-phone() {
    td {
      border-top: 0;
      padding: 0;
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
}

.DisplayPropTitle {
  @include select(ButtonLink_ButtonLink) {
    white-space: normal;
    display: block;
  }
}
.DisplayPropLabel {
  display: none;
  padding-right: 0.3rem;

  @include mq-phone() {
    display: initial;
  }
}
.DisplayProp {
  color: $color-neutral-grey4;
  font-weight: normal;
  white-space: nowrap;
}
