@import 'styles/global';

.App {
  padding-bottom: 6rem;
}

.PreLoader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
