.App {
  --padding-bottom: calc(var(--ams-space-xl) * 2);
  padding-bottom: var(--padding-bottom);
  &:global(.ams-page) {
    min-block-size: calc(100dvh - var(--padding-bottom));
  }
}
.AppWide {
  --ams-page-max-inline-size: 100vw;
}
.PreLoader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
