// Colors and naming taken from https://designsystem.amsterdam.nl/7awj1hc9f/p/40629
$color-white: white;
$color-black: black;

$color-primary-red: #ec0000;
$color-primary-darkblue: #004699;

$color-neutral-grey1: #f5f5f5;
$color-neutral-grey2: #e6e6e6;
$color-neutral-grey3: #b4b4b4;
$color-neutral-grey4: #767676;
$color-neutral-grey5: #323232;

$color-support-valid: #00a03c;
$color-support-invalid: #ec0000;
$color-support-focus: #fec813;

$color-support-purple: #a00078;
$color-support-pink: #e50082;
$color-support-orange: #ff9100;
$color-support-yellow: #ffe600;
$color-support-lightgreen: #bed200;
$color-support-darkgreen: #00a03c;
$color-support-lightblue: #009dec;

$color-support-red: #ad2317;
$color-support-warning: #da2e20;

$color-support-blue: #184694;
$color-support-darkblue: #123876;

$color-overlay-black50: rgba(0, 0, 0, 0.5);
