@mixin center-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin page-content-main {
  min-height: 20rem;
}

@mixin heading($size, $line-height, $unit: 'rem') {
  font-size: #{$size}#{$unit};
  line-height: #{$line-height};
}

@mixin heading-large {
  @include heading(3, 1.3);
  font-weight: 800;

  @include media-query('<=phone') {
    @include heading(2.4, 1.3);
  }
}

@mixin heading-medium-large {
  @include heading(2.4, 1.3);
  font-weight: 800;

  @include media-query('<=phone') {
    @include heading(2.1, 1.3);
  }
}

@mixin heading-medium {
  @include heading(2, 1.3);
  font-weight: 800;
}

@mixin heading-small {
  @include heading(1.8, 1.3);
  font-weight: 800;
}

@mixin reset-list-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin select($name) {
  [class*='#{$name}'] {
    @content;
  }
}

@mixin select-id($name) {
  [id='#{$name}'] {
    @content;
  }
}

@mixin hoverCapable {
  @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active),
    (hover: hover) {
    @content;
  }
}

@mixin IE11() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin media-query($sizes...) {
  @supports (display: grid) {
    @include media($sizes...) {
      @content;
    }
  }
}

@mixin button-unstyled() {
  border: 0;
  background: transparent;
  padding: 0;
  width: auto;
}
