@mixin center-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin page-content-main {
  min-height: 20rem;
}

@mixin heading($size, $line-height, $unit: 'rem') {
  font-size: #{$size}#{$unit};
  line-height: #{$line-height};
}

@mixin heading-large {
  @include heading(3, 1.3);
  font-weight: 800;
}

@mixin heading-medium-large {
  @include heading(2.4, 1.3);
  font-weight: 800;
}

@mixin heading-medium {
  @include heading(2, 1.3);
  font-weight: 800;
}

@mixin heading-small {
  @include heading(1.8, 1.3);
  font-weight: 800;
}

@mixin reset-list-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin select($name) {
  [class*='#{$name}'] {
    @content;
  }
}

@mixin respond-to($media) {
  @if $media == small-screen {
    @media only screen and (max-width: $breakpoint-small) {
      @content;
    }
  } @else if $media == medium-screen {
    @media only screen and (max-width: $breakpoint-medium) {
      @content;
    }
  }
}
