.Stadspas_owner {
  color: var(--ams-link-color);
  font-size: var(--ams-text-level-3-font-size);
  line-height: 1;

  @media screen and (min-width: $ams-breakpoint-medium) {
    font-size: var(--ams-text-level-2-font-size);
  }
}

.Stadspas_balance {
  color: var(--ams-paragraph-color);
  font-weight: var(--ams-paragraph-font-weight);
  padding-left: 1rem;
  @media screen and (max-width: $ams-breakpoint-medium) {
    display: block;
    padding: 0;
  }
}

.Stadspas_secondaryInfo {
  font-size: var(--ams-text-level-6-font-size) !important;
}

.Stadspassen {
  td {
    vertical-align: middle;
  }
}

.StatusValue {
  // Hack to align table cell content with other cells content
  &:before {
    content: '';
    line-height: var(--ams-link-standalone-line-height);
    font-size: var(--ams-text-level-2-font-size);
  }
}

.Ontvanger {
  white-space: break-spaces;
}
