.Verbintenis {
  [class*='InfoPanel_InfoPanelTable'] + [class*='InfoPanel_InfoPanelTable'] {
    margin-top: 10rem;
  }

  @include mq-desktop() {
    [class*='InfoPanelTableRow__voornamen'] {
      th,
      th span,
      td {
        padding-top: 3rem;
      }
    }
  }
}

.Intro {
  padding-bottom: $page-content-bottom-space;

  @include mq-phone() {
    padding-bottom: 2rem;
  }
}

.LoadingContent {
  > * {
    margin-bottom: 6rem;
  }
}

.DefaultPanel {
  @include centered-block;
  margin-bottom: 1.6rem;
  border-top: 0.1rem solid $color-neutral-grey2;
}

.AddressPanel {
  border-top: 0.1rem solid $color-neutral-grey2;
  padding-top: 2rem;
}

.ProfileCommercial {
  @include select(SectionCollapsible_SectionCollapsible) {
    margin-top: 3rem;

    + [class*='InfoPanel_InfoPanel'] {
      border-top: 0;
      padding-top: 0;
    }
  }

  @include select(SectionCollapsible_SectionCollapsible) {
    + [class*='SectionCollapsible_SectionCollapsible'] {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.CollapsiblePanel {
  margin-bottom: 1.6rem;
}

.SuppressedParagraph {
  color: $color-neutral-grey4;
}

.ActionLink--reportIncorrectResidentCount {
  @include mq-desktop {
    position: absolute;
    bottom: 0.3rem;
    white-space: nowrap;
  }
}

.AlertVertrokkenOnbekendWaarheen + .AlertAdresInOnderzoek {
  margin-top: 2rem;
}
