@import '../../styles/_global.scss';

.Verbintenis {
  [class*='InfoPanel_InfoPanelTable'] + [class*='InfoPanel_InfoPanelTable'] {
    margin-top: 10rem;
  }

  @include mq-desktop() {
    [class*='InfoPanelTableRow__voornamen'] {
      th,
      th span,
      td {
        padding-top: 3rem;
      }
    }
  }
}

.Intro {
  padding-bottom: $page-content-bottom-space;

   @include mq-phone() {
    padding-bottom: 2rem;
  }
}

.LoadingContent {
  > * {
    margin-bottom: 6rem;
  }
}

.DefaultPanel {
  @include centered-block;
  margin-bottom: 1.6rem;
}

.ProfileCommercial {
  @include select(SectionCollapsible_SectionCollapsible) {
    margin-top: 3rem;

    + [class*="InfoPanel_InfoPanel"] {
        border-top: 0;
        padding-top: 1rem;
    }
  }
}

.CollapsiblePanel {
  margin-bottom: 1.6rem;
}

.SuppressedParagraph {
  color: $color-neutral-grey4;
}

.InfoPanelRechtspersonen.is-private-commercial {
  border: 0;
  padding-top: 0;
  margin-top: -1.4rem;
  @include select(Heading) {
    display: none;
  }
}
