@import 'styles/_global.scss';

.DataTable {
  border-bottom: 0.1rem solid $color-neutral-grey2;

  @include select(SectionCollapsible_Panel) {
    border-top: 0;
  }
  @include select(SectionCollapsible_SectionCollapsible) {
    border-bottom: 0;
  }
}
