.ProfileSectionPanelGrid {
  position: relative;
}

.ProfileSection {
  @media screen and (min-width: $ams-breakpoint-medium) {
    // Note: ugly hack to make the grid work evenly for all subsequent items.
    grid-template-columns: repeat(12, 1fr) !important;

    .Label {
      grid-column-start: 1;
      grid-column-end: span 3;
    }

    .Content {
      grid-column-start: 4;
      grid-column-end: span 9;
    }
  }
}

.ProfileSection {
  + .ProfileSection {
    margin-top: calc(var(--ams-space-l) * 2);
  }
}
