@import 'styles/_global.scss';

.MyChaptersPanel {
  background-color: $color-neutral-grey1;
  padding: 3.2rem 4rem;

  @include media("<=tablet") {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

.Title {
  margin: 0 0 2rem;
}

.Links {
  display: flex;
  flex-wrap: wrap;

  @include select(MainNavSubmenu_MainNavSubmenuLink) {
    width: calc(50% - .5rem);
    margin-bottom: 1rem;

    &:nth-child(odd) {
      margin-right: .5rem;
    }

    &:nth-child(even) {
      margin-left: .5rem;
    }

    @include media(">phone", "<=tablet") {
      padding-left: 0;
    }

    @include media("<=phone") {
      width: auto;

      &:nth-child(odd) {
        margin-right: 0;
      }

      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }

  @include media("<=phone") {
    display: block;
  }
}

.LoadingContent {
  width: 100%;
  display: grid;
  grid-template-columns: 4rem 1rem 12rem;
  grid-template-rows: 4rem 1rem 4rem;

  > :nth-child(2) {
    grid-column: 3;
  }
  > :nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
  > :nth-child(4) {
    grid-column: 3;
    grid-row: 3;
  }
  > :nth-child(1),
  > :nth-child(3) {
    border-radius: 50%;
  }
  > :nth-child(2),
  > :nth-child(4) {
    margin-top: 1rem;
  }
}

.LoadingContent {
  width: 100%;
  display: grid;
  grid-template-columns: 4rem 1rem 12rem;
  grid-template-rows: 4rem 1rem 4rem;

  > :nth-child(2) {
    grid-column: 3;
  }
  > :nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
  > :nth-child(4) {
    grid-column: 3;
    grid-row: 3;
  }
  > :nth-child(1),
  > :nth-child(3) {
    border-radius: 50%;
  }
  > :nth-child(2),
  > :nth-child(4) {
    margin-top: 1rem;
  }
}
