@import 'styles/_global.scss';

.MyChaptersPanel {
  background-color: $color-neutral-grey1;
  padding: 3.2rem 0 4rem 0;
}

.Title {
  margin: 0 0 2rem 3.2rem;

  @include mq-phone() {
    margin-left: 1rem;
  }
}

.Links {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3.2rem;

  @include mq-tablet() {
    display: block;
  }

  @include mq-phone() {
    padding-left: 1rem;
  }

  @include select(MainNavSubmenu_MainNavSubmenuLink) {
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;

    &:nth-child(odd) {
      margin-right: 0.5rem;
    }

    &:nth-child(even) {
      margin-left: 0.5rem;
    }

    @include mq-tablet() {
      padding-left: 0;
      width: auto;
      min-width: 18.5rem;

      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }
}

.LoadingContent {
  width: 100%;
  display: grid;
  grid-template-columns: 4rem 1rem 12rem;
  grid-template-rows: 4rem 1rem 4rem;

  > :nth-child(2) {
    grid-column: 3;
  }
  > :nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
  > :nth-child(4) {
    grid-column: 3;
    grid-row: 3;
  }
  > :nth-child(1),
  > :nth-child(3) {
    border-radius: 50%;
  }
  > :nth-child(2),
  > :nth-child(4) {
    margin-top: 1rem;
  }
}
