@import 'styles/_global.scss';

.MyChaptersPanel {
  background-color: $color-neutral-grey1;
  padding: 3.2rem 4rem;
}

.Title {
  margin: 0 0 2rem;
}

.Links {
  display: flex;
  flex-wrap: wrap;

  @include select(MainNavSubmenu_MainNavSubmenuLink) {
    width: 50%;
  }
}

.LoadingContent {
  width: 100%;
  display: grid;
  grid-template-columns: 4rem 1rem 12rem;
  grid-template-rows: 4rem 1rem 4rem;

  > :nth-child(2) {
    grid-column: 3;
  }
  > :nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
  > :nth-child(4) {
    grid-column: 3;
    grid-row: 3;
  }
  > :nth-child(1),
  > :nth-child(3) {
    border-radius: 50%;
  }
  > :nth-child(2),
  > :nth-child(4) {
    margin-top: 1rem;
  }
}
